In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2012/충북", "*_강수확률_201201_201212.csv"))

In [5]:
kw2013_pre_pro

['2012/충북/강내면_강수확률_201201_201212.csv',
 '2012/충북/보은읍_강수확률_201201_201212.csv',
 '2012/충북/용두동_강수확률_201201_201212.csv',
 '2012/충북/교현.안림동_강수확률_201201_201212.csv',
 '2012/충북/추풍령면_강수확률_201201_201212.csv',
 '2012/충북/복대1동_강수확률_201201_201212.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.67_106.Start...20120101
0               1   200.0       4.0                                     30.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                     10.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              46127 non-null  object
 1   hour                                     46116 non-null  float64
 2   forecast                                 46116 non-null  float64
 3   value..location.67_106.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
24029  Start:20120701   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
42034  Start:20121201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
kw2013_pre_pro_1.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:42033]["date"]
kw2013_pre_pro_1.loc[42035:]["date"] = "201212" + kw2013_pre_pro_1.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2453965924.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[42035:]["date"] = "201212" + kw2013_pre_pro_1.loc[42035:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         18.50
2    20120103         30.75
3    20120104          9.00
4    20120105         14.25
..        ...           ...
345  20121227         36.25
346  20121228         25.00
347  20121229         48.75
348  20121230         17.50
349  20121231         31.25

[350 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         18.50
2    20120103         30.75
3    20120104          9.00
4    20120105         14.25
..        ...           ...
345  20121227         36.25
346  20121228         25.00
347  20121229         48.75
348  20121230         17.50
349  20121231         31.25

[350 rows x 2 columns]

In [22]:
kw2013_pre_pro_2

      format..day    hour  forecast  value..location.73_103.Start...20120101
0               1   200.0       4.0                                     30.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                     10.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [23]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              46127 non-null  object
 1   hour                                     46116 non-null  float64
 2   forecast                                 46116 non-null  float64
 3   value..location.73_103.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [24]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [25]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [26]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/1467841179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [27]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_2['date'] == 'Start:2012701') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
42034  Start:20121201   NaN       NaN           NaN

In [28]:
kw2013_pre_pro_2.loc[:4091]["date"] = "201201" + kw2013_pre_pro_2.loc[:4091]["date"]
kw2013_pre_pro_2.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_2.loc[4093:7920]["date"]
kw2013_pre_pro_2.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_2.loc[7922:12013]["date"]
kw2013_pre_pro_2.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_2.loc[12015:15974]["date"]
kw2013_pre_pro_2.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_2.loc[15976:20067]["date"]
kw2013_pre_pro_2.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_2.loc[20069:24028]["date"]
kw2013_pre_pro_2.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_2.loc[24030:28121]["date"]
kw2013_pre_pro_2.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_2.loc[28123:32214]["date"]
kw2013_pre_pro_2.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_2.loc[32216:36175]["date"]
kw2013_pre_pro_2.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_2.loc[36177:40268]["date"]
kw2013_pre_pro_2.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_2.loc[40270:42033]["date"]
kw2013_pre_pro_2.loc[42035:]["date"] = "201212" + kw2013_pre_pro_2.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091]["date"] = "201201" + kw2013_pre_pro_2.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_2.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_2.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_2.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_2.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_2.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_2.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_2.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_2.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_2.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_2.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3041878283.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[42035:]["date"] = "201212" + kw2013_pre_pro_2.loc[42035:]["date"]

In [29]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [30]:
kw2013_pre_pro_2["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [31]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [32]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [33]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [34]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20120101         7.500
1    20120102        17.500
2    20120103        31.625
3    20120104         7.750
4    20120105        13.750
..        ...           ...
345  20121227        36.250
346  20121228        25.000
347  20121229        45.000
348  20121230        11.250
349  20121231        31.250

[350 rows x 2 columns]

In [35]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         18.50
2    20120103         30.75
3    20120104          9.00
4    20120105         14.25
..        ...           ...
695  20121227         36.25
696  20121228         25.00
697  20121229         45.00
698  20121230         11.25
699  20121231         31.25

[700 rows x 2 columns]

In [36]:
kw2013_pre_pro_3

      format..day    hour  forecast  value..location.81_118.Start...20120101
0               1   200.0       4.0                                     30.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                      0.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [37]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              46127 non-null  object
 1   hour                                     46116 non-null  float64
 2   forecast                                 46116 non-null  float64
 3   value..location.81_118.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [38]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [39]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [40]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/1179430012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [41]:
print(kw2013_pre_pro_3.loc[(kw2013_pre_pro_3['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120701') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
24029  Start:20120701   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
42034  Start:20121201   NaN       NaN           NaN

In [42]:
kw2013_pre_pro_3.loc[:4091]["date"] = "201201" + kw2013_pre_pro_3.loc[:4091]["date"]
kw2013_pre_pro_3.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_3.loc[4093:7920]["date"]
kw2013_pre_pro_3.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_3.loc[7922:12013]["date"]
kw2013_pre_pro_3.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_3.loc[12015:15974]["date"]
kw2013_pre_pro_3.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_3.loc[15976:20067]["date"]
kw2013_pre_pro_3.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_3.loc[20069:24028]["date"]
kw2013_pre_pro_3.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_3.loc[24030:28121]["date"]
kw2013_pre_pro_3.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_3.loc[28123:32214]["date"]
kw2013_pre_pro_3.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_3.loc[32216:36175]["date"]
kw2013_pre_pro_3.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_3.loc[36177:40268]["date"]
kw2013_pre_pro_3.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_3.loc[40270:42033]["date"]
kw2013_pre_pro_3.loc[42035:]["date"] = "201212" + kw2013_pre_pro_3.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091]["date"] = "201201" + kw2013_pre_pro_3.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_3.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_3.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_3.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_3.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_3.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_3.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_3.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_3.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_3.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_3.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3568455963.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[42035:]["date"] = "201212" + kw2013_pre_pro_3.loc[42035:]["date"]

In [43]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [44]:
kw2013_pre_pro_3["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [45]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [46]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [47]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [48]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         17.50
2    20120103         30.00
3    20120104          0.00
4    20120105          6.25
..        ...           ...
345  20121227         26.25
346  20121228         22.50
347  20121229         50.00
348  20121230          2.50
349  20121231         31.25

[350 rows x 2 columns]

In [49]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          7.50
1     20120102         18.50
2     20120103         30.75
3     20120104          9.00
4     20120105         14.25
...        ...           ...
1045  20121227         26.25
1046  20121228         22.50
1047  20121229         50.00
1048  20121230          2.50
1049  20121231         31.25

[1050 rows x 2 columns]

In [50]:
kw2013_pre_pro_4

      format..day    hour  forecast  value..location.77_114.Start...20120101
0               1   200.0       4.0                                     30.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                      0.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [51]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              46127 non-null  object
 1   hour                                     46116 non-null  float64
 2   forecast                                 46116 non-null  float64
 3   value..location.77_114.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [52]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [53]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [54]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/845263854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [55]:
kw2013_pre_pro_4.loc[:4091]["date"] = "201201" + kw2013_pre_pro_4.loc[:4091]["date"]
kw2013_pre_pro_4.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_4.loc[4093:7920]["date"]
kw2013_pre_pro_4.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_4.loc[7922:12013]["date"]
kw2013_pre_pro_4.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_4.loc[12015:15974]["date"]
kw2013_pre_pro_4.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_4.loc[15976:20067]["date"]
kw2013_pre_pro_4.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_4.loc[20069:24028]["date"]
kw2013_pre_pro_4.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_4.loc[24030:28121]["date"]
kw2013_pre_pro_4.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_4.loc[28123:32214]["date"]
kw2013_pre_pro_4.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_4.loc[32216:36175]["date"]
kw2013_pre_pro_4.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_4.loc[36177:40268]["date"]
kw2013_pre_pro_4.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_4.loc[40270:42033]["date"]
kw2013_pre_pro_4.loc[42035:]["date"] = "201212" + kw2013_pre_pro_4.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091]["date"] = "201201" + kw2013_pre_pro_4.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_4.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_4.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_4.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_4.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_4.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_4.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_4.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_4.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_4.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_4.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3027705220.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[42035:]["date"] = "201212" + kw2013_pre_pro_4.loc[42035:]["date"]

In [56]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [57]:
kw2013_pre_pro_4["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [58]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [59]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [60]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [61]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         17.50
2    20120103         26.25
3    20120104          0.00
4    20120105          6.25
..        ...           ...
345  20121227         31.25
346  20121228         22.50
347  20121229         48.75
348  20121230          2.50
349  20121231         31.25

[350 rows x 2 columns]

In [62]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          7.50
1     20120102         18.50
2     20120103         30.75
3     20120104          9.00
4     20120105         14.25
...        ...           ...
1395  20121227         31.25
1396  20121228         22.50
1397  20121229         48.75
1398  20121230          2.50
1399  20121231         31.25

[1400 rows x 2 columns]

In [63]:
kw2013_pre_pro_5

      format..day    hour  forecast  value..location.78_98.Start...20120101
0               1   200.0       4.0                                    30.0
1               1   200.0       7.0                                    20.0
2               1   200.0      10.0                                    10.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    10.0
46123          31  2300.0      43.0                                     0.0
46124          31  2300.0      46.0                                     0.0
46125          31  2300.0      49.0                                     0.0
46126          31  2300.0      52.0                                     0.0

[46127 rows x 4 columns]

In [64]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   format..day                             46127 non-null  object
 1   hour                                    46116 non-null  float64
 2   forecast                                46116 non-null  float64
 3   value..location.78_98.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [65]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [66]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [67]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/2136755679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [68]:
kw2013_pre_pro_5.loc[:4091]["date"] = "201201" + kw2013_pre_pro_5.loc[:4091]["date"]
kw2013_pre_pro_5.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_5.loc[4093:7920]["date"]
kw2013_pre_pro_5.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_5.loc[7922:12013]["date"]
kw2013_pre_pro_5.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_5.loc[12015:15974]["date"]
kw2013_pre_pro_5.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_5.loc[15976:20067]["date"]
kw2013_pre_pro_5.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_5.loc[20069:24028]["date"]
kw2013_pre_pro_5.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_5.loc[24030:28121]["date"]
kw2013_pre_pro_5.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_5.loc[28123:32214]["date"]
kw2013_pre_pro_5.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_5.loc[32216:36175]["date"]
kw2013_pre_pro_5.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_5.loc[36177:40268]["date"]
kw2013_pre_pro_5.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_5.loc[40270:42033]["date"]
kw2013_pre_pro_5.loc[42035:]["date"] = "201212" + kw2013_pre_pro_5.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091]["date"] = "201201" + kw2013_pre_pro_5.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_5.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_5.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_5.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_5.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_5.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_5.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_5.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_5.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_5.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_5.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/3220907626.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[42035:]["date"] = "201212" + kw2013_pre_pro_5.loc[42035:]["date"]

In [69]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [70]:
kw2013_pre_pro_5["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [71]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [72]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [73]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [74]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         17.50
2    20120103         32.50
3    20120104         10.00
4    20120105         13.75
..        ...           ...
345  20121227         37.50
346  20121228         25.00
347  20121229         45.00
348  20121230         11.25
349  20121231         31.25

[350 rows x 2 columns]

In [75]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          7.50
1     20120102         18.50
2     20120103         30.75
3     20120104          9.00
4     20120105         14.25
...        ...           ...
1745  20121227         37.50
1746  20121228         25.00
1747  20121229         45.00
1748  20121230         11.25
1749  20121231         31.25

[1750 rows x 2 columns]

In [76]:
kw2013_pre_pro_6

      format..day    hour  forecast  value..location.68_107.Start...20120101
0               1   200.0       4.0                                     30.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                     10.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [77]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [78]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [79]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/304749827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [80]:
kw2013_pre_pro_6.loc[:4091]["date"] = "201201" + kw2013_pre_pro_6.loc[:4091]["date"]
kw2013_pre_pro_6.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_6.loc[4093:7920]["date"]
kw2013_pre_pro_6.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_6.loc[7922:12013]["date"]
kw2013_pre_pro_6.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_6.loc[12015:15974]["date"]
kw2013_pre_pro_6.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_6.loc[15976:20067]["date"]
kw2013_pre_pro_6.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_6.loc[20069:24028]["date"]
kw2013_pre_pro_6.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_6.loc[24030:28121]["date"]
kw2013_pre_pro_6.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_6.loc[28123:32214]["date"]
kw2013_pre_pro_6.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_6.loc[32216:36175]["date"]
kw2013_pre_pro_6.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_6.loc[36177:40268]["date"]
kw2013_pre_pro_6.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_6.loc[40270:42033]["date"]
kw2013_pre_pro_6.loc[42035:]["date"] = "201212" + kw2013_pre_pro_6.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091]["date"] = "201201" + kw2013_pre_pro_6.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_6.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_6.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_6.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_6.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_6.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_6.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_6.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_6.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_6.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_6.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/779317147.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[42035:]["date"] = "201212" + kw2013_pre_pro_6.loc[42035:]["date"]

In [81]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [82]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          10.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [83]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18797/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [84]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [85]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20120101          7.50
1    20120102         17.50
2    20120103         27.50
3    20120104          7.50
4    20120105         13.75
..        ...           ...
345  20121227         36.25
346  20121228         25.00
347  20121229         48.75
348  20121230         17.50
349  20121231         31.25

[350 rows x 2 columns]

In [86]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          7.50
1     20120102         18.50
2     20120103         30.75
3     20120104          9.00
4     20120105         14.25
...        ...           ...
2095  20121227         36.25
2096  20121228         25.00
2097  20121229         48.75
2098  20121230         17.50
2099  20121231         31.25

[2100 rows x 2 columns]

In [87]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [88]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

In [89]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

In [90]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3994088619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [91]:
kw2013_pre_pro_7.loc[:4091]["date"] = "201201" + kw2013_pre_pro_7.loc[:4091]["date"]
kw2013_pre_pro_7.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_7.loc[4093:7920]["date"]
kw2013_pre_pro_7.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_7.loc[7922:12013]["date"]
kw2013_pre_pro_7.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_7.loc[12015:15974]["date"]
kw2013_pre_pro_7.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_7.loc[15976:20067]["date"]
kw2013_pre_pro_7.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_7.loc[20069:24028]["date"]
kw2013_pre_pro_7.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_7.loc[24030:28121]["date"]
kw2013_pre_pro_7.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_7.loc[28123:32214]["date"]
kw2013_pre_pro_7.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_7.loc[32216:36175]["date"]
kw2013_pre_pro_7.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_7.loc[36177:40268]["date"]
kw2013_pre_pro_7.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_7.loc[40270:42033]["date"]
kw2013_pre_pro_7.loc[42035:]["date"] = "201212" + kw2013_pre_pro_7.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091]["date"] = "201201" + kw2013_pre_pro_7.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_7.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_7.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_7.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_7.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_7.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_7.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_7.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_7.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_7.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_7.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3586391895.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[42035:]["date"] = "201212" + kw2013_pre_pro_7.loc[42035:]["date"]

In [92]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [93]:
kw2013_pre_pro_7["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [94]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          60.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          10.0
66  20120101  1400.0       4.0          10.0

In [95]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [96]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [97]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20120101         23.75
1    20120102         25.00
2    20120103         66.25
3    20120104         35.00
4    20120105         20.00
..        ...           ...
345  20121227         38.75
346  20121228         16.25
347  20121229         48.75
348  20121230         52.50
349  20121231         33.75

[350 rows x 2 columns]

In [98]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         23.75
1     20120102         22.50
2     20120103         55.00
3     20120104         16.25
4     20120105         15.00
...        ...           ...
2445  20121227         38.75
2446  20121228         16.25
2447  20121229         48.75
2448  20121230         52.50
2449  20121231         33.75

[2450 rows x 2 columns]

In [99]:
kw2013_pre_pro_8

      format..day    hour  forecast  value..location.56_80.Start...20120101
0               1   200.0       4.0                                    60.0
1               1   200.0       7.0                                    60.0
2               1   200.0      10.0                                    20.0
3               1   200.0      13.0                                    18.0
4               1   200.0      16.0                                    18.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    50.0
46123          31  2300.0      43.0                                    50.0
46124          31  2300.0      46.0                                    58.0
46125          31  2300.0      49.0                                    52.0
46126          31  2300.0      52.0                                    20.0

[46127 rows x 4 columns]

In [100]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [101]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [102]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3004873487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [103]:
kw2013_pre_pro_8.loc[:4091]["date"] = "201201" + kw2013_pre_pro_8.loc[:4091]["date"]
kw2013_pre_pro_8.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_8.loc[4093:7920]["date"]
kw2013_pre_pro_8.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_8.loc[7922:12013]["date"]
kw2013_pre_pro_8.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_8.loc[12015:15974]["date"]
kw2013_pre_pro_8.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_8.loc[15976:20067]["date"]
kw2013_pre_pro_8.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_8.loc[20069:24028]["date"]
kw2013_pre_pro_8.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_8.loc[24030:28121]["date"]
kw2013_pre_pro_8.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_8.loc[28123:32214]["date"]
kw2013_pre_pro_8.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_8.loc[32216:36175]["date"]
kw2013_pre_pro_8.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_8.loc[36177:40268]["date"]
kw2013_pre_pro_8.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_8.loc[40270:42033]["date"]
kw2013_pre_pro_8.loc[42035:]["date"] = "201212" + kw2013_pre_pro_8.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091]["date"] = "201201" + kw2013_pre_pro_8.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_8.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_8.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_8.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_8.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_8.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_8.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_8.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_8.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_8.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_8.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/699152565.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[42035:]["date"] = "201212" + kw2013_pre_pro_8.loc[42035:]["date"]

In [104]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [105]:
kw2013_pre_pro_8["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [106]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          60.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          20.0
66  20120101  1400.0       4.0          20.0

In [107]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [108]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [109]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20120101        27.250
1    20120102        24.750
2    20120103        62.375
3    20120104        42.500
4    20120105        19.125
..        ...           ...
345  20121227        39.375
346  20121228        15.750
347  20121229        48.625
348  20121230        55.875
349  20121231        39.500

[350 rows x 2 columns]

In [110]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101        23.750
1     20120102        22.500
2     20120103        55.000
3     20120104        16.250
4     20120105        15.000
...        ...           ...
2795  20121227        39.375
2796  20121228        15.750
2797  20121229        48.625
2798  20121230        55.875
2799  20121231        39.500

[2800 rows x 2 columns]

In [111]:
kw2013_pre_pro_9

      format..day    hour  forecast  value..location.68_80.Start...20120101
0               1   200.0       4.0                                    59.0
1               1   200.0       7.0                                    19.0
2               1   200.0      10.0                                    20.0
3               1   200.0      13.0                                    10.0
4               1   200.0      16.0                                    10.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    20.0
46123          31  2300.0      43.0                                     9.0
46124          31  2300.0      46.0                                     9.0
46125          31  2300.0      49.0                                     9.0
46126          31  2300.0      52.0                                     9.0

[46127 rows x 4 columns]

In [112]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [113]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [114]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1167784317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [115]:
kw2013_pre_pro_9.loc[:4091]["date"] = "201201" + kw2013_pre_pro_9.loc[:4091]["date"]
kw2013_pre_pro_9.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_9.loc[4093:7920]["date"]
kw2013_pre_pro_9.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_9.loc[7922:12013]["date"]
kw2013_pre_pro_9.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_9.loc[12015:15974]["date"]
kw2013_pre_pro_9.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_9.loc[15976:20067]["date"]
kw2013_pre_pro_9.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_9.loc[20069:24028]["date"]
kw2013_pre_pro_9.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_9.loc[24030:28121]["date"]
kw2013_pre_pro_9.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_9.loc[28123:32214]["date"]
kw2013_pre_pro_9.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_9.loc[32216:36175]["date"]
kw2013_pre_pro_9.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_9.loc[36177:40268]["date"]
kw2013_pre_pro_9.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_9.loc[40270:42033]["date"]
kw2013_pre_pro_9.loc[42035:]["date"] = "201212" + kw2013_pre_pro_9.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091]["date"] = "201201" + kw2013_pre_pro_9.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_9.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_9.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_9.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_9.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_9.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_9.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_9.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_9.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_9.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_9.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/1331477621.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[42035:]["date"] = "201212" + kw2013_pre_pro_9.loc[42035:]["date"]

In [116]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [117]:
kw2013_pre_pro_9["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [118]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          59.0
16  20120101   500.0       4.0          19.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          10.0
66  20120101  1400.0       4.0          10.0

In [119]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18771/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [120]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [121]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20120101        18.250
1    20120102        19.500
2    20120103        50.500
3    20120104        15.750
4    20120105        13.625
..        ...           ...
345  20121227        37.375
346  20121228        16.500
347  20121229        49.750
348  20121230        34.750
349  20121231        28.875

[350 rows x 2 columns]

In [122]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101        23.750
1     20120102        22.500
2     20120103        55.000
3     20120104        16.250
4     20120105        15.000
...        ...           ...
3145  20121227        37.375
3146  20121228        16.500
3147  20121229        49.750
3148  20121230        34.750
3149  20121231        28.875

[3150 rows x 2 columns]

In [123]:
kw2013_pre_pro_10

NameError: name 'kw2013_pre_pro_10' is not defined

In [124]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_10' is not defined

In [125]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

In [126]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/842754490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

In [127]:
kw2013_pre_pro_10.loc[:4091]["date"] = "201201" + kw2013_pre_pro_10.loc[:4091]["date"]
kw2013_pre_pro_10.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_10.loc[4093:7920]["date"]
kw2013_pre_pro_10.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_10.loc[7922:12013]["date"]
kw2013_pre_pro_10.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_10.loc[12015:15974]["date"]
kw2013_pre_pro_10.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_10.loc[15976:20067]["date"]
kw2013_pre_pro_10.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_10.loc[20069:24028]["date"]
kw2013_pre_pro_10.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_10.loc[24030:28121]["date"]
kw2013_pre_pro_10.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_10.loc[28123:32214]["date"]
kw2013_pre_pro_10.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_10.loc[32216:36175]["date"]
kw2013_pre_pro_10.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_10.loc[36177:40268]["date"]
kw2013_pre_pro_10.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_10.loc[40270:42033]["date"]
kw2013_pre_pro_10.loc[42035:]["date"] = "201212" + kw2013_pre_pro_10.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091]["date"] = "201201" + kw2013_pre_pro_10.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_10.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_10.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_10.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_10.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_10.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_10.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_10.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_10.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_10.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_10.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/276759451.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[42035:]["date"] = "201212" + kw2013_pre_pro_10.loc[42035:]["date"]

In [128]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [129]:
kw2013_pre_pro_10["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [130]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          60.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          20.0
66  20120101  1400.0       4.0          20.0

In [131]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [132]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [133]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20120101         28.75
1    20120102         27.50
2    20120103         63.75
3    20120104         41.25
4    20120105         21.25
..        ...           ...
345  20121227         46.25
346  20121228         12.50
347  20121229         52.50
348  20121230         47.50
349  20121231         37.50

[350 rows x 2 columns]

In [134]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         16.25
1     20120102         12.50
2     20120103         10.00
3     20120104          7.50
4     20120105          0.00
...        ...           ...
3495  20121227         46.25
3496  20121228         12.50
3497  20121229         52.50
3498  20121230         47.50
3499  20121231         37.50

[3500 rows x 2 columns]

In [135]:
kw2013_pre_pro_11

      format..day    hour  forecast  value..location.52_76.Start...20120101
0               1   200.0       4.0                                    60.0
1               1   200.0       7.0                                    60.0
2               1   200.0      10.0                                    20.0
3               1   200.0      13.0                                    20.0
4               1   200.0      16.0                                    20.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    70.0
46123          31  2300.0      43.0                                    70.0
46124          31  2300.0      46.0                                    70.0
46125          31  2300.0      49.0                                    60.0
46126          31  2300.0      52.0                                    20.0

[46127 rows x 4 columns]

In [136]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

In [137]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

In [138]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [139]:
kw2013_pre_pro_11.loc[:4091]["date"] = "201201" + kw2013_pre_pro_11.loc[:4091]["date"]
kw2013_pre_pro_11.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_11.loc[4093:7920]["date"]
kw2013_pre_pro_11.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_11.loc[7922:12013]["date"]
kw2013_pre_pro_11.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_11.loc[12015:15974]["date"]
kw2013_pre_pro_11.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_11.loc[15976:20067]["date"]
kw2013_pre_pro_11.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_11.loc[20069:24028]["date"]
kw2013_pre_pro_11.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_11.loc[24030:28121]["date"]
kw2013_pre_pro_11.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_11.loc[28123:32214]["date"]
kw2013_pre_pro_11.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_11.loc[32216:36175]["date"]
kw2013_pre_pro_11.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_11.loc[36177:40268]["date"]
kw2013_pre_pro_11.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_11.loc[40270:42033]["date"]
kw2013_pre_pro_11.loc[42035:]["date"] = "201212" + kw2013_pre_pro_11.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091]["date"] = "201201" + kw2013_pre_pro_11.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_11.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_11.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_11.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_11.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_11.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_11.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_11.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_11.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_11.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_11.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2400078621.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[42035:]["date"] = "201212" + kw2013_pre_pro_11.loc[42035:]["date"]

In [140]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [141]:
kw2013_pre_pro_11["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [142]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          60.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          20.0
66  20120101  1400.0       4.0          20.0

In [143]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [144]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [145]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20120101        27.500
1    20120102        25.000
2    20120103        71.375
3    20120104        51.375
4    20120105        20.000
..        ...           ...
345  20121227        43.750
346  20121228        13.750
347  20121229        48.750
348  20121230        58.750
349  20121231        42.500

[350 rows x 2 columns]

In [146]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         16.25
1     20120102         12.50
2     20120103         10.00
3     20120104          7.50
4     20120105          0.00
...        ...           ...
3845  20121227         43.75
3846  20121228         13.75
3847  20121229         48.75
3848  20121230         58.75
3849  20121231         42.50

[3850 rows x 2 columns]

In [147]:
kw2013_pre_pro_12

      format..day    hour  forecast  value..location.66_62.Start...20120101
0               1   200.0       4.0                                    30.0
1               1   200.0       7.0                                    30.0
2               1   200.0      10.0                                    20.0
3               1   200.0      13.0                                    20.0
4               1   200.0      16.0                                    10.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    10.0
46123          31  2300.0      43.0                                    10.0
46124          31  2300.0      46.0                                    10.0
46125          31  2300.0      49.0                                    10.0
46126          31  2300.0      52.0                                    10.0

[46127 rows x 4 columns]

In [148]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [149]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [150]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [151]:
kw2013_pre_pro_12.loc[:4091]["date"] = "201201" + kw2013_pre_pro_12.loc[:4091]["date"]
kw2013_pre_pro_12.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_12.loc[4093:7920]["date"]
kw2013_pre_pro_12.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_12.loc[7922:12013]["date"]
kw2013_pre_pro_12.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_12.loc[12015:15974]["date"]
kw2013_pre_pro_12.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_12.loc[15976:20067]["date"]
kw2013_pre_pro_12.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_12.loc[20069:24028]["date"]
kw2013_pre_pro_12.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_12.loc[24030:28121]["date"]
kw2013_pre_pro_12.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_12.loc[28123:32214]["date"]
kw2013_pre_pro_12.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_12.loc[32216:36175]["date"]
kw2013_pre_pro_12.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_12.loc[36177:40268]["date"]
kw2013_pre_pro_12.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_12.loc[40270:42033]["date"]
kw2013_pre_pro_12.loc[42035:]["date"] = "201212" + kw2013_pre_pro_12.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091]["date"] = "201201" + kw2013_pre_pro_12.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_12.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_12.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_12.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_12.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_12.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_12.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_12.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_12.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_12.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_12.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/325711432.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[42035:]["date"] = "201212" + kw2013_pre_pro_12.loc[42035:]["date"]

In [152]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [153]:
kw2013_pre_pro_12["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [154]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          30.0
16  20120101   500.0       4.0          20.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          20.0
66  20120101  1400.0       4.0          10.0

In [155]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [156]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [157]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20120101         16.25
1    20120102         12.50
2    20120103         14.25
3    20120104          9.75
4    20120105          4.75
..        ...           ...
345  20121227         45.00
346  20121228         18.75
347  20121229         50.00
348  20121230         22.50
349  20121231         18.75

[350 rows x 2 columns]

In [158]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         16.25
1     20120102         12.50
2     20120103         10.00
3     20120104          7.50
4     20120105          0.00
...        ...           ...
4195  20121227         45.00
4196  20121228         18.75
4197  20121229         50.00
4198  20121230         22.50
4199  20121231         18.75

[4200 rows x 2 columns]

In [159]:
kw2013_pre_pro_13

      format..day    hour  forecast  value..location.33_64.Start...20120101
0               1   200.0       4.0                                    60.0
1               1   200.0       7.0                                    60.0
2               1   200.0      10.0                                    20.0
3               1   200.0      13.0                                    20.0
4               1   200.0      16.0                                    10.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                    80.0
46123          31  2300.0      43.0                                    70.0
46124          31  2300.0      46.0                                    60.0
46125          31  2300.0      49.0                                    20.0
46126          31  2300.0      52.0                                    20.0

[46127 rows x 4 columns]

In [160]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [161]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [162]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [163]:
kw2013_pre_pro_13.loc[:4091]["date"] = "201201" + kw2013_pre_pro_13.loc[:4091]["date"]
kw2013_pre_pro_13.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_13.loc[4093:7920]["date"]
kw2013_pre_pro_13.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_13.loc[7922:12013]["date"]
kw2013_pre_pro_13.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_13.loc[12015:15974]["date"]
kw2013_pre_pro_13.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_13.loc[15976:20067]["date"]
kw2013_pre_pro_13.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_13.loc[20069:24028]["date"]
kw2013_pre_pro_13.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_13.loc[24030:28121]["date"]
kw2013_pre_pro_13.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_13.loc[28123:32214]["date"]
kw2013_pre_pro_13.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_13.loc[32216:36175]["date"]
kw2013_pre_pro_13.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_13.loc[36177:40268]["date"]
kw2013_pre_pro_13.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_13.loc[40270:42033]["date"]
kw2013_pre_pro_13.loc[42035:]["date"] = "201212" + kw2013_pre_pro_13.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091]["date"] = "201201" + kw2013_pre_pro_13.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_13.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_13.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_13.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_13.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_13.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_13.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_13.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_13.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_13.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_13.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/3752719628.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[42035:]["date"] = "201212" + kw2013_pre_pro_13.loc[42035:]["date"]

In [164]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [165]:
kw2013_pre_pro_13["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [166]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          60.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          20.0
66  20120101  1400.0       4.0          20.0

In [167]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18751/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [168]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [169]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20120101         28.75
1    20120102         27.50
2    20120103         67.50
3    20120104         30.00
4    20120105         20.00
..        ...           ...
345  20121227         47.50
346  20121228         16.25
347  20121229         45.00
348  20121230         53.75
349  20121231         38.75

[350 rows x 2 columns]

In [170]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         16.25
1     20120102         12.50
2     20120103         10.00
3     20120104          7.50
4     20120105          0.00
...        ...           ...
4545  20121227         47.50
4546  20121228         16.25
4547  20121229         45.00
4548  20121230         53.75
4549  20121231         38.75

[4550 rows x 2 columns]

In [171]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [172]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

In [173]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

In [174]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [175]:
kw2013_pre_pro_14.loc[:4091]["date"] = "201201" + kw2013_pre_pro_14.loc[:4091]["date"]
kw2013_pre_pro_14.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_14.loc[4093:7920]["date"]
kw2013_pre_pro_14.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_14.loc[7922:12013]["date"]
kw2013_pre_pro_14.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_14.loc[12015:15974]["date"]
kw2013_pre_pro_14.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_14.loc[15976:20067]["date"]
kw2013_pre_pro_14.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_14.loc[20069:24028]["date"]
kw2013_pre_pro_14.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_14.loc[24030:28121]["date"]
kw2013_pre_pro_14.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_14.loc[28123:32214]["date"]
kw2013_pre_pro_14.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_14.loc[32216:36175]["date"]
kw2013_pre_pro_14.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_14.loc[36177:40268]["date"]
kw2013_pre_pro_14.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_14.loc[40270:42033]["date"]
kw2013_pre_pro_14.loc[42035:]["date"] = "201212" + kw2013_pre_pro_14.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091]["date"] = "201201" + kw2013_pre_pro_14.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_14.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_14.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_14.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_14.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_14.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_14.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_14.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_14.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_14.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_14.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/281695028.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[42035:]["date"] = "201212" + kw2013_pre_pro_14.loc[42035:]["date"]

In [176]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [177]:
kw2013_pre_pro_14["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [178]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          60.0
16  20120101   500.0       4.0          80.0
31  20120101   800.0       4.0          90.0
49  20120101  1100.0       4.0          80.0
66  20120101  1400.0       4.0          80.0

In [179]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [180]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [181]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20120101         68.75
1    20120102         57.50
2    20120103         82.50
3    20120104         62.50
4    20120105         33.75
..        ...           ...
345  20121227         18.75
346  20121228         46.25
347  20121229         45.00
348  20121230         30.00
349  20121231         20.00

[350 rows x 2 columns]

In [182]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          5.00
1     20120102          8.75
2     20120103         18.75
3     20120104          0.00
4     20120105          0.00
...        ...           ...
4895  20121227         18.75
4896  20121228         46.25
4897  20121229         45.00
4898  20121230         30.00
4899  20121231         20.00

[4900 rows x 2 columns]

In [183]:
kw2013_pre_pro_15

      format..day    hour  forecast  value..location.95_93.Start...20120101
0               1   200.0       4.0                                    20.0
1               1   200.0       7.0                                    10.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
46122          31  2300.0      40.0                                     0.0
46123          31  2300.0      43.0                                     0.0
46124          31  2300.0      46.0                                     0.0
46125          31  2300.0      49.0                                     0.0
46126          31  2300.0      52.0                                     0.0

[46127 rows x 4 columns]

In [184]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [185]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [186]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/1553633085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [187]:
kw2013_pre_pro_15.loc[:4091]["date"] = "201201" + kw2013_pre_pro_15.loc[:4091]["date"]
kw2013_pre_pro_15.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_15.loc[4093:7920]["date"]
kw2013_pre_pro_15.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_15.loc[7922:12013]["date"]
kw2013_pre_pro_15.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_15.loc[12015:15974]["date"]
kw2013_pre_pro_15.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_15.loc[15976:20067]["date"]
kw2013_pre_pro_15.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_15.loc[20069:24028]["date"]
kw2013_pre_pro_15.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_15.loc[24030:28121]["date"]
kw2013_pre_pro_15.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_15.loc[28123:32214]["date"]
kw2013_pre_pro_15.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_15.loc[32216:36175]["date"]
kw2013_pre_pro_15.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_15.loc[36177:40268]["date"]
kw2013_pre_pro_15.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_15.loc[40270:42033]["date"]
kw2013_pre_pro_15.loc[42035:]["date"] = "201212" + kw2013_pre_pro_15.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4091]["date"] = "201201" + kw2013_pre_pro_15.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_15.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_15.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_15.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_15.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_15.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_15.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_15.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_15.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_15.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_15.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/3754481226.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[42035:]["date"] = "201212" + kw2013_pre_pro_15.loc[42035:]["date"]

In [188]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [189]:
kw2013_pre_pro_15["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [190]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== 4.0]
kw2013_pre_pro_15_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          20.0
16  20120101   500.0       4.0          10.0
31  20120101   800.0       4.0          60.0
49  20120101  1100.0       4.0          10.0
66  20120101  1400.0       4.0          10.0

In [191]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18653/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [192]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [193]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20120101         15.00
1    20120102         10.00
2    20120103         13.75
3    20120104          0.00
4    20120105          0.00
..        ...           ...
345  20121227         37.50
346  20121228         31.25
347  20121229         40.00
348  20121230          0.00
349  20121231         17.50

[350 rows x 2 columns]

In [194]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          5.00
1     20120102          8.75
2     20120103         18.75
3     20120104          0.00
4     20120105          0.00
...        ...           ...
5245  20121227         37.50
5246  20121228         31.25
5247  20121229         40.00
5248  20121230          0.00
5249  20121231         17.50

[5250 rows x 2 columns]

In [88]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20120101   충북      7.500000
1    20120102   충북     17.666667
2    20120103   충북     29.770833
3    20120104   충북      5.708333
4    20120105   충북     11.333333
..        ...  ...           ...
345  20121227   충북     33.958333
346  20121228   충북     24.166667
347  20121229   충북     47.708333
348  20121230   충북     10.416667
349  20121231   충북     31.250000

[350 rows x 3 columns]

In [89]:
pre_pro.to_csv('cb.csv', index=False)

In [90]:
num1 = pd.read_csv('gw.csv')
num2 = pd.read_csv('gg.csv')
num3 = pd.read_csv('gn.csv')
num4 = pd.read_csv('gb.csv')
num5 = pd.read_csv('gj.csv')
num6 = pd.read_csv('dg.csv')
num7 = pd.read_csv('dj.csv')
num8 = pd.read_csv('bs.csv')
num9 = pd.read_csv('su.csv')
num10 = pd.read_csv('sj.csv')
num11 = pd.read_csv('us.csv')
num12 = pd.read_csv('ic.csv')
num13 = pd.read_csv('jn.csv')
num14 = pd.read_csv('jb.csv')
num15 = pd.read_csv('jj.csv')
num16 = pd.read_csv('cn.csv')
num17 = pd.read_csv('cb.csv')

In [99]:
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      8.241071
1     20140102   강원     11.785714
2     20140103   강원     22.821429
3     20140104   강원     31.616071
4     20140105   강원      5.598214
...        ...  ...           ...
1090  20141227   경기     13.250000
1091  20141228   경기     24.950000
1092  20141229   경기     14.025000
1093  20141230   경기     18.675000
1094  20141231   경기      2.500000

[1095 rows x 3 columns]

In [91]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20120101   강원     21.500000
1    20120102   강원     10.294643
2    20120103   강원     21.544643
3    20120104   강원      0.000000
4    20120105   강원      3.312500
..        ...  ...           ...
345  20121227   강원     23.365385
346  20121228   강원     38.076923
347  20121229   강원     44.836538
348  20121230   강원      1.730769
349  20121231   강원     23.384615

[350 rows x 3 columns]

In [92]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)

In [93]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)

In [94]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)

In [95]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)

In [96]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)

In [97]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)

In [98]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)

In [99]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)

In [100]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)

In [101]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)

In [102]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)

In [103]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)

In [104]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)

In [105]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)

In [106]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)

In [107]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [108]:
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원     21.500000
1     20120102   강원     10.294643
2     20120103   강원     21.544643
3     20120104   강원      0.000000
4     20120105   강원      3.312500
...        ...  ...           ...
5877  20121227   충북     33.958333
5878  20121228   충북     24.166667
5879  20121229   충북     47.708333
5880  20121230   충북     10.416667
5881  20121231   충북     31.250000

[5882 rows x 3 columns]

In [134]:
pre_pro_2014.to_csv('pre_pro_2012.csv', index=False)

In [126]:
num17

         date area  pre_pro_mean
0    20120101   충북      7.500000
1    20120102   충북     17.666667
2    20120103   충북     29.770833
3    20120104   충북      5.708333
4    20120105   충북     11.333333
..        ...  ...           ...
345  20121227   충북     33.958333
346  20121228   충북     24.166667
347  20121229   충북     47.708333
348  20121230   충북     10.416667
349  20121231   충북     31.250000

[350 rows x 3 columns]

In [135]:
y2012 = pd.read_csv('pre_pro_2012.csv')
y2013 = pd.read_csv('pre_pro_2013.csv')
y2014 = pd.read_csv('pre_pro_2014.csv')
y2015 = pd.read_csv('pre_pro_2015.csv')

In [136]:
final_pre_pro = pd.DataFrame(y2012)

In [137]:
final_pre_pro = pd.concat([final_pre_pro, y2013], axis = 0, ignore_index=True)

In [138]:
final_pre_pro = pd.concat([final_pre_pro, y2014], axis = 0, ignore_index=True)

In [139]:
final_pre_pro = pd.concat([final_pre_pro, y2015], axis = 0, ignore_index=True)

In [140]:
final_pre_pro

           date area  pre_pro_mean
0      20120101   강원     21.500000
1      20120102   강원     10.294643
2      20120103   강원     21.544643
3      20120104   강원      0.000000
4      20120105   강원      3.312500
...         ...  ...           ...
24322  20151227   충북      0.166667
24323  20151228   충북      3.958333
24324  20151229   충북     11.333333
24325  20151230   충북     40.208333
24326  20151231   충북      2.125000

[24327 rows x 3 columns]

In [141]:
final_pre_pro.to_csv('강수확률.csv', index=False)