In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2012/울산", "*_강수형태_201201_201212.csv"))

In [5]:
kw2013_pre_pro

[]

In [6]:
print(len(kw2013_pre_pro))

1

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.102_85.Start...20120101
0               1   200.0       4.0                                     10.0
1               1   200.0       7.0                                     10.0
2               1   200.0      10.0                                      1.0
3               1   200.0      13.0                                      1.0
4               1   200.0      16.0                                      1.0
...           ...     ...       ...                                      ...
46122          31  2300.0      40.0                                      0.0
46123          31  2300.0      43.0                                      0.0
46124          31  2300.0      46.0                                      0.0
46125          31  2300.0      49.0                                      0.0
46126          31  2300.0      52.0                                      0.0

[46127 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46127 entries, 0 to 46126
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              46127 non-null  object
 1   hour                                     46116 non-null  float64
 2   forecast                                 46116 non-null  float64
 3   value..location.102_85.Start...20120101  46116 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
24029  Start:20120701   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
42034  Start:20121201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
kw2013_pre_pro_1.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:42033]["date"]
kw2013_pre_pro_1.loc[42035:]["date"] = "201212" + kw2013_pre_pro_1.loc[42035:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[40270:42033]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:42033]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/2453965924.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[42035:]["date"] = "201212" + kw2013_pre_pro_1.loc[42035:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 42034], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20120101    132
20120818    132
20120826    132
20120825    132
20120824    132
           ...
20120425    132
20120424    132
20120423    132
20120422    132
20121114     48
Name: date, Length: 350, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0          10.0
16  20120101   500.0       4.0          10.0
31  20120101   800.0       4.0          20.0
49  20120101  1100.0       4.0          19.0
66  20120101  1400.0       4.0           1.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18737/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20120101         7.625
1    20120102         8.750
2    20120103        11.250
3    20120104         0.000
4    20120105         0.000
..        ...           ...
345  20121227        38.500
346  20121228        26.000
347  20121229        38.625
348  20121230         2.375
349  20121231        18.500

[350 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20120101         7.625
1    20120102         8.750
2    20120103        11.250
3    20120104         0.000
4    20120105         0.000
..        ...           ...
345  20121227        38.500
346  20121228        26.000
347  20121229        38.625
348  20121230         2.375
349  20121231        18.500

[350 rows x 2 columns]

In [22]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '울산'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20120101   울산         7.625
1    20120102   울산         8.750
2    20120103   울산        11.250
3    20120104   울산         0.000
4    20120105   울산         0.000
..        ...  ...           ...
345  20121227   울산        38.500
346  20121228   울산        26.000
347  20121229   울산        38.625
348  20121230   울산         2.375
349  20121231   울산        18.500

[350 rows x 3 columns]

In [23]:
pre_pro.to_csv('us.csv', index=False)