In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2012/충북", "*_강수형태_201201_201212.csv"))

In [5]:
kw2013_pre_pro

['2012/충북/교현.안림동_강수형태_201201_201212.csv',
 '2012/충북/강내면_강수형태_201201_201212.csv',
 '2012/충북/추풍령면_강수형태_201201_201212.csv',
 '2012/충북/용두동_강수형태_201201_201212.csv',
 '2012/충북/보은읍_강수형태_201201_201212.csv',
 '2012/충북/복대1동_강수형태_201201_201212.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.77_114.Start...20120101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
48317          31  2300.0      40.0                                      0.0
48318          31  2300.0      43.0                                      0.0
48319          31  2300.0      46.0                                      0.0
48320          31  2300.0      49.0                                      0.0
48321          31  2300.0      52.0                                      0.0

[48322 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48322 entries, 0 to 48321
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              48322 non-null  object
 1   hour                                     48311 non-null  float64
 2   forecast                                 48311 non-null  float64
 3   value..location.77_114.Start...20120101  48311 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
24029  Start:20120701   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
44229  Start:20121201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
kw2013_pre_pro_1.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:44228]["date"]
kw2013_pre_pro_1.loc[44230:]["date"] = "201212" + kw2013_pre_pro_1.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201201" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_1.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_1.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_1.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_1.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_1.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_1.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_1.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_1.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_1.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_1.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2456625872.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[44230:]["date"] = "201212" + kw2013_pre_pro_1.loc[44230:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.375
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         0.750
362  20121228         0.000
363  20121229         1.875
364  20121230         0.000
365  20121231         0.750

[366 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.375
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         0.750
362  20121228         0.000
363  20121229         1.875
364  20121230         0.000
365  20121231         0.750

[366 rows x 2 columns]

In [22]:
kw2013_pre_pro_2

      format..day    hour  forecast  value..location.67_106.Start...20120101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
48317          31  2300.0      40.0                                      0.0
48318          31  2300.0      43.0                                      0.0
48319          31  2300.0      46.0                                      0.0
48320          31  2300.0      49.0                                      0.0
48321          31  2300.0      52.0                                      0.0

[48322 rows x 4 columns]

In [23]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48322 entries, 0 to 48321
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              48322 non-null  object
 1   hour                                     48311 non-null  float64
 2   forecast                                 48311 non-null  float64
 3   value..location.67_106.Start...20120101  48311 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [24]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [25]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [26]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1467841179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [27]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_2['date'] == 'Start:2012701') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_2['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_2['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
44229  Start:20121201   NaN       NaN           NaN

In [28]:
kw2013_pre_pro_2.loc[:4091]["date"] = "201201" + kw2013_pre_pro_2.loc[:4091]["date"]
kw2013_pre_pro_2.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_2.loc[4093:7920]["date"]
kw2013_pre_pro_2.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_2.loc[7922:12013]["date"]
kw2013_pre_pro_2.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_2.loc[12015:15974]["date"]
kw2013_pre_pro_2.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_2.loc[15976:20067]["date"]
kw2013_pre_pro_2.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_2.loc[20069:24028]["date"]
kw2013_pre_pro_2.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_2.loc[24030:28121]["date"]
kw2013_pre_pro_2.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_2.loc[28123:32214]["date"]
kw2013_pre_pro_2.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_2.loc[32216:36175]["date"]
kw2013_pre_pro_2.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_2.loc[36177:40268]["date"]
kw2013_pre_pro_2.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_2.loc[40270:44228]["date"]
kw2013_pre_pro_2.loc[44230:]["date"] = "201212" + kw2013_pre_pro_2.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091]["date"] = "201201" + kw2013_pre_pro_2.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_2.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_2.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_2.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_2.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_2.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_2.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_2.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_2.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_2.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_2.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/4275007923.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[44230:]["date"] = "201212" + kw2013_pre_pro_2.loc[44230:]["date"]

In [29]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [30]:
kw2013_pre_pro_2["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [31]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [32]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [33]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [34]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.750
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.375
363  20121229         1.875
364  20121230         0.375
365  20121231         0.750

[366 rows x 2 columns]

In [35]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.375
3    20120104         0.000
4    20120105         0.000
..        ...           ...
727  20121227         1.125
728  20121228         0.375
729  20121229         1.875
730  20121230         0.375
731  20121231         0.750

[732 rows x 2 columns]

In [36]:
kw2013_pre_pro_3

      format..day    hour  forecast  value..location.78_98.Start...20120101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     0.0
48318          31  2300.0      43.0                                     0.0
48319          31  2300.0      46.0                                     0.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [37]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48322 entries, 0 to 48321
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   format..day                             48322 non-null  object
 1   hour                                    48311 non-null  float64
 2   forecast                                48311 non-null  float64
 3   value..location.78_98.Start...20120101  48311 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [38]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [39]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [40]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1179430012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [41]:
print(kw2013_pre_pro_3.loc[(kw2013_pre_pro_3['date'] == 'Start:20120201') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120301') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120401') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120501') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120601') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120701') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120801') |
                           (kw2013_pre_pro_3['date'] == 'Start:20120901') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121001') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121101') |
                           (kw2013_pre_pro_3['date'] == 'Start:20121201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20120201   NaN       NaN           NaN
7921   Start:20120301   NaN       NaN           NaN
12014  Start:20120401   NaN       NaN           NaN
15975  Start:20120501   NaN       NaN           NaN
20068  Start:20120601   NaN       NaN           NaN
24029  Start:20120701   NaN       NaN           NaN
28122  Start:20120801   NaN       NaN           NaN
32215  Start:20120901   NaN       NaN           NaN
36176  Start:20121001   NaN       NaN           NaN
40269  Start:20121101   NaN       NaN           NaN
44229  Start:20121201   NaN       NaN           NaN

In [42]:
kw2013_pre_pro_3.loc[:4091]["date"] = "201201" + kw2013_pre_pro_3.loc[:4091]["date"]
kw2013_pre_pro_3.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_3.loc[4093:7920]["date"]
kw2013_pre_pro_3.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_3.loc[7922:12013]["date"]
kw2013_pre_pro_3.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_3.loc[12015:15974]["date"]
kw2013_pre_pro_3.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_3.loc[15976:20067]["date"]
kw2013_pre_pro_3.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_3.loc[20069:24028]["date"]
kw2013_pre_pro_3.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_3.loc[24030:28121]["date"]
kw2013_pre_pro_3.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_3.loc[28123:32214]["date"]
kw2013_pre_pro_3.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_3.loc[32216:36175]["date"]
kw2013_pre_pro_3.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_3.loc[36177:40268]["date"]
kw2013_pre_pro_3.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_3.loc[40270:44228]["date"]
kw2013_pre_pro_3.loc[44230:]["date"] = "201212" + kw2013_pre_pro_3.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091]["date"] = "201201" + kw2013_pre_pro_3.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_3.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_3.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_3.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_3.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_3.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_3.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_3.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_3.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_3.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_3.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3359989197.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[44230:]["date"] = "201212" + kw2013_pre_pro_3.loc[44230:]["date"]

In [43]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [44]:
kw2013_pre_pro_3["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [45]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [46]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [47]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [48]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         1.125
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.375
363  20121229         1.500
364  20121230         0.000
365  20121231         0.750

[366 rows x 2 columns]

In [49]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.375
3     20120104         0.000
4     20120105         0.000
...        ...           ...
1093  20121227         1.125
1094  20121228         0.375
1095  20121229         1.500
1096  20121230         0.000
1097  20121231         0.750

[1098 rows x 2 columns]

In [50]:
kw2013_pre_pro_4

      format..day    hour  forecast  value..location.81_118.Start...20120101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
48317          31  2300.0      40.0                                      0.0
48318          31  2300.0      43.0                                      0.0
48319          31  2300.0      46.0                                      0.0
48320          31  2300.0      49.0                                      0.0
48321          31  2300.0      52.0                                      0.0

[48322 rows x 4 columns]

In [51]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48322 entries, 0 to 48321
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              48322 non-null  object
 1   hour                                     48311 non-null  float64
 2   forecast                                 48311 non-null  float64
 3   value..location.81_118.Start...20120101  48311 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [52]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [53]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [54]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/845263854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [55]:
kw2013_pre_pro_4.loc[:4091]["date"] = "201201" + kw2013_pre_pro_4.loc[:4091]["date"]
kw2013_pre_pro_4.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_4.loc[4093:7920]["date"]
kw2013_pre_pro_4.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_4.loc[7922:12013]["date"]
kw2013_pre_pro_4.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_4.loc[12015:15974]["date"]
kw2013_pre_pro_4.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_4.loc[15976:20067]["date"]
kw2013_pre_pro_4.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_4.loc[20069:24028]["date"]
kw2013_pre_pro_4.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_4.loc[24030:28121]["date"]
kw2013_pre_pro_4.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_4.loc[28123:32214]["date"]
kw2013_pre_pro_4.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_4.loc[32216:36175]["date"]
kw2013_pre_pro_4.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_4.loc[36177:40268]["date"]
kw2013_pre_pro_4.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_4.loc[40270:44228]["date"]
kw2013_pre_pro_4.loc[44230:]["date"] = "201212" + kw2013_pre_pro_4.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091]["date"] = "201201" + kw2013_pre_pro_4.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_4.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_4.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_4.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_4.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_4.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_4.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_4.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_4.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_4.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_4.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1353311380.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[44230:]["date"] = "201212" + kw2013_pre_pro_4.loc[44230:]["date"]

In [56]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [57]:
kw2013_pre_pro_4["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [58]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [59]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [60]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [61]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.750
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         0.375
362  20121228         0.000
363  20121229         1.875
364  20121230         0.000
365  20121231         0.750

[366 rows x 2 columns]

In [62]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.375
3     20120104         0.000
4     20120105         0.000
...        ...           ...
1459  20121227         0.375
1460  20121228         0.000
1461  20121229         1.875
1462  20121230         0.000
1463  20121231         0.750

[1464 rows x 2 columns]

In [63]:
kw2013_pre_pro_5

      format..day    hour  forecast  value..location.73_103.Start...20120101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
48317          31  2300.0      40.0                                      0.0
48318          31  2300.0      43.0                                      0.0
48319          31  2300.0      46.0                                      0.0
48320          31  2300.0      49.0                                      0.0
48321          31  2300.0      52.0                                      0.0

[48322 rows x 4 columns]

In [64]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48322 entries, 0 to 48321
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              48322 non-null  object
 1   hour                                     48311 non-null  float64
 2   forecast                                 48311 non-null  float64
 3   value..location.73_103.Start...20120101  48311 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [65]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [66]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [67]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/2136755679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [68]:
kw2013_pre_pro_5.loc[:4091]["date"] = "201201" + kw2013_pre_pro_5.loc[:4091]["date"]
kw2013_pre_pro_5.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_5.loc[4093:7920]["date"]
kw2013_pre_pro_5.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_5.loc[7922:12013]["date"]
kw2013_pre_pro_5.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_5.loc[12015:15974]["date"]
kw2013_pre_pro_5.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_5.loc[15976:20067]["date"]
kw2013_pre_pro_5.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_5.loc[20069:24028]["date"]
kw2013_pre_pro_5.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_5.loc[24030:28121]["date"]
kw2013_pre_pro_5.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_5.loc[28123:32214]["date"]
kw2013_pre_pro_5.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_5.loc[32216:36175]["date"]
kw2013_pre_pro_5.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_5.loc[36177:40268]["date"]
kw2013_pre_pro_5.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_5.loc[40270:44228]["date"]
kw2013_pre_pro_5.loc[44230:]["date"] = "201212" + kw2013_pre_pro_5.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091]["date"] = "201201" + kw2013_pre_pro_5.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_5.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_5.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_5.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_5.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_5.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_5.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_5.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_5.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_5.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_5.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/1129390856.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[44230:]["date"] = "201212" + kw2013_pre_pro_5.loc[44230:]["date"]

In [69]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [70]:
kw2013_pre_pro_5["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [71]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [72]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [73]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [74]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         1.125
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.375
363  20121229         1.500
364  20121230         0.000
365  20121231         0.750

[366 rows x 2 columns]

In [75]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.375
3     20120104         0.000
4     20120105         0.000
...        ...           ...
1825  20121227         1.125
1826  20121228         0.375
1827  20121229         1.500
1828  20121230         0.000
1829  20121231         0.750

[1830 rows x 2 columns]

In [76]:
kw2013_pre_pro_6

      format..day    hour  forecast  value..location.68_107.Start...20120101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
48317          31  2300.0      40.0                                      0.0
48318          31  2300.0      43.0                                      0.0
48319          31  2300.0      46.0                                      0.0
48320          31  2300.0      49.0                                      0.0
48321          31  2300.0      52.0                                      0.0

[48322 rows x 4 columns]

In [77]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [78]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [79]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/304749827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [80]:
kw2013_pre_pro_6.loc[:4091]["date"] = "201201" + kw2013_pre_pro_6.loc[:4091]["date"]
kw2013_pre_pro_6.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_6.loc[4093:7920]["date"]
kw2013_pre_pro_6.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_6.loc[7922:12013]["date"]
kw2013_pre_pro_6.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_6.loc[12015:15974]["date"]
kw2013_pre_pro_6.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_6.loc[15976:20067]["date"]
kw2013_pre_pro_6.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_6.loc[20069:24028]["date"]
kw2013_pre_pro_6.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_6.loc[24030:28121]["date"]
kw2013_pre_pro_6.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_6.loc[28123:32214]["date"]
kw2013_pre_pro_6.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_6.loc[32216:36175]["date"]
kw2013_pre_pro_6.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_6.loc[36177:40268]["date"]
kw2013_pre_pro_6.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_6.loc[40270:44228]["date"]
kw2013_pre_pro_6.loc[44230:]["date"] = "201212" + kw2013_pre_pro_6.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091]["date"] = "201201" + kw2013_pre_pro_6.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_6.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_6.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_6.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_6.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_6.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_6.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_6.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_6.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_6.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_6.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/3770889092.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[44230:]["date"] = "201212" + kw2013_pre_pro_6.loc[44230:]["date"]

In [81]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [82]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [83]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20790/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [84]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [85]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.750
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.375
363  20121229         1.875
364  20121230         0.375
365  20121231         0.750

[366 rows x 2 columns]

In [86]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.375
3     20120104         0.000
4     20120105         0.000
...        ...           ...
2191  20121227         1.125
2192  20121228         0.375
2193  20121229         1.875
2194  20121230         0.375
2195  20121231         0.750

[2196 rows x 2 columns]

In [87]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [88]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_7' is not defined

In [89]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

NameError: name 'kw2013_pre_pro_7' is not defined

In [90]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/3994088619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [91]:
kw2013_pre_pro_7.loc[:4091]["date"] = "201201" + kw2013_pre_pro_7.loc[:4091]["date"]
kw2013_pre_pro_7.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_7.loc[4093:7920]["date"]
kw2013_pre_pro_7.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_7.loc[7922:12013]["date"]
kw2013_pre_pro_7.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_7.loc[12015:15974]["date"]
kw2013_pre_pro_7.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_7.loc[15976:20067]["date"]
kw2013_pre_pro_7.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_7.loc[20069:24028]["date"]
kw2013_pre_pro_7.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_7.loc[24030:28121]["date"]
kw2013_pre_pro_7.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_7.loc[28123:32214]["date"]
kw2013_pre_pro_7.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_7.loc[32216:36175]["date"]
kw2013_pre_pro_7.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_7.loc[36177:40268]["date"]
kw2013_pre_pro_7.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_7.loc[40270:44228]["date"]
kw2013_pre_pro_7.loc[44230:]["date"] = "201212" + kw2013_pre_pro_7.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091]["date"] = "201201" + kw2013_pre_pro_7.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_7.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_7.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_7.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_7.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_7.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_7.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_7.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_7.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_7.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_7.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1208509057.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[44230:]["date"] = "201212" + kw2013_pre_pro_7.loc[44230:]["date"]

In [92]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [93]:
kw2013_pre_pro_7["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [94]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           2.0
16  20120101   500.0       4.0           3.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [95]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [96]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [97]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20120101         0.625
1    20120102         0.000
2    20120103         1.875
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.000
362  20121228         0.000
363  20121229         1.375
364  20121230         1.500
365  20121231         0.750

[366 rows x 2 columns]

In [98]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.250
1     20120102         0.000
2     20120103         1.875
3     20120104         0.000
4     20120105         0.000
...        ...           ...
2557  20121227         1.000
2558  20121228         0.000
2559  20121229         1.375
2560  20121230         1.500
2561  20121231         0.750

[2562 rows x 2 columns]

In [99]:
kw2013_pre_pro_8

      format..day    hour  forecast  value..location.66_84.Start...20120101
0               1   200.0       4.0                                     2.0
1               1   200.0       7.0                                     3.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     0.0
48318          31  2300.0      43.0                                     0.0
48319          31  2300.0      46.0                                     0.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [100]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [101]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [102]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/3004873487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [103]:
kw2013_pre_pro_8.loc[:4091]["date"] = "201201" + kw2013_pre_pro_8.loc[:4091]["date"]
kw2013_pre_pro_8.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_8.loc[4093:7920]["date"]
kw2013_pre_pro_8.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_8.loc[7922:12013]["date"]
kw2013_pre_pro_8.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_8.loc[12015:15974]["date"]
kw2013_pre_pro_8.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_8.loc[15976:20067]["date"]
kw2013_pre_pro_8.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_8.loc[20069:24028]["date"]
kw2013_pre_pro_8.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_8.loc[24030:28121]["date"]
kw2013_pre_pro_8.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_8.loc[28123:32214]["date"]
kw2013_pre_pro_8.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_8.loc[32216:36175]["date"]
kw2013_pre_pro_8.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_8.loc[36177:40268]["date"]
kw2013_pre_pro_8.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_8.loc[40270:44228]["date"]
kw2013_pre_pro_8.loc[44230:]["date"] = "201212" + kw2013_pre_pro_8.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091]["date"] = "201201" + kw2013_pre_pro_8.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_8.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_8.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_8.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_8.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_8.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_8.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_8.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_8.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_8.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_8.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1169080733.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[44230:]["date"] = "201212" + kw2013_pre_pro_8.loc[44230:]["date"]

In [104]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [105]:
kw2013_pre_pro_8["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [106]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           2.0
16  20120101   500.0       4.0           3.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [107]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [108]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [109]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20120101         0.625
1    20120102         0.000
2    20120103         1.875
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.000
363  20121229         1.500
364  20121230         1.125
365  20121231         0.750

[366 rows x 2 columns]

In [110]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.250
1     20120102         0.000
2     20120103         1.875
3     20120104         0.000
4     20120105         0.000
...        ...           ...
2923  20121227         1.125
2924  20121228         0.000
2925  20121229         1.500
2926  20121230         1.125
2927  20121231         0.750

[2928 rows x 2 columns]

In [111]:
kw2013_pre_pro_9

      format..day    hour  forecast  value..location.58_83.Start...20120101
0               1   200.0       4.0                                     2.0
1               1   200.0       7.0                                     3.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     0.0
48318          31  2300.0      43.0                                     0.0
48319          31  2300.0      46.0                                     0.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [112]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [113]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [114]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/1167784317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [115]:
kw2013_pre_pro_9.loc[:4091]["date"] = "201201" + kw2013_pre_pro_9.loc[:4091]["date"]
kw2013_pre_pro_9.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_9.loc[4093:7920]["date"]
kw2013_pre_pro_9.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_9.loc[7922:12013]["date"]
kw2013_pre_pro_9.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_9.loc[12015:15974]["date"]
kw2013_pre_pro_9.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_9.loc[15976:20067]["date"]
kw2013_pre_pro_9.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_9.loc[20069:24028]["date"]
kw2013_pre_pro_9.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_9.loc[24030:28121]["date"]
kw2013_pre_pro_9.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_9.loc[28123:32214]["date"]
kw2013_pre_pro_9.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_9.loc[32216:36175]["date"]
kw2013_pre_pro_9.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_9.loc[36177:40268]["date"]
kw2013_pre_pro_9.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_9.loc[40270:44228]["date"]
kw2013_pre_pro_9.loc[44230:]["date"] = "201212" + kw2013_pre_pro_9.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091]["date"] = "201201" + kw2013_pre_pro_9.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_9.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_9.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_9.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_9.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_9.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_9.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_9.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_9.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_9.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_9.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/2740905290.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[44230:]["date"] = "201212" + kw2013_pre_pro_9.loc[44230:]["date"]

In [116]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [117]:
kw2013_pre_pro_9["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [118]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           2.0
16  20120101   500.0       4.0           3.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [119]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20765/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [120]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [121]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20120101         0.625
1    20120102         0.000
2    20120103         2.500
3    20120104         1.125
4    20120105         0.000
..        ...           ...
361  20121227         1.000
362  20121228         0.000
363  20121229         1.375
364  20121230         2.250
365  20121231         1.125

[366 rows x 2 columns]

In [122]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.250
1     20120102         0.000
2     20120103         1.875
3     20120104         0.000
4     20120105         0.000
...        ...           ...
3289  20121227         1.000
3290  20121228         0.000
3291  20121229         1.375
3292  20121230         2.250
3293  20121231         1.125

[3294 rows x 2 columns]

In [123]:
kw2013_pre_pro_10

NameError: name 'kw2013_pre_pro_10' is not defined

In [124]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_10' is not defined

In [125]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

NameError: name 'kw2013_pre_pro_10' is not defined

In [126]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

NameError: name 'kw2013_pre_pro_10' is not defined

In [129]:
kw2013_pre_pro_10.loc[:4091]["date"] = "201201" + kw2013_pre_pro_10.loc[:4091]["date"]
kw2013_pre_pro_10.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_10.loc[4093:7920]["date"]
kw2013_pre_pro_10.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_10.loc[7922:12013]["date"]
kw2013_pre_pro_10.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_10.loc[12015:15974]["date"]
kw2013_pre_pro_10.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_10.loc[15976:20067]["date"]
kw2013_pre_pro_10.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_10.loc[20069:24028]["date"]
kw2013_pre_pro_10.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_10.loc[24030:28121]["date"]
kw2013_pre_pro_10.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_10.loc[28123:32214]["date"]
kw2013_pre_pro_10.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_10.loc[32216:36175]["date"]
kw2013_pre_pro_10.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_10.loc[36177:40268]["date"]
kw2013_pre_pro_10.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_10.loc[40270:44228]["date"]
kw2013_pre_pro_10.loc[44230:]["date"] = "201212" + kw2013_pre_pro_10.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091]["date"] = "201201" + kw2013_pre_pro_10.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_10.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_10.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_10.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_10.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_10.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_10.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_10.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_10.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_10.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_10.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4022522519.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[44230:]["date"] = "201212" + kw2013_pre_pro_10.loc[44230:]["date"]

In [130]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [131]:
kw2013_pre_pro_10["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [132]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [133]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [134]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [135]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.000
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.250
362  20121228         0.125
363  20121229         0.875
364  20121230         0.000
365  20121231         0.000

[366 rows x 2 columns]

In [136]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.000
3     20120104         0.000
4     20120105         0.000
...        ...           ...
3655  20121227         1.250
3656  20121228         0.125
3657  20121229         0.875
3658  20121230         0.000
3659  20121231         0.000

[3660 rows x 2 columns]

In [137]:
kw2013_pre_pro_11

      format..day    hour  forecast  value..location.33_64.Start...20120101
0               1   200.0       4.0                                     2.0
1               1   200.0       7.0                                     3.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     3.0
48318          31  2300.0      43.0                                     3.0
48319          31  2300.0      46.0                                     3.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [138]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

In [139]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

In [140]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [141]:
kw2013_pre_pro_11.loc[:4091]["date"] = "201201" + kw2013_pre_pro_11.loc[:4091]["date"]
kw2013_pre_pro_11.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_11.loc[4093:7920]["date"]
kw2013_pre_pro_11.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_11.loc[7922:12013]["date"]
kw2013_pre_pro_11.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_11.loc[12015:15974]["date"]
kw2013_pre_pro_11.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_11.loc[15976:20067]["date"]
kw2013_pre_pro_11.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_11.loc[20069:24028]["date"]
kw2013_pre_pro_11.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_11.loc[24030:28121]["date"]
kw2013_pre_pro_11.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_11.loc[28123:32214]["date"]
kw2013_pre_pro_11.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_11.loc[32216:36175]["date"]
kw2013_pre_pro_11.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_11.loc[36177:40268]["date"]
kw2013_pre_pro_11.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_11.loc[40270:44228]["date"]
kw2013_pre_pro_11.loc[44230:]["date"] = "201212" + kw2013_pre_pro_11.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091]["date"] = "201201" + kw2013_pre_pro_11.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_11.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_11.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_11.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_11.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_11.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_11.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_11.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_11.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_11.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_11.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/3962222143.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[44230:]["date"] = "201212" + kw2013_pre_pro_11.loc[44230:]["date"]

In [142]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [143]:
kw2013_pre_pro_11["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [144]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           2.0
16  20120101   500.0       4.0           3.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [145]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [146]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [147]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20120101         0.625
1    20120102         0.000
2    20120103         2.875
3    20120104         0.750
4    20120105         0.000
..        ...           ...
361  20121227         0.875
362  20121228         0.000
363  20121229         1.125
364  20121230         2.625
365  20121231         1.000

[366 rows x 2 columns]

In [148]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.000
3     20120104         0.000
4     20120105         0.000
...        ...           ...
4021  20121227         0.875
4022  20121228         0.000
4023  20121229         1.125
4024  20121230         2.625
4025  20121231         1.000

[4026 rows x 2 columns]

In [149]:
kw2013_pre_pro_12

      format..day    hour  forecast  value..location.52_76.Start...20120101
0               1   200.0       4.0                                     2.0
1               1   200.0       7.0                                     3.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     3.0
48318          31  2300.0      43.0                                     3.0
48319          31  2300.0      46.0                                     3.0
48320          31  2300.0      49.0                                     3.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [150]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [151]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [152]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [153]:
kw2013_pre_pro_12.loc[:4091]["date"] = "201201" + kw2013_pre_pro_12.loc[:4091]["date"]
kw2013_pre_pro_12.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_12.loc[4093:7920]["date"]
kw2013_pre_pro_12.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_12.loc[7922:12013]["date"]
kw2013_pre_pro_12.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_12.loc[12015:15974]["date"]
kw2013_pre_pro_12.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_12.loc[15976:20067]["date"]
kw2013_pre_pro_12.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_12.loc[20069:24028]["date"]
kw2013_pre_pro_12.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_12.loc[24030:28121]["date"]
kw2013_pre_pro_12.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_12.loc[28123:32214]["date"]
kw2013_pre_pro_12.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_12.loc[32216:36175]["date"]
kw2013_pre_pro_12.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_12.loc[36177:40268]["date"]
kw2013_pre_pro_12.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_12.loc[40270:44228]["date"]
kw2013_pre_pro_12.loc[44230:]["date"] = "201212" + kw2013_pre_pro_12.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091]["date"] = "201201" + kw2013_pre_pro_12.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_12.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_12.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_12.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_12.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_12.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_12.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_12.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_12.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_12.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_12.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/980525143.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[44230:]["date"] = "201212" + kw2013_pre_pro_12.loc[44230:]["date"]

In [154]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [155]:
kw2013_pre_pro_12["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [156]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           2.0
16  20120101   500.0       4.0           3.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [157]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [158]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [159]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20120101         0.625
1    20120102         0.000
2    20120103         2.875
3    20120104         2.250
4    20120105         0.000
..        ...           ...
361  20121227         1.375
362  20121228         0.000
363  20121229         1.375
364  20121230         2.250
365  20121231         1.500

[366 rows x 2 columns]

In [160]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.000
3     20120104         0.000
4     20120105         0.000
...        ...           ...
4387  20121227         1.375
4388  20121228         0.000
4389  20121229         1.375
4390  20121230         2.250
4391  20121231         1.500

[4392 rows x 2 columns]

In [161]:
kw2013_pre_pro_13

      format..day    hour  forecast  value..location.57_63.Start...20120101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     3.0
48318          31  2300.0      43.0                                     0.0
48319          31  2300.0      46.0                                     0.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [162]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [163]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [164]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [165]:
kw2013_pre_pro_13.loc[:4091]["date"] = "201201" + kw2013_pre_pro_13.loc[:4091]["date"]
kw2013_pre_pro_13.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_13.loc[4093:7920]["date"]
kw2013_pre_pro_13.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_13.loc[7922:12013]["date"]
kw2013_pre_pro_13.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_13.loc[12015:15974]["date"]
kw2013_pre_pro_13.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_13.loc[15976:20067]["date"]
kw2013_pre_pro_13.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_13.loc[20069:24028]["date"]
kw2013_pre_pro_13.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_13.loc[24030:28121]["date"]
kw2013_pre_pro_13.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_13.loc[28123:32214]["date"]
kw2013_pre_pro_13.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_13.loc[32216:36175]["date"]
kw2013_pre_pro_13.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_13.loc[36177:40268]["date"]
kw2013_pre_pro_13.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_13.loc[40270:44228]["date"]
kw2013_pre_pro_13.loc[44230:]["date"] = "201212" + kw2013_pre_pro_13.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091]["date"] = "201201" + kw2013_pre_pro_13.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_13.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_13.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_13.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_13.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_13.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_13.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_13.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_13.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_13.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_13.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/941300917.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[44230:]["date"] = "201212" + kw2013_pre_pro_13.loc[44230:]["date"]

In [166]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [167]:
kw2013_pre_pro_13["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [168]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [169]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20757/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [170]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [171]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20120101          0.00
1    20120102          0.00
2    20120103          1.50
3    20120104          0.00
4    20120105          0.00
..        ...           ...
361  20121227          1.00
362  20121228          0.00
363  20121229          1.50
364  20121230          1.50
365  20121231          0.75

[366 rows x 2 columns]

In [172]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101          0.00
1     20120102          0.00
2     20120103          0.00
3     20120104          0.00
4     20120105          0.00
...        ...           ...
4753  20121227          1.00
4754  20121228          0.00
4755  20121229          1.50
4756  20121230          1.50
4757  20121231          0.75

[4758 rows x 2 columns]

In [173]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [174]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_14' is not defined

In [173]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

In [174]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [175]:
kw2013_pre_pro_14.loc[:4091]["date"] = "201201" + kw2013_pre_pro_14.loc[:4091]["date"]
kw2013_pre_pro_14.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_14.loc[4093:7920]["date"]
kw2013_pre_pro_14.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_14.loc[7922:12013]["date"]
kw2013_pre_pro_14.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_14.loc[12015:15974]["date"]
kw2013_pre_pro_14.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_14.loc[15976:20067]["date"]
kw2013_pre_pro_14.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_14.loc[20069:24028]["date"]
kw2013_pre_pro_14.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_14.loc[24030:28121]["date"]
kw2013_pre_pro_14.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_14.loc[28123:32214]["date"]
kw2013_pre_pro_14.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_14.loc[32216:36175]["date"]
kw2013_pre_pro_14.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_14.loc[36177:40268]["date"]
kw2013_pre_pro_14.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_14.loc[40270:44228]["date"]
kw2013_pre_pro_14.loc[44230:]["date"] = "201212" + kw2013_pre_pro_14.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091]["date"] = "201201" + kw2013_pre_pro_14.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_14.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_14.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_14.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_14.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_14.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_14.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_14.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_14.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_14.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_14.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/738165949.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[44230:]["date"] = "201212" + kw2013_pre_pro_14.loc[44230:]["date"]

In [176]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [177]:
kw2013_pre_pro_14["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [178]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [179]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [180]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [181]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.000
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         0.750
362  20121228         0.625
363  20121229         1.125
364  20121230         0.000
365  20121231         0.000

[366 rows x 2 columns]

In [182]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.000
3     20120104         0.000
4     20120105         0.000
...        ...           ...
5119  20121227         0.750
5120  20121228         0.625
5121  20121229         1.125
5122  20121230         0.000
5123  20121231         0.000

[5124 rows x 2 columns]

In [183]:
kw2013_pre_pro_15

      format..day    hour  forecast  value..location.84_96.Start...20120101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
48317          31  2300.0      40.0                                     0.0
48318          31  2300.0      43.0                                     0.0
48319          31  2300.0      46.0                                     0.0
48320          31  2300.0      49.0                                     0.0
48321          31  2300.0      52.0                                     0.0

[48322 rows x 4 columns]

In [184]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [185]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [186]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1553633085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [187]:
kw2013_pre_pro_15.loc[:4091]["date"] = "201201" + kw2013_pre_pro_15.loc[:4091]["date"]
kw2013_pre_pro_15.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_15.loc[4093:7920]["date"]
kw2013_pre_pro_15.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_15.loc[7922:12013]["date"]
kw2013_pre_pro_15.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_15.loc[12015:15974]["date"]
kw2013_pre_pro_15.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_15.loc[15976:20067]["date"]
kw2013_pre_pro_15.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_15.loc[20069:24028]["date"]
kw2013_pre_pro_15.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_15.loc[24030:28121]["date"]
kw2013_pre_pro_15.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_15.loc[28123:32214]["date"]
kw2013_pre_pro_15.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_15.loc[32216:36175]["date"]
kw2013_pre_pro_15.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_15.loc[36177:40268]["date"]
kw2013_pre_pro_15.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_15.loc[40270:44228]["date"]
kw2013_pre_pro_15.loc[44230:]["date"] = "201212" + kw2013_pre_pro_15.loc[44230:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4091]["date"] = "201201" + kw2013_pre_pro_15.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4093:7920]["date"] = "201202" + kw2013_pre_pro_15.loc[4093:7920]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[7922:12013]["date"] = "201203" + kw2013_pre_pro_15.loc[7922:12013]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[12015:15974]["date"] = "201204" + kw2013_pre_pro_15.loc[12015:15974]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[15976:20067]["date"] = "201205" + kw2013_pre_pro_15.loc[15976:20067]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[20069:24028]["date"] = "201206" + kw2013_pre_pro_15.loc[20069:24028]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[24030:28121]["date"] = "201207" + kw2013_pre_pro_15.loc[24030:28121]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[28123:32214]["date"] = "201208" + kw2013_pre_pro_15.loc[28123:32214]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[32216:36175]["date"] = "201209" + kw2013_pre_pro_15.loc[32216:36175]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[36177:40268]["date"] = "201210" + kw2013_pre_pro_15.loc[36177:40268]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[40270:44228]["date"] = "201211" + kw2013_pre_pro_15.loc[40270:44228]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1990421994.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[44230:]["date"] = "201212" + kw2013_pre_pro_15.loc[44230:]["date"]

In [188]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4092, 7921, 12014, 15975, 20068, 24029, 28122, 32215, 36176, 40269, 44229], axis = 0)

In [189]:
kw2013_pre_pro_15["date"].value_counts()

20120101    132
20120908    132
20120906    132
20120905    132
20120904    132
           ...
20120429    132
20120428    132
20120427    132
20121231    132
20121130    131
Name: date, Length: 366, dtype: int64

In [190]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== 4.0]
kw2013_pre_pro_15_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20120101   200.0       4.0           0.0
16  20120101   500.0       4.0           0.0
31  20120101   800.0       4.0           0.0
49  20120101  1100.0       4.0           0.0
66  20120101  1400.0       4.0           0.0

In [191]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_20631/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [192]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [193]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20120101         0.000
1    20120102         0.000
2    20120103         0.750
3    20120104         0.000
4    20120105         0.000
..        ...           ...
361  20121227         1.125
362  20121228         0.375
363  20121229         1.500
364  20121230         0.000
365  20121231         0.375

[366 rows x 2 columns]

In [194]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20120101         0.000
1     20120102         0.000
2     20120103         0.000
3     20120104         0.000
4     20120105         0.000
...        ...           ...
5485  20121227         1.125
5486  20121228         0.375
5487  20121229         1.500
5488  20121230         0.000
5489  20121231         0.375

[5490 rows x 2 columns]

In [88]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20120101   충북        0.0000
1    20120102   충북        0.0000
2    20120103   충북        0.8125
3    20120104   충북        0.0000
4    20120105   충북        0.0000
..        ...  ...           ...
361  20121227   충북        0.9375
362  20121228   충북        0.2500
363  20121229   충북        1.7500
364  20121230   충북        0.1250
365  20121231   충북        0.7500

[366 rows x 3 columns]

In [89]:
pre_pro.to_csv('cb.csv', index=False)

In [90]:
num1 = pd.read_csv('gw.csv')
num2 = pd.read_csv('gg.csv')
num3 = pd.read_csv('gn.csv')
num4 = pd.read_csv('gb.csv')
num5 = pd.read_csv('gj.csv')
num6 = pd.read_csv('dg.csv')
num7 = pd.read_csv('dj.csv')
num8 = pd.read_csv('bs.csv')
num9 = pd.read_csv('su.csv')
num10 = pd.read_csv('sj.csv')
num11 = pd.read_csv('us.csv')
num12 = pd.read_csv('ic.csv')
num13 = pd.read_csv('jn.csv')
num14 = pd.read_csv('jb.csv')
num15 = pd.read_csv('jj.csv')
num16 = pd.read_csv('cn.csv')
num17 = pd.read_csv('cb.csv')

In [91]:
pre_pro_2014

NameError: name 'pre_pro_2014' is not defined

In [92]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20120101   강원      0.535714
1    20120102   강원      0.000000
2    20120103   강원      0.267857
3    20120104   강원      0.000000
4    20120105   강원      0.000000
..        ...  ...           ...
361  20121227   강원      0.221154
362  20121228   강원      0.730769
363  20121229   강원      1.432692
364  20121230   강원      0.000000
365  20121231   강원      0.490385

[366 rows x 3 columns]

In [93]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)
pre_pro_2014

         date area  pre_pro_mean
0    20120101   강원      0.535714
1    20120102   강원      0.000000
2    20120103   강원      0.267857
3    20120104   강원      0.000000
4    20120105   강원      0.000000
..        ...  ...           ...
727  20121227   경기      0.300000
728  20121228   경기      0.000000
729  20121229   경기      1.875000
730  20121230   경기      0.000000
731  20121231   경기      0.675000

[732 rows x 3 columns]

In [94]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
1093  20121227   경남      1.221154
1094  20121228   경남      0.221154
1095  20121229   경남      0.980769
1096  20121230   경남      0.000000
1097  20121231   경남      0.322917

[1098 rows x 3 columns]

In [95]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
1459  20121227   경북      0.708333
1460  20121228   경북      0.508333
1461  20121229   경북      1.058333
1462  20121230   경북      0.075000
1463  20121231   경북      0.225000

[1464 rows x 3 columns]

In [96]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
1818  20121220   광주      0.375000
1819  20121221   광주      0.250000
1820  20121222   광주      0.750000
1821  20121223   광주      1.875000
1822  20121224   광주      0.000000

[1823 rows x 3 columns]

In [97]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
2184  20121227   대구      1.125000
2185  20121228   대구      0.375000
2186  20121229   대구      1.125000
2187  20121230   대구      0.000000
2188  20121231   대구      0.000000

[2189 rows x 3 columns]

In [98]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
2489  20121027   대전      0.375000
2490  20121028   대전      0.000000
2491  20121029   대전      0.000000
2492  20121030   대전      0.000000
2493  20121031   대전      0.000000

[2494 rows x 3 columns]

In [99]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
2855  20121227   부산      0.875000
2856  20121228   부산      0.125000
2857  20121229   부산      0.750000
2858  20121230   부산      0.000000
2859  20121231   부산      0.250000

[2860 rows x 3 columns]

In [100]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
3221  20121227   서울      0.375000
3222  20121228   서울      0.000000
3223  20121229   서울      1.875000
3224  20121230   서울      0.000000
3225  20121231   서울      0.750000

[3226 rows x 3 columns]

In [101]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
3587  20121227   세종      1.125000
3588  20121228   세종      0.000000
3589  20121229   세종      1.500000
3590  20121230   세종      0.750000
3591  20121231   세종      0.750000

[3592 rows x 3 columns]

In [102]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
3943  20121217   울산      0.000000
3944  20121218   울산      0.000000
3945  20121219   울산      0.000000
3946  20121220   울산      0.125000
3947  20121221   울산      0.600000

[3948 rows x 3 columns]

In [103]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
4309  20121227   인천      0.375000
4310  20121228   인천      0.093750
4311  20121229   인천      1.781250
4312  20121230   인천      1.031250
4313  20121231   인천      1.125000

[4314 rows x 3 columns]

In [104]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
4675  20121227   전남      1.086538
4676  20121228   전남      0.067308
4677  20121229   전남      1.346154
4678  20121230   전남      1.442308
4679  20121231   전남      0.730769

[4680 rows x 3 columns]

In [105]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
5041  20121227   전북      1.069444
5042  20121228   전북      0.000000
5043  20121229   전북      1.402778
5044  20121230   전북      1.666667
5045  20121231   전북      0.958333

[5046 rows x 3 columns]

In [106]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
5407  20121227   제주      0.687500
5408  20121228   제주      0.000000
5409  20121229   제주      0.437500
5410  20121230   제주      1.593750
5411  20121231   제주      0.000000

[5412 rows x 3 columns]

In [107]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
5773  20121227   충남      0.937500
5774  20121228   충남      0.000000
5775  20121229   충남      1.500000
5776  20121230   충남      1.437500
5777  20121231   충남      1.187500

[5778 rows x 3 columns]

In [108]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [109]:
pre_pro_2014

          date area  pre_pro_mean
0     20120101   강원      0.535714
1     20120102   강원      0.000000
2     20120103   강원      0.267857
3     20120104   강원      0.000000
4     20120105   강원      0.000000
...        ...  ...           ...
6139  20121227   충북      0.937500
6140  20121228   충북      0.250000
6141  20121229   충북      1.750000
6142  20121230   충북      0.125000
6143  20121231   충북      0.750000

[6144 rows x 3 columns]

In [ ]:
pre_pro_2014.rename(columns={'pre_pro_mean': 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [134]:
pre_pro_2014.to_csv('pre_pro_2012.csv', index=False)

In [126]:
num17

         date area  pre_pro_mean
0    20120101   충북      7.500000
1    20120102   충북     17.666667
2    20120103   충북     29.770833
3    20120104   충북      5.708333
4    20120105   충북     11.333333
..        ...  ...           ...
345  20121227   충북     33.958333
346  20121228   충북     24.166667
347  20121229   충북     47.708333
348  20121230   충북     10.416667
349  20121231   충북     31.250000

[350 rows x 3 columns]

In [135]:
y2012 = pd.read_csv('pre_pro_2012.csv')
y2013 = pd.read_csv('pre_pro_2013.csv')
y2014 = pd.read_csv('pre_pro_2014.csv')
y2015 = pd.read_csv('pre_pro_2015.csv')

In [136]:
final_pre_pro = pd.DataFrame(y2012)

In [137]:
final_pre_pro = pd.concat([final_pre_pro, y2013], axis = 0, ignore_index=True)

In [138]:
final_pre_pro = pd.concat([final_pre_pro, y2014], axis = 0, ignore_index=True)

In [139]:
final_pre_pro = pd.concat([final_pre_pro, y2015], axis = 0, ignore_index=True)

In [140]:
final_pre_pro

           date area  pre_pro_mean
0      20120101   강원     21.500000
1      20120102   강원     10.294643
2      20120103   강원     21.544643
3      20120104   강원      0.000000
4      20120105   강원      3.312500
...         ...  ...           ...
24322  20151227   충북      0.166667
24323  20151228   충북      3.958333
24324  20151229   충북     11.333333
24325  20151230   충북     40.208333
24326  20151231   충북      2.125000

[24327 rows x 3 columns]

In [141]:
final_pre_pro.to_csv('강수확률.csv', index=False)