In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2013/울산", "*_강수형태_201301_201312.csv"))

In [5]:
kw2013_pre_pro

['2013/울산/병영2동_강수형태_201301_201312.csv']

In [6]:
print(len(kw2013_pre_pro))

1

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

       format: day  hour forecast value  location:102_85 Start : 20130101
0                1  0200       +4                                0.000000
1                1  0200       +7                                0.000000
2                1  0200      +10                                0.000000
3                1  0200      +13                                0.000000
4                1  0200      +16                                0.000000
...            ...   ...      ...                                      ...
96378           31  2300      +40                                0.000000
96379           31  2300      +43                                0.000000
96380           31  2300      +46                                0.000000
96381           31  2300      +49                                0.000000
96382           31  2300      +52                                0.000000

[96383 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96383 entries, 0 to 96382
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              96383 non-null  object
 1   hour                                      96361 non-null  object
 2   forecast                                  96361 non-null  object
 3   value  location:102_85 Start : 20130101   96361 non-null  object
dtypes: object(4)
memory usage: 2.9+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20130201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20130901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20131201')])

                 date hour forecast pre_pro_mean
4092   Start:20130201  NaN      NaN          NaN
7789   Start:20130301  NaN      NaN          NaN
11882  Start:20130401  NaN      NaN          NaN
15843  Start:20130501  NaN      NaN          NaN
19936  Start:20130601  NaN      NaN          NaN
23897  Start:20130701  NaN      NaN          NaN
27990  Start:20130801  NaN      NaN          NaN
32083  Start:20130901  NaN      NaN          NaN
36044  Start:20131001  NaN      NaN          NaN
40137  Start:20131101  NaN      NaN          NaN
44098  Start:20131201  NaN      NaN          NaN
52284  Start:20130201  NaN      NaN          NaN
55981  Start:20130301  NaN      NaN          NaN
60074  Start:20130401  NaN      NaN          NaN
64035  Start:20130501  NaN      NaN          NaN
68128  Start:20130601  NaN      NaN          NaN
72089  Start:20130701  NaN      NaN          NaN
76182  Start:20130801  NaN      NaN          NaN
80275  Start:20130901  NaN      NaN          NaN
84236  Start:20131001  NaN      NaN          NaN
88329  Start:20131101  NaN      NaN          NaN
92290  Start:20131201  NaN      NaN          NaN

In [14]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.loc[:52283]

In [15]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201301" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_1.loc[4093:7788]["date"]
kw2013_pre_pro_1.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_1.loc[7790:11881]["date"]
kw2013_pre_pro_1.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_1.loc[11883:15842]["date"]
kw2013_pre_pro_1.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_1.loc[15844:19935]["date"]
kw2013_pre_pro_1.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_1.loc[19937:23896]["date"]
kw2013_pre_pro_1.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_1.loc[23898:27989]["date"]
kw2013_pre_pro_1.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_1.loc[27991:32082]["date"]
kw2013_pre_pro_1.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_1.loc[32084:36043]["date"]
kw2013_pre_pro_1.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_1.loc[36045:40136]["date"]
kw2013_pre_pro_1.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_1.loc[40138:44097]["date"]
#kw2013_pre_pro_1.loc[44099:]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:]["date"]
kw2013_pre_pro_1.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:52283]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201301" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788]["date"] = "201302" + kw2013_pre_pro_1.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881]["date"] = "201303" + kw2013_pre_pro_1.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:15842]["date"] = "201304" + kw2013_pre_pro_1.loc[11883:15842]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[15844:19935]["date"] = "201305" + kw2013_pre_pro_1.loc[15844:19935]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[19937:23896]["date"] = "201306" + kw2013_pre_pro_1.loc[19937:23896]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[23898:27989]["date"] = "201307" + kw2013_pre_pro_1.loc[23898:27989]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[27991:32082]["date"] = "201308" + kw2013_pre_pro_1.loc[27991:32082]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[32084:36043]["date"] = "201309" + kw2013_pre_pro_1.loc[32084:36043]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[36045:40136]["date"] = "201310" + kw2013_pre_pro_1.loc[36045:40136]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[40138:44097]["date"] = "201311" + kw2013_pre_pro_1.loc[40138:44097]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/659142922.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[44099:52283]["date"] = "201312" + kw2013_pre_pro_1.loc[44099:52283]["date"]

In [16]:
#kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098], axis = 0)
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 15843, 19936, 23897, 27990, 32083, 36044, 40137, 44098, 48191], axis = 0)

In [17]:
kw2013_pre_pro_1["date"].value_counts()

20131231    264
20131216    264
20131201    264
20131202    264
20131203    264
           ...
20130501    132
20130430    132
20130429    132
20130428    132
20130702    132
Name: date, Length: 365, dtype: int64

In [18]:
#kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== '+4']
kw2013_pre_pro_1_fore4.head()

        date  hour forecast pre_pro_mean
0   20130101  0200       +4    0.000000
16  20130101  0500       +4    0.000000
31  20130101  0800       +4    0.000000
49  20130101  1100       +4    0.000000
66  20130101  1400       +4    0.000000

In [19]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21634/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [20]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [21]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20130101        0.0000
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.0000
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.1875

[365 rows x 2 columns]

In [22]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20130101        0.0000
1    20130102        0.0000
2    20130103        0.0000
3    20130104        0.0000
4    20130105        0.0000
..        ...           ...
360  20131227        0.0000
361  20131228        0.0000
362  20131229        0.0000
363  20131230        0.0000
364  20131231        0.1875

[365 rows x 2 columns]

In [23]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '울산'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20130101   울산        0.0000
1    20130102   울산        0.0000
2    20130103   울산        0.0000
3    20130104   울산        0.0000
4    20130105   울산        0.0000
..        ...  ...           ...
360  20131227   울산        0.0000
361  20131228   울산        0.0000
362  20131229   울산        0.0000
363  20131230   울산        0.0000
364  20131231   울산        0.1875

[365 rows x 3 columns]

In [24]:
pre_pro.to_csv('us.csv', index=False)