In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2014/충북", "*_강수형태_201401_201412.csv"))

In [5]:
kw2013_pre_pro

['2014/충북/교현.안림동_강수형태_201401_201412.csv',
 '2014/충북/추풍령면_강수형태_201401_201412.csv',
 '2014/충북/강내면_강수형태_201401_201412.csv',
 '2014/충북/용두동_강수형태_201401_201412.csv',
 '2014/충북/보은읍_강수형태_201401_201412.csv',
 '2014/충북/복대1동_강수형태_201401_201412.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.77_114.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.77_114.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20140201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20140201   NaN       NaN           NaN
7789   Start:20140301   NaN       NaN           NaN
11882  Start:20140401   NaN       NaN           NaN
16323  Start:20140501   NaN       NaN           NaN
20912  Start:20140601   NaN       NaN           NaN
25353  Start:20140701   NaN       NaN           NaN
29446  Start:20140801   NaN       NaN           NaN
34035  Start:20140901   NaN       NaN           NaN
38476  Start:20141001   NaN       NaN           NaN
43065  Start:20141101   NaN       NaN           NaN
47506  Start:20141201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3000754765.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506,52095], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.000

[365 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.000

[365 rows x 2 columns]

In [22]:
kw2013_pre_pro_2

      format..day    hour  forecast  value..location.78_98.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [23]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   format..day                             52096 non-null  object
 1   hour                                    52084 non-null  float64
 2   forecast                                52084 non-null  float64
 3   value..location.78_98.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [24]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [25]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [26]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1467841179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [27]:
kw2013_pre_pro_2.loc[:4091]["date"] = "201401" + kw2013_pre_pro_2.loc[:4091]["date"]
kw2013_pre_pro_2.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_2.loc[4093:7788]["date"]
kw2013_pre_pro_2.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_2.loc[7790:11881]["date"]
kw2013_pre_pro_2.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_2.loc[11883:16322]["date"]
kw2013_pre_pro_2.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_2.loc[16324:20911]["date"]
kw2013_pre_pro_2.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_2.loc[20913:25352]["date"]
kw2013_pre_pro_2.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_2.loc[25354:29445]["date"]
kw2013_pre_pro_2.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_2.loc[29447:34034]["date"]
kw2013_pre_pro_2.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_2.loc[34036:38475]["date"]
kw2013_pre_pro_2.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_2.loc[38477:43064]["date"]
kw2013_pre_pro_2.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_2.loc[43066:47505]["date"]
kw2013_pre_pro_2.loc[47507:]["date"] = "201412" + kw2013_pre_pro_2.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091]["date"] = "201401" + kw2013_pre_pro_2.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_2.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_2.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_2.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_2.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_2.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_2.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_2.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_2.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_2.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_2.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2591984151.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[47507:]["date"] = "201412" + kw2013_pre_pro_2.loc[47507:]["date"]

In [28]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [29]:
kw2013_pre_pro_2["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [30]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [31]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [32]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [33]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.000

[365 rows x 2 columns]

In [34]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
725  20141227         0.000
726  20141228         0.000
727  20141229         0.000
728  20141230         1.125
729  20141231         0.000

[730 rows x 2 columns]

In [35]:
kw2013_pre_pro_3

      format..day    hour  forecast  value..location.67_106.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [36]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.67_106.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [37]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [38]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [39]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1179430012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [40]:
kw2013_pre_pro_3.loc[:4091]["date"] = "201401" + kw2013_pre_pro_3.loc[:4091]["date"]
kw2013_pre_pro_3.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_3.loc[4093:7788]["date"]
kw2013_pre_pro_3.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_3.loc[7790:11881]["date"]
kw2013_pre_pro_3.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_3.loc[11883:16322]["date"]
kw2013_pre_pro_3.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_3.loc[16324:20911]["date"]
kw2013_pre_pro_3.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_3.loc[20913:25352]["date"]
kw2013_pre_pro_3.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_3.loc[25354:29445]["date"]
kw2013_pre_pro_3.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_3.loc[29447:34034]["date"]
kw2013_pre_pro_3.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_3.loc[34036:38475]["date"]
kw2013_pre_pro_3.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_3.loc[38477:43064]["date"]
kw2013_pre_pro_3.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_3.loc[43066:47505]["date"]
kw2013_pre_pro_3.loc[47507:]["date"] = "201412" + kw2013_pre_pro_3.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091]["date"] = "201401" + kw2013_pre_pro_3.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_3.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_3.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_3.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_3.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_3.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_3.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_3.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_3.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_3.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_3.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3183233413.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[47507:]["date"] = "201412" + kw2013_pre_pro_3.loc[47507:]["date"]

In [41]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [42]:
kw2013_pre_pro_3["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [43]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [44]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [45]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [46]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.375

[365 rows x 2 columns]

In [47]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
1090  20141227         0.000
1091  20141228         0.000
1092  20141229         0.000
1093  20141230         1.125
1094  20141231         0.375

[1095 rows x 2 columns]

In [48]:
kw2013_pre_pro_4

      format..day    hour  forecast  value..location.81_118.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [49]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.81_118.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [50]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [51]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [52]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/845263854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [53]:
kw2013_pre_pro_4.loc[:4091]["date"] = "201401" + kw2013_pre_pro_4.loc[:4091]["date"]
kw2013_pre_pro_4.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_4.loc[4093:7788]["date"]
kw2013_pre_pro_4.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_4.loc[7790:11881]["date"]
kw2013_pre_pro_4.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_4.loc[11883:16322]["date"]
kw2013_pre_pro_4.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_4.loc[16324:20911]["date"]
kw2013_pre_pro_4.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_4.loc[20913:25352]["date"]
kw2013_pre_pro_4.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_4.loc[25354:29445]["date"]
kw2013_pre_pro_4.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_4.loc[29447:34034]["date"]
kw2013_pre_pro_4.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_4.loc[34036:38475]["date"]
kw2013_pre_pro_4.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_4.loc[38477:43064]["date"]
kw2013_pre_pro_4.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_4.loc[43066:47505]["date"]
kw2013_pre_pro_4.loc[47507:]["date"] = "201412" + kw2013_pre_pro_4.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091]["date"] = "201401" + kw2013_pre_pro_4.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_4.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_4.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_4.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_4.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_4.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_4.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_4.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_4.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_4.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_4.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/3458398730.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[47507:]["date"] = "201412" + kw2013_pre_pro_4.loc[47507:]["date"]

In [54]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [55]:
kw2013_pre_pro_4["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [56]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [57]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [58]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [59]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.000

[365 rows x 2 columns]

In [60]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
1455  20141227         0.000
1456  20141228         0.000
1457  20141229         0.000
1458  20141230         1.125
1459  20141231         0.000

[1460 rows x 2 columns]

In [61]:
kw2013_pre_pro_5

      format..day    hour  forecast  value..location.73_103.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [62]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.73_103.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [63]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [64]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [65]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/2136755679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [66]:
kw2013_pre_pro_5.loc[:4091]["date"] = "201401" + kw2013_pre_pro_5.loc[:4091]["date"]
kw2013_pre_pro_5.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_5.loc[4093:7788]["date"]
kw2013_pre_pro_5.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_5.loc[7790:11881]["date"]
kw2013_pre_pro_5.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_5.loc[11883:16322]["date"]
kw2013_pre_pro_5.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_5.loc[16324:20911]["date"]
kw2013_pre_pro_5.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_5.loc[20913:25352]["date"]
kw2013_pre_pro_5.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_5.loc[25354:29445]["date"]
kw2013_pre_pro_5.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_5.loc[29447:34034]["date"]
kw2013_pre_pro_5.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_5.loc[34036:38475]["date"]
kw2013_pre_pro_5.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_5.loc[38477:43064]["date"]
kw2013_pre_pro_5.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_5.loc[43066:47505]["date"]
kw2013_pre_pro_5.loc[47507:]["date"] = "201412" + kw2013_pre_pro_5.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091]["date"] = "201401" + kw2013_pre_pro_5.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_5.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_5.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_5.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_5.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_5.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_5.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_5.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_5.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_5.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_5.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/210400008.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[47507:]["date"] = "201412" + kw2013_pre_pro_5.loc[47507:]["date"]

In [67]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [68]:
kw2013_pre_pro_5["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [69]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [70]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [71]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [72]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.375

[365 rows x 2 columns]

In [73]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
1820  20141227         0.000
1821  20141228         0.000
1822  20141229         0.000
1823  20141230         1.125
1824  20141231         0.375

[1825 rows x 2 columns]

In [74]:
kw2013_pre_pro_6

      format..day    hour  forecast  value..location.68_107.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [75]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [76]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [77]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/304749827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [78]:
kw2013_pre_pro_6.loc[:4091]["date"] = "201401" + kw2013_pre_pro_6.loc[:4091]["date"]
kw2013_pre_pro_6.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_6.loc[4093:7788]["date"]
kw2013_pre_pro_6.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_6.loc[7790:11881]["date"]
kw2013_pre_pro_6.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_6.loc[11883:16322]["date"]
kw2013_pre_pro_6.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_6.loc[16324:20911]["date"]
kw2013_pre_pro_6.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_6.loc[20913:25352]["date"]
kw2013_pre_pro_6.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_6.loc[25354:29445]["date"]
kw2013_pre_pro_6.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_6.loc[29447:34034]["date"]
kw2013_pre_pro_6.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_6.loc[34036:38475]["date"]
kw2013_pre_pro_6.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_6.loc[38477:43064]["date"]
kw2013_pre_pro_6.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_6.loc[43066:47505]["date"]
kw2013_pre_pro_6.loc[47507:]["date"] = "201412" + kw2013_pre_pro_6.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091]["date"] = "201401" + kw2013_pre_pro_6.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_6.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_6.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_6.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_6.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_6.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_6.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_6.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_6.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_6.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_6.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/1837371441.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[47507:]["date"] = "201412" + kw2013_pre_pro_6.loc[47507:]["date"]

In [79]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [80]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [81]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22124/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [82]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [83]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         1.125
364  20141231         0.375

[365 rows x 2 columns]

In [84]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
2185  20141227         0.000
2186  20141228         0.000
2187  20141229         0.000
2188  20141230         1.125
2189  20141231         0.375

[2190 rows x 2 columns]

In [85]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [86]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

In [87]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

In [88]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3994088619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [89]:
kw2013_pre_pro_7.loc[:4091]["date"] = "201401" + kw2013_pre_pro_7.loc[:4091]["date"]
kw2013_pre_pro_7.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_7.loc[4093:7788]["date"]
kw2013_pre_pro_7.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_7.loc[7790:11881]["date"]
kw2013_pre_pro_7.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_7.loc[11883:16322]["date"]
kw2013_pre_pro_7.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_7.loc[16324:20911]["date"]
kw2013_pre_pro_7.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_7.loc[20913:25352]["date"]
kw2013_pre_pro_7.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_7.loc[25354:29445]["date"]
kw2013_pre_pro_7.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_7.loc[29447:34034]["date"]
kw2013_pre_pro_7.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_7.loc[34036:38475]["date"]
kw2013_pre_pro_7.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_7.loc[38477:43064]["date"]
kw2013_pre_pro_7.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_7.loc[43066:47505]["date"]
kw2013_pre_pro_7.loc[47507:]["date"] = "201412" + kw2013_pre_pro_7.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091]["date"] = "201401" + kw2013_pre_pro_7.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_7.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_7.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_7.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_7.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_7.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_7.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_7.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_7.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_7.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_7.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2258728911.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[47507:]["date"] = "201412" + kw2013_pre_pro_7.loc[47507:]["date"]

In [90]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [91]:
kw2013_pre_pro_7["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [92]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [93]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [94]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [95]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.250
362  20141229         0.000
363  20141230         1.000
364  20141231         1.875

[365 rows x 2 columns]

In [96]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
2550  20141227         0.000
2551  20141228         0.250
2552  20141229         0.000
2553  20141230         1.000
2554  20141231         1.875

[2555 rows x 2 columns]

In [97]:
kw2013_pre_pro_8

      format..day    hour  forecast  value..location.66_84.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [98]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [99]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [100]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3004873487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [101]:
kw2013_pre_pro_8.loc[:4091]["date"] = "201401" + kw2013_pre_pro_8.loc[:4091]["date"]
kw2013_pre_pro_8.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_8.loc[4093:7788]["date"]
kw2013_pre_pro_8.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_8.loc[7790:11881]["date"]
kw2013_pre_pro_8.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_8.loc[11883:16322]["date"]
kw2013_pre_pro_8.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_8.loc[16324:20911]["date"]
kw2013_pre_pro_8.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_8.loc[20913:25352]["date"]
kw2013_pre_pro_8.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_8.loc[25354:29445]["date"]
kw2013_pre_pro_8.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_8.loc[29447:34034]["date"]
kw2013_pre_pro_8.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_8.loc[34036:38475]["date"]
kw2013_pre_pro_8.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_8.loc[38477:43064]["date"]
kw2013_pre_pro_8.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_8.loc[43066:47505]["date"]
kw2013_pre_pro_8.loc[47507:]["date"] = "201412" + kw2013_pre_pro_8.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091]["date"] = "201401" + kw2013_pre_pro_8.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_8.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_8.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_8.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_8.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_8.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_8.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_8.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_8.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_8.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_8.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/2899752125.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[47507:]["date"] = "201412" + kw2013_pre_pro_8.loc[47507:]["date"]

In [102]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [103]:
kw2013_pre_pro_8["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [104]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [105]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [106]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [107]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         0.750
364  20141231         1.125

[365 rows x 2 columns]

In [108]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
2915  20141227         0.000
2916  20141228         0.000
2917  20141229         0.000
2918  20141230         0.750
2919  20141231         1.125

[2920 rows x 2 columns]

In [109]:
kw2013_pre_pro_9

      format..day    hour  forecast  value..location.63_79.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [110]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [111]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [112]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/1167784317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [113]:
kw2013_pre_pro_9.loc[:4091]["date"] = "201401" + kw2013_pre_pro_9.loc[:4091]["date"]
kw2013_pre_pro_9.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_9.loc[4093:7788]["date"]
kw2013_pre_pro_9.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_9.loc[7790:11881]["date"]
kw2013_pre_pro_9.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_9.loc[11883:16322]["date"]
kw2013_pre_pro_9.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_9.loc[16324:20911]["date"]
kw2013_pre_pro_9.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_9.loc[20913:25352]["date"]
kw2013_pre_pro_9.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_9.loc[25354:29445]["date"]
kw2013_pre_pro_9.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_9.loc[29447:34034]["date"]
kw2013_pre_pro_9.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_9.loc[34036:38475]["date"]
kw2013_pre_pro_9.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_9.loc[38477:43064]["date"]
kw2013_pre_pro_9.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_9.loc[43066:47505]["date"]
kw2013_pre_pro_9.loc[47507:]["date"] = "201412" + kw2013_pre_pro_9.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091]["date"] = "201401" + kw2013_pre_pro_9.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_9.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_9.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_9.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_9.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_9.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_9.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_9.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_9.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_9.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_9.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4090598029.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[47507:]["date"] = "201412" + kw2013_pre_pro_9.loc[47507:]["date"]

In [114]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [115]:
kw2013_pre_pro_9["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [116]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [117]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [118]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [119]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20140101          0.00
1    20140102          0.00
2    20140103          0.00
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227          0.00
361  20141228          0.00
362  20141229          0.00
363  20141230          0.75
364  20141231          1.50

[365 rows x 2 columns]

In [120]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          0.00
1     20140102          0.00
2     20140103          0.00
3     20140104          0.00
4     20140105          0.00
...        ...           ...
3280  20141227          0.00
3281  20141228          0.00
3282  20141229          0.00
3283  20141230          0.75
3284  20141231          1.50

[3285 rows x 2 columns]

In [121]:
kw2013_pre_pro_10

      format..day    hour  forecast  value..location.58_83.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [122]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

In [123]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

In [124]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/842754490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

In [125]:
kw2013_pre_pro_10.loc[:4091]["date"] = "201401" + kw2013_pre_pro_10.loc[:4091]["date"]
kw2013_pre_pro_10.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_10.loc[4093:7788]["date"]
kw2013_pre_pro_10.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_10.loc[7790:11881]["date"]
kw2013_pre_pro_10.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_10.loc[11883:16322]["date"]
kw2013_pre_pro_10.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_10.loc[16324:20911]["date"]
kw2013_pre_pro_10.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_10.loc[20913:25352]["date"]
kw2013_pre_pro_10.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_10.loc[25354:29445]["date"]
kw2013_pre_pro_10.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_10.loc[29447:34034]["date"]
kw2013_pre_pro_10.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_10.loc[34036:38475]["date"]
kw2013_pre_pro_10.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_10.loc[38477:43064]["date"]
kw2013_pre_pro_10.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_10.loc[43066:47505]["date"]
kw2013_pre_pro_10.loc[47507:]["date"] = "201412" + kw2013_pre_pro_10.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091]["date"] = "201401" + kw2013_pre_pro_10.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_10.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_10.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_10.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_10.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_10.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_10.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_10.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_10.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_10.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_10.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/3400194520.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[47507:]["date"] = "201412" + kw2013_pre_pro_10.loc[47507:]["date"]

In [126]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [127]:
kw2013_pre_pro_10["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [128]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [129]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22101/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [130]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [131]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20140101          0.00
1    20140102          0.00
2    20140103          0.00
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227          0.00
361  20141228          0.00
362  20141229          0.00
363  20141230          1.00
364  20141231          2.25

[365 rows x 2 columns]

In [132]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          0.00
1     20140102          0.00
2     20140103          0.00
3     20140104          0.00
4     20140105          0.00
...        ...           ...
3645  20141227          0.00
3646  20141228          0.00
3647  20141229          0.00
3648  20141230          1.00
3649  20141231          2.25

[3650 rows x 2 columns]

In [133]:
kw2013_pre_pro_11

NameError: name 'kw2013_pre_pro_11' is not defined

In [136]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

In [137]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

In [138]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [139]:
kw2013_pre_pro_11.loc[:4091]["date"] = "201401" + kw2013_pre_pro_11.loc[:4091]["date"]
kw2013_pre_pro_11.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_11.loc[4093:7788]["date"]
kw2013_pre_pro_11.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_11.loc[7790:11881]["date"]
kw2013_pre_pro_11.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_11.loc[11883:16322]["date"]
kw2013_pre_pro_11.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_11.loc[16324:20911]["date"]
kw2013_pre_pro_11.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_11.loc[20913:25352]["date"]
kw2013_pre_pro_11.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_11.loc[25354:29445]["date"]
kw2013_pre_pro_11.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_11.loc[29447:34034]["date"]
kw2013_pre_pro_11.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_11.loc[34036:38475]["date"]
kw2013_pre_pro_11.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_11.loc[38477:43064]["date"]
kw2013_pre_pro_11.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_11.loc[43066:47505]["date"]
kw2013_pre_pro_11.loc[47507:]["date"] = "201412" + kw2013_pre_pro_11.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091]["date"] = "201401" + kw2013_pre_pro_11.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_11.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_11.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_11.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_11.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_11.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_11.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_11.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_11.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_11.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_11.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/162253373.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[47507:]["date"] = "201412" + kw2013_pre_pro_11.loc[47507:]["date"]

In [140]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [141]:
kw2013_pre_pro_11["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [142]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [143]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [144]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [145]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20140101          0.00
1    20140102          0.00
2    20140103          0.00
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227          0.00
361  20141228          0.00
362  20141229          0.00
363  20141230          0.25
364  20141231          2.25

[365 rows x 2 columns]

In [146]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          0.00
1     20140102          0.00
2     20140103          0.00
3     20140104          0.00
4     20140105          0.00
...        ...           ...
4010  20141227          0.00
4011  20141228          0.00
4012  20141229          0.00
4013  20141230          0.25
4014  20141231          2.25

[4015 rows x 2 columns]

In [147]:
kw2013_pre_pro_12

      format..day    hour  forecast  value..location.52_76.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [148]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [149]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [150]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [151]:
kw2013_pre_pro_12.loc[:4091]["date"] = "201401" + kw2013_pre_pro_12.loc[:4091]["date"]
kw2013_pre_pro_12.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_12.loc[4093:7788]["date"]
kw2013_pre_pro_12.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_12.loc[7790:11881]["date"]
kw2013_pre_pro_12.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_12.loc[11883:16322]["date"]
kw2013_pre_pro_12.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_12.loc[16324:20911]["date"]
kw2013_pre_pro_12.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_12.loc[20913:25352]["date"]
kw2013_pre_pro_12.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_12.loc[25354:29445]["date"]
kw2013_pre_pro_12.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_12.loc[29447:34034]["date"]
kw2013_pre_pro_12.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_12.loc[34036:38475]["date"]
kw2013_pre_pro_12.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_12.loc[38477:43064]["date"]
kw2013_pre_pro_12.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_12.loc[43066:47505]["date"]
kw2013_pre_pro_12.loc[47507:]["date"] = "201412" + kw2013_pre_pro_12.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091]["date"] = "201401" + kw2013_pre_pro_12.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_12.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_12.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_12.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_12.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_12.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_12.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_12.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_12.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_12.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_12.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1944695863.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[47507:]["date"] = "201412" + kw2013_pre_pro_12.loc[47507:]["date"]

In [152]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [153]:
kw2013_pre_pro_12["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [154]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [155]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [156]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [157]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.500
362  20141229         0.000
363  20141230         0.375
364  20141231         2.625

[365 rows x 2 columns]

In [158]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
4375  20141227         0.000
4376  20141228         0.500
4377  20141229         0.000
4378  20141230         0.375
4379  20141231         2.625

[4380 rows x 2 columns]

In [159]:
kw2013_pre_pro_13

      format..day    hour  forecast  value..location.33_64.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [160]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [161]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [162]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [163]:
kw2013_pre_pro_13.loc[:4091]["date"] = "201401" + kw2013_pre_pro_13.loc[:4091]["date"]
kw2013_pre_pro_13.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_13.loc[4093:7788]["date"]
kw2013_pre_pro_13.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_13.loc[7790:11881]["date"]
kw2013_pre_pro_13.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_13.loc[11883:16322]["date"]
kw2013_pre_pro_13.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_13.loc[16324:20911]["date"]
kw2013_pre_pro_13.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_13.loc[20913:25352]["date"]
kw2013_pre_pro_13.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_13.loc[25354:29445]["date"]
kw2013_pre_pro_13.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_13.loc[29447:34034]["date"]
kw2013_pre_pro_13.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_13.loc[34036:38475]["date"]
kw2013_pre_pro_13.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_13.loc[38477:43064]["date"]
kw2013_pre_pro_13.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_13.loc[43066:47505]["date"]
kw2013_pre_pro_13.loc[47507:]["date"] = "201412" + kw2013_pre_pro_13.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091]["date"] = "201401" + kw2013_pre_pro_13.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_13.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_13.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_13.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_13.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_13.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_13.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_13.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_13.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_13.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_13.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/1839176441.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[47507:]["date"] = "201412" + kw2013_pre_pro_13.loc[47507:]["date"]

In [164]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [165]:
kw2013_pre_pro_13["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [166]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [167]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22095/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [168]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [169]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.500
362  20141229         0.000
363  20141230         0.250
364  20141231         2.625

[365 rows x 2 columns]

In [170]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
4740  20141227         0.000
4741  20141228         0.500
4742  20141229         0.000
4743  20141230         0.250
4744  20141231         2.625

[4745 rows x 2 columns]

In [171]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [172]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_14' is not defined

In [173]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

NameError: name 'kw2013_pre_pro_14' is not defined

In [172]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [173]:
kw2013_pre_pro_14.loc[:4091]["date"] = "201401" + kw2013_pre_pro_14.loc[:4091]["date"]
kw2013_pre_pro_14.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_14.loc[4093:7788]["date"]
kw2013_pre_pro_14.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_14.loc[7790:11881]["date"]
kw2013_pre_pro_14.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_14.loc[11883:16322]["date"]
kw2013_pre_pro_14.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_14.loc[16324:20911]["date"]
kw2013_pre_pro_14.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_14.loc[20913:25352]["date"]
kw2013_pre_pro_14.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_14.loc[25354:29445]["date"]
kw2013_pre_pro_14.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_14.loc[29447:34034]["date"]
kw2013_pre_pro_14.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_14.loc[34036:38475]["date"]
kw2013_pre_pro_14.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_14.loc[38477:43064]["date"]
kw2013_pre_pro_14.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_14.loc[43066:47505]["date"]
kw2013_pre_pro_14.loc[47507:]["date"] = "201412" + kw2013_pre_pro_14.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091]["date"] = "201401" + kw2013_pre_pro_14.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_14.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_14.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_14.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_14.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_14.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_14.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_14.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_14.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_14.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_14.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2259835343.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[47507:]["date"] = "201412" + kw2013_pre_pro_14.loc[47507:]["date"]

In [174]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [175]:
kw2013_pre_pro_14["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [176]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           1.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [177]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [178]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [179]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20140101         0.125
1    20140102         0.000
2    20140103         0.375
3    20140104         0.750
4    20140105         2.625
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         0.125
364  20141231         3.000

[365 rows x 2 columns]

In [180]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         0.000
1     20140102         0.000
2     20140103         0.000
3     20140104         0.000
4     20140105         0.000
...        ...           ...
5105  20141227         0.000
5106  20141228         0.000
5107  20141229         0.000
5108  20141230         0.125
5109  20141231         3.000

[5110 rows x 2 columns]

In [181]:
kw2013_pre_pro_15

      format..day    hour  forecast  value..location.84_96.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                     0.0
52092          31  2300.0      58.0                                     0.0
52093          31  2300.0      61.0                                     0.0
52094          31  2300.0      64.0                                     0.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [182]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [183]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [184]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/1553633085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [185]:
kw2013_pre_pro_15.loc[:4091]["date"] = "201401" + kw2013_pre_pro_15.loc[:4091]["date"]
kw2013_pre_pro_15.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_15.loc[4093:7788]["date"]
kw2013_pre_pro_15.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_15.loc[7790:11881]["date"]
kw2013_pre_pro_15.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_15.loc[11883:16322]["date"]
kw2013_pre_pro_15.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_15.loc[16324:20911]["date"]
kw2013_pre_pro_15.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_15.loc[20913:25352]["date"]
kw2013_pre_pro_15.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_15.loc[25354:29445]["date"]
kw2013_pre_pro_15.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_15.loc[29447:34034]["date"]
kw2013_pre_pro_15.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_15.loc[34036:38475]["date"]
kw2013_pre_pro_15.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_15.loc[38477:43064]["date"]
kw2013_pre_pro_15.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_15.loc[43066:47505]["date"]
kw2013_pre_pro_15.loc[47507:]["date"] = "201412" + kw2013_pre_pro_15.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4091]["date"] = "201401" + kw2013_pre_pro_15.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_15.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_15.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_15.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_15.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_15.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_15.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_15.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_15.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_15.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_15.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/2415722800.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[47507:]["date"] = "201412" + kw2013_pre_pro_15.loc[47507:]["date"]

In [186]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [187]:
kw2013_pre_pro_15["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [188]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== 4.0]
kw2013_pre_pro_15_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [189]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_21977/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [190]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [191]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20140101          0.00
1    20140102          0.00
2    20140103          0.00
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227          0.00
361  20141228          0.00
362  20141229          0.00
363  20141230          0.75
364  20141231          0.00

[365 rows x 2 columns]

In [192]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          0.00
1     20140102          0.00
2     20140103          0.00
3     20140104          0.00
4     20140105          0.00
...        ...           ...
5470  20141227          0.00
5471  20141228          0.00
5472  20141229          0.00
5473  20141230          0.75
5474  20141231          0.00

[5475 rows x 2 columns]

In [86]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20140101   충북        0.0000
1    20140102   충북        0.0000
2    20140103   충북        0.0000
3    20140104   충북        0.0000
4    20140105   충북        0.0000
..        ...  ...           ...
360  20141227   충북        0.0000
361  20141228   충북        0.0000
362  20141229   충북        0.0000
363  20141230   충북        1.1250
364  20141231   충북        0.1875

[365 rows x 3 columns]

In [87]:
pre_pro.to_csv('cb.csv', index=False)

In [88]:
num1 = pd.read_csv('gw.csv')
num2 = pd.read_csv('gg.csv')
num3 = pd.read_csv('gn.csv')
num4 = pd.read_csv('gb.csv')
num5 = pd.read_csv('gj.csv')
num6 = pd.read_csv('dg.csv')
num7 = pd.read_csv('dj.csv')
num8 = pd.read_csv('bs.csv')
num9 = pd.read_csv('su.csv')
num10 = pd.read_csv('sj.csv')
num11 = pd.read_csv('us.csv')
num12 = pd.read_csv('ic.csv')
num13 = pd.read_csv('jn.csv')
num14 = pd.read_csv('jb.csv')
num15 = pd.read_csv('jj.csv')
num16 = pd.read_csv('cn.csv')
num17 = pd.read_csv('cb.csv')

In [91]:
pre_pro_2014

NameError: name 'pre_pro_2014' is not defined

In [89]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20140101   강원      0.035714
1    20140102   강원      0.000000
2    20140103   강원      0.375000
3    20140104   강원      0.669643
4    20140105   강원      0.000000
..        ...  ...           ...
360  20141227   강원      0.000000
361  20141228   강원      0.000000
362  20141229   강원      0.080357
363  20141230   강원      0.321429
364  20141231   강원      0.000000

[365 rows x 3 columns]

In [90]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)
pre_pro_2014

         date area  pre_pro_mean
0    20140101   강원      0.035714
1    20140102   강원      0.000000
2    20140103   강원      0.375000
3    20140104   강원      0.669643
4    20140105   강원      0.000000
..        ...  ...           ...
725  20141227   경기      0.000000
726  20141228   경기      0.000000
727  20141229   경기      0.000000
728  20141230   경기      0.600000
729  20141231   경기      0.000000

[730 rows x 3 columns]

In [91]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
1090  20141227   경남      0.000000
1091  20141228   경남      0.000000
1092  20141229   경남      0.000000
1093  20141230   경남      0.187500
1094  20141231   경남      0.000000

[1095 rows x 3 columns]

In [92]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
1455  20141227   경북      0.000000
1456  20141228   경북      0.000000
1457  20141229   경북      0.000000
1458  20141230   경북      0.683333
1459  20141231   경북      0.366667

[1460 rows x 3 columns]

In [93]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
1820  20141227   광주      0.000000
1821  20141228   광주      0.250000
1822  20141229   광주      0.000000
1823  20141230   광주      0.375000
1824  20141231   광주      2.250000

[1825 rows x 3 columns]

In [94]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
2185  20141227   대구      0.000000
2186  20141228   대구      0.000000
2187  20141229   대구      0.000000
2188  20141230   대구      0.625000
2189  20141231   대구      0.000000

[2190 rows x 3 columns]

In [95]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
2550  20141227   대전      0.000000
2551  20141228   대전      0.000000
2552  20141229   대전      0.000000
2553  20141230   대전      1.125000
2554  20141231   대전      0.375000

[2555 rows x 3 columns]

In [96]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
2915  20141227   부산      0.000000
2916  20141228   부산      0.000000
2917  20141229   부산      0.000000
2918  20141230   부산      0.000000
2919  20141231   부산      0.000000

[2920 rows x 3 columns]

In [97]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
3280  20141227   서울      0.000000
3281  20141228   서울      0.000000
3282  20141229   서울      0.000000
3283  20141230   서울      0.750000
3284  20141231   서울      0.000000

[3285 rows x 3 columns]

In [98]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
3645  20141227   세종      0.000000
3646  20141228   세종      0.000000
3647  20141229   세종      0.000000
3648  20141230   세종      1.125000
3649  20141231   세종      0.375000

[3650 rows x 3 columns]

In [99]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
4010  20141227   울산      0.000000
4011  20141228   울산      0.000000
4012  20141229   울산      0.000000
4013  20141230   울산      0.125000
4014  20141231   울산      0.000000

[4015 rows x 3 columns]

In [100]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
4375  20141227   인천      0.000000
4376  20141228   인천      0.000000
4377  20141229   인천      0.000000
4378  20141230   인천      0.562500
4379  20141231   인천      0.750000

[4380 rows x 3 columns]

In [101]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
4740  20141227   전남      0.000000
4741  20141228   전남      0.115385
4742  20141229   전남      0.000000
4743  20141230   전남      0.230769
4744  20141231   전남      1.644231

[4745 rows x 3 columns]

In [102]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
5105  20141227   전북      0.000000
5106  20141228   전북      0.150000
5107  20141229   전북      0.000000
5108  20141230   전북      0.875000
5109  20141231   전북      1.575000

[5110 rows x 3 columns]

In [103]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
5470  20141227   제주      0.000000
5471  20141228   제주      0.281250
5472  20141229   제주      0.000000
5473  20141230   제주      0.093750
5474  20141231   제주      1.625000

[5475 rows x 3 columns]

In [104]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      0.035714
1     20140102   강원      0.000000
2     20140103   강원      0.375000
3     20140104   강원      0.669643
4     20140105   강원      0.000000
...        ...  ...           ...
5835  20141227   충남      0.000000
5836  20141228   충남      0.125000
5837  20141229   충남      0.000000
5838  20141230   충남      1.000000
5839  20141231   충남      0.812500

[5840 rows x 3 columns]

In [105]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [110]:
pre_pro_2014

          date area  pre_type_mean
0     20140101   강원       0.035714
1     20140102   강원       0.000000
2     20140103   강원       0.375000
3     20140104   강원       0.669643
4     20140105   강원       0.000000
...        ...  ...            ...
6200  20141227   충북       0.000000
6201  20141228   충북       0.000000
6202  20141229   충북       0.000000
6203  20141230   충북       1.125000
6204  20141231   충북       0.187500

[6205 rows x 3 columns]

In [109]:
pre_pro_2014.rename(columns={'pre_pro_mean': 'pre_type_mean'}, inplace=True)

In [134]:
pre_pro_2014.to_csv('pre_pro_2012.csv', index=False)

In [126]:
num17

         date area  pre_pro_mean
0    20120101   충북      7.500000
1    20120102   충북     17.666667
2    20120103   충북     29.770833
3    20120104   충북      5.708333
4    20120105   충북     11.333333
..        ...  ...           ...
345  20121227   충북     33.958333
346  20121228   충북     24.166667
347  20121229   충북     47.708333
348  20121230   충북     10.416667
349  20121231   충북     31.250000

[350 rows x 3 columns]

In [135]:
y2012 = pd.read_csv('pre_pro_2012.csv')
y2013 = pd.read_csv('pre_pro_2013.csv')
y2014 = pd.read_csv('pre_pro_2014.csv')
y2015 = pd.read_csv('pre_pro_2015.csv')

In [136]:
final_pre_pro = pd.DataFrame(y2012)

In [137]:
final_pre_pro = pd.concat([final_pre_pro, y2013], axis = 0, ignore_index=True)

In [138]:
final_pre_pro = pd.concat([final_pre_pro, y2014], axis = 0, ignore_index=True)

In [139]:
final_pre_pro = pd.concat([final_pre_pro, y2015], axis = 0, ignore_index=True)

In [140]:
final_pre_pro

           date area  pre_pro_mean
0      20120101   강원     21.500000
1      20120102   강원     10.294643
2      20120103   강원     21.544643
3      20120104   강원      0.000000
4      20120105   강원      3.312500
...         ...  ...           ...
24322  20151227   충북      0.166667
24323  20151228   충북      3.958333
24324  20151229   충북     11.333333
24325  20151230   충북     40.208333
24326  20151231   충북      2.125000

[24327 rows x 3 columns]

In [141]:
final_pre_pro.to_csv('강수확률.csv', index=False)