In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2014/충북", "*_강수확률_201401_201412.csv"))

In [5]:
kw2013_pre_pro

['2014/충북/강내면_강수확률_201401_201412.csv',
 '2014/충북/용두동_강수확률_201401_201412.csv',
 '2014/충북/보은읍_강수확률_201401_201412.csv',
 '2014/충북/교현.안림동_강수확률_201401_201412.csv',
 '2014/충북/추풍령면_강수확률_201401_201412.csv',
 '2014/충북/복대1동_강수확률_201401_201412.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.67_106.Start...20140101
0               1   200.0       4.0                                     16.0
1               1   200.0       7.0                                     11.0
2               1   200.0      10.0                                      6.0
3               1   200.0      13.0                                      6.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                     12.0
52092          31  2300.0      58.0                                     20.0
52093          31  2300.0      61.0                                     20.0
52094          31  2300.0      64.0                                     20.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.67_106.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20140201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20140201   NaN       NaN           NaN
7789   Start:20140301   NaN       NaN           NaN
11882  Start:20140401   NaN       NaN           NaN
16323  Start:20140501   NaN       NaN           NaN
20912  Start:20140601   NaN       NaN           NaN
25353  Start:20140701   NaN       NaN           NaN
29446  Start:20140801   NaN       NaN           NaN
34035  Start:20140901   NaN       NaN           NaN
38476  Start:20141001   NaN       NaN           NaN
43065  Start:20141101   NaN       NaN           NaN
47506  Start:20141201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3000754765.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20140503    148
20140604    148
20140606    148
20140607    148
20140608    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
201412        1
Name: date, Length: 366, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          16.0
16  20140101   500.0       4.0          11.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20140101         3.375
1    20140102        14.500
2    20140103         9.500
3    20140104         7.750
4    20140105         0.000
..        ...           ...
360  20141227        12.000
361  20141228        26.500
362  20141229         7.500
363  20141230        29.750
364  20141231        22.875

[365 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101         3.375
1    20140102        14.500
2    20140103         9.500
3    20140104         7.750
4    20140105         0.000
..        ...           ...
360  20141227        12.000
361  20141228        26.500
362  20141229         7.500
363  20141230        29.750
364  20141231        22.875

[365 rows x 2 columns]

In [22]:
kw2013_pre_pro_2

      format..day    hour  forecast  value..location.81_118.Start...20140101
0               1   200.0       4.0                                     20.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                     10.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                     20.0
52092          31  2300.0      58.0                                     20.0
52093          31  2300.0      61.0                                     20.0
52094          31  2300.0      64.0                                     20.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [23]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.81_118.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [24]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [25]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [26]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1467841179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [27]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2['date'] == 'Start:20140201') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140301') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140401') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140501') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140601') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140701') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140801') |
                           (kw2013_pre_pro_2['date'] == 'Start:20140901') |
                           (kw2013_pre_pro_2['date'] == 'Start:20141001') |
                           (kw2013_pre_pro_2['date'] == 'Start:20141101') |
                           (kw2013_pre_pro_2['date'] == 'Start:20141201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20140201   NaN       NaN           NaN
7789   Start:20140301   NaN       NaN           NaN
11882  Start:20140401   NaN       NaN           NaN
16323  Start:20140501   NaN       NaN           NaN
20912  Start:20140601   NaN       NaN           NaN
25353  Start:20140701   NaN       NaN           NaN
29446  Start:20140801   NaN       NaN           NaN
34035  Start:20140901   NaN       NaN           NaN
38476  Start:20141001   NaN       NaN           NaN
43065  Start:20141101   NaN       NaN           NaN
47506  Start:20141201   NaN       NaN           NaN

In [28]:
kw2013_pre_pro_2.loc[:4091]["date"] = "201401" + kw2013_pre_pro_2.loc[:4091]["date"]
kw2013_pre_pro_2.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_2.loc[4093:7788]["date"]
kw2013_pre_pro_2.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_2.loc[7790:11881]["date"]
kw2013_pre_pro_2.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_2.loc[11883:16322]["date"]
kw2013_pre_pro_2.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_2.loc[16324:20911]["date"]
kw2013_pre_pro_2.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_2.loc[20913:25352]["date"]
kw2013_pre_pro_2.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_2.loc[25354:29445]["date"]
kw2013_pre_pro_2.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_2.loc[29447:34034]["date"]
kw2013_pre_pro_2.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_2.loc[34036:38475]["date"]
kw2013_pre_pro_2.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_2.loc[38477:43064]["date"]
kw2013_pre_pro_2.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_2.loc[43066:47505]["date"]
kw2013_pre_pro_2.loc[47507:]["date"] = "201412" + kw2013_pre_pro_2.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4091]["date"] = "201401" + kw2013_pre_pro_2.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_2.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_2.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_2.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_2.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_2.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_2.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_2.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_2.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_2.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_2.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2591984151.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[47507:]["date"] = "201412" + kw2013_pre_pro_2.loc[47507:]["date"]

In [29]:
kw2013_pre_pro_2["date"].value_counts()

20140430          148
20140531          148
20140601          148
20140602          148
20140603          148
                 ...
Start:20141001      1
Start:20140601      1
Start:20140701      1
Start:20140901      1
201412              1
Name: date, Length: 377, dtype: int64

In [30]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [31]:
kw2013_pre_pro_2["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [32]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          20.0
16  20140101   500.0       4.0          20.0
31  20140101   800.0       4.0          20.0
49  20140101  1100.0       4.0          10.0
66  20140101  1400.0       4.0           0.0

In [33]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [34]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [35]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20140101          8.75
1    20140102         16.25
2    20140103         13.75
3    20140104         17.50
4    20140105          1.25
..        ...           ...
360  20141227         12.50
361  20141228         25.00
362  20141229         15.00
363  20141230         30.00
364  20141231          3.75

[365 rows x 2 columns]

In [36]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101         3.375
1    20140102        14.500
2    20140103         9.500
3    20140104         7.750
4    20140105         0.000
..        ...           ...
725  20141227        12.500
726  20141228        25.000
727  20141229        15.000
728  20141230        30.000
729  20141231         3.750

[730 rows x 2 columns]

In [37]:
kw2013_pre_pro_3

      format..day    hour  forecast  value..location.73_103.Start...20140101
0               1   200.0       4.0                                     19.0
1               1   200.0       7.0                                     19.0
2               1   200.0      10.0                                      9.0
3               1   200.0      13.0                                      9.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                     20.0
52092          31  2300.0      58.0                                     20.0
52093          31  2300.0      61.0                                     20.0
52094          31  2300.0      64.0                                     20.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [38]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.73_103.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [39]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [40]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [41]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1179430012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [42]:
print(kw2013_pre_pro_3.loc[(kw2013_pre_pro_3['date'] == 'Start:20140201') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140301') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140401') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140501') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140601') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140701') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140801') |
                           (kw2013_pre_pro_3['date'] == 'Start:20140901') |
                           (kw2013_pre_pro_3['date'] == 'Start:20141001') |
                           (kw2013_pre_pro_3['date'] == 'Start:20141101') |
                           (kw2013_pre_pro_3['date'] == 'Start:20141201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20140201   NaN       NaN           NaN
7789   Start:20140301   NaN       NaN           NaN
11882  Start:20140401   NaN       NaN           NaN
16323  Start:20140501   NaN       NaN           NaN
20912  Start:20140601   NaN       NaN           NaN
25353  Start:20140701   NaN       NaN           NaN
29446  Start:20140801   NaN       NaN           NaN
34035  Start:20140901   NaN       NaN           NaN
38476  Start:20141001   NaN       NaN           NaN
43065  Start:20141101   NaN       NaN           NaN
47506  Start:20141201   NaN       NaN           NaN

In [43]:
kw2013_pre_pro_3.loc[:4091]["date"] = "201401" + kw2013_pre_pro_3.loc[:4091]["date"]
kw2013_pre_pro_3.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_3.loc[4093:7788]["date"]
kw2013_pre_pro_3.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_3.loc[7790:11881]["date"]
kw2013_pre_pro_3.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_3.loc[11883:16322]["date"]
kw2013_pre_pro_3.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_3.loc[16324:20911]["date"]
kw2013_pre_pro_3.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_3.loc[20913:25352]["date"]
kw2013_pre_pro_3.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_3.loc[25354:29445]["date"]
kw2013_pre_pro_3.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_3.loc[29447:34034]["date"]
kw2013_pre_pro_3.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_3.loc[34036:38475]["date"]
kw2013_pre_pro_3.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_3.loc[38477:43064]["date"]
kw2013_pre_pro_3.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_3.loc[43066:47505]["date"]
kw2013_pre_pro_3.loc[47507:]["date"] = "201412" + kw2013_pre_pro_3.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4091]["date"] = "201401" + kw2013_pre_pro_3.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_3.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_3.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_3.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_3.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_3.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_3.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_3.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_3.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_3.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_3.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3183233413.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[47507:]["date"] = "201412" + kw2013_pre_pro_3.loc[47507:]["date"]

In [44]:
kw2013_pre_pro_3["date"].value_counts()

20140430          148
20140531          148
20140601          148
20140602          148
20140603          148
                 ...
Start:20141001      1
Start:20140601      1
Start:20140701      1
Start:20140901      1
201412              1
Name: date, Length: 377, dtype: int64

In [45]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [46]:
kw2013_pre_pro_3["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [47]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          19.0
16  20140101   500.0       4.0          19.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [48]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [49]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [50]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20140101         4.750
1    20140102        15.000
2    20140103        10.000
3    20140104        11.250
4    20140105         0.000
..        ...           ...
360  20141227        12.500
361  20141228        25.000
362  20141229         7.500
363  20141230        31.375
364  20141231        15.125

[365 rows x 2 columns]

In [51]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.375
1     20140102        14.500
2     20140103         9.500
3     20140104         7.750
4     20140105         0.000
...        ...           ...
1090  20141227        12.500
1091  20141228        25.000
1092  20141229         7.500
1093  20141230        31.375
1094  20141231        15.125

[1095 rows x 2 columns]

In [52]:
kw2013_pre_pro_4

      format..day    hour  forecast  value..location.77_114.Start...20140101
0               1   200.0       4.0                                     20.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                     10.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                     20.0
52092          31  2300.0      58.0                                     20.0
52093          31  2300.0      61.0                                     20.0
52094          31  2300.0      64.0                                     20.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [53]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.77_114.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [54]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [55]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [56]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/845263854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [57]:
kw2013_pre_pro_4.loc[:4091]["date"] = "201401" + kw2013_pre_pro_4.loc[:4091]["date"]
kw2013_pre_pro_4.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_4.loc[4093:7788]["date"]
kw2013_pre_pro_4.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_4.loc[7790:11881]["date"]
kw2013_pre_pro_4.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_4.loc[11883:16322]["date"]
kw2013_pre_pro_4.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_4.loc[16324:20911]["date"]
kw2013_pre_pro_4.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_4.loc[20913:25352]["date"]
kw2013_pre_pro_4.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_4.loc[25354:29445]["date"]
kw2013_pre_pro_4.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_4.loc[29447:34034]["date"]
kw2013_pre_pro_4.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_4.loc[34036:38475]["date"]
kw2013_pre_pro_4.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_4.loc[38477:43064]["date"]
kw2013_pre_pro_4.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_4.loc[43066:47505]["date"]
kw2013_pre_pro_4.loc[47507:]["date"] = "201412" + kw2013_pre_pro_4.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4091]["date"] = "201401" + kw2013_pre_pro_4.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_4.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_4.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_4.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_4.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_4.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_4.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_4.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_4.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_4.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_4.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/3458398730.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[47507:]["date"] = "201412" + kw2013_pre_pro_4.loc[47507:]["date"]

In [58]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [59]:
kw2013_pre_pro_4["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [60]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          20.0
16  20140101   500.0       4.0          20.0
31  20140101   800.0       4.0          10.0
49  20140101  1100.0       4.0          10.0
66  20140101  1400.0       4.0           0.0

In [61]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [62]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [63]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20140101          7.50
1    20140102         16.25
2    20140103         13.75
3    20140104         17.50
4    20140105          1.25
..        ...           ...
360  20141227         12.50
361  20141228         25.00
362  20141229         15.00
363  20141230         31.25
364  20141231          3.75

[365 rows x 2 columns]

In [64]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.375
1     20140102        14.500
2     20140103         9.500
3     20140104         7.750
4     20140105         0.000
...        ...           ...
1455  20141227        12.500
1456  20141228        25.000
1457  20141229        15.000
1458  20141230        31.250
1459  20141231         3.750

[1460 rows x 2 columns]

In [65]:
kw2013_pre_pro_5

      format..day    hour  forecast  value..location.78_98.Start...20140101
0               1   200.0       4.0                                    10.0
1               1   200.0       7.0                                    10.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    20.0
52092          31  2300.0      58.0                                    20.0
52093          31  2300.0      61.0                                    20.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [66]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   format..day                             52096 non-null  object
 1   hour                                    52084 non-null  float64
 2   forecast                                52084 non-null  float64
 3   value..location.78_98.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [67]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [68]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [69]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/2136755679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [70]:
kw2013_pre_pro_5.loc[:4091]["date"] = "201401" + kw2013_pre_pro_5.loc[:4091]["date"]
kw2013_pre_pro_5.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_5.loc[4093:7788]["date"]
kw2013_pre_pro_5.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_5.loc[7790:11881]["date"]
kw2013_pre_pro_5.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_5.loc[11883:16322]["date"]
kw2013_pre_pro_5.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_5.loc[16324:20911]["date"]
kw2013_pre_pro_5.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_5.loc[20913:25352]["date"]
kw2013_pre_pro_5.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_5.loc[25354:29445]["date"]
kw2013_pre_pro_5.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_5.loc[29447:34034]["date"]
kw2013_pre_pro_5.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_5.loc[34036:38475]["date"]
kw2013_pre_pro_5.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_5.loc[38477:43064]["date"]
kw2013_pre_pro_5.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_5.loc[43066:47505]["date"]
kw2013_pre_pro_5.loc[47507:]["date"] = "201412" + kw2013_pre_pro_5.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4091]["date"] = "201401" + kw2013_pre_pro_5.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_5.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_5.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_5.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_5.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_5.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_5.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_5.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_5.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_5.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_5.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/210400008.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[47507:]["date"] = "201412" + kw2013_pre_pro_5.loc[47507:]["date"]

In [71]:
kw2013_pre_pro_5["date"].value_counts()

20140430          148
20140531          148
20140601          148
20140602          148
20140603          148
                 ...
Start:20141001      1
Start:20140601      1
Start:20140701      1
Start:20140901      1
201412              1
Name: date, Length: 377, dtype: int64

In [72]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [73]:
kw2013_pre_pro_5["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [74]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          10.0
16  20140101   500.0       4.0          10.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [75]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [76]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [77]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20140101          2.50
1    20140102         15.00
2    20140103         10.00
3    20140104         11.25
4    20140105          0.00
..        ...           ...
360  20141227         12.50
361  20141228         25.00
362  20141229          7.50
363  20141230         31.25
364  20141231         12.50

[365 rows x 2 columns]

In [78]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.375
1     20140102        14.500
2     20140103         9.500
3     20140104         7.750
4     20140105         0.000
...        ...           ...
1820  20141227        12.500
1821  20141228        25.000
1822  20141229         7.500
1823  20141230        31.250
1824  20141231        12.500

[1825 rows x 2 columns]

In [79]:
kw2013_pre_pro_6

      format..day    hour  forecast  value..location.68_107.Start...20140101
0               1   200.0       4.0                                     20.0
1               1   200.0       7.0                                     20.0
2               1   200.0      10.0                                     10.0
3               1   200.0      13.0                                     10.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                     20.0
52092          31  2300.0      58.0                                     20.0
52093          31  2300.0      61.0                                     20.0
52094          31  2300.0      64.0                                     20.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [80]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [81]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [82]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/304749827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [83]:
kw2013_pre_pro_6.loc[:4091]["date"] = "201401" + kw2013_pre_pro_6.loc[:4091]["date"]
kw2013_pre_pro_6.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_6.loc[4093:7788]["date"]
kw2013_pre_pro_6.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_6.loc[7790:11881]["date"]
kw2013_pre_pro_6.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_6.loc[11883:16322]["date"]
kw2013_pre_pro_6.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_6.loc[16324:20911]["date"]
kw2013_pre_pro_6.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_6.loc[20913:25352]["date"]
kw2013_pre_pro_6.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_6.loc[25354:29445]["date"]
kw2013_pre_pro_6.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_6.loc[29447:34034]["date"]
kw2013_pre_pro_6.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_6.loc[34036:38475]["date"]
kw2013_pre_pro_6.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_6.loc[38477:43064]["date"]
kw2013_pre_pro_6.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_6.loc[43066:47505]["date"]
kw2013_pre_pro_6.loc[47507:]["date"] = "201412" + kw2013_pre_pro_6.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4091]["date"] = "201401" + kw2013_pre_pro_6.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_6.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_6.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_6.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_6.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_6.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_6.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_6.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_6.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_6.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_6.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/1837371441.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[47507:]["date"] = "201412" + kw2013_pre_pro_6.loc[47507:]["date"]

In [84]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [85]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          20.0
16  20140101   500.0       4.0          20.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [86]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17504/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [87]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [88]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20140101          5.00
1    20140102         15.00
2    20140103         10.00
3    20140104         11.25
4    20140105          0.00
..        ...           ...
360  20141227         12.50
361  20141228         25.00
362  20141229          7.50
363  20141230         31.25
364  20141231         17.50

[365 rows x 2 columns]

In [89]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.375
1     20140102        14.500
2     20140103         9.500
3     20140104         7.750
4     20140105         0.000
...        ...           ...
2185  20141227        12.500
2186  20141228        25.000
2187  20141229         7.500
2188  20141230        31.250
2189  20141231        17.500

[2190 rows x 2 columns]

In [90]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [91]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_7' is not defined

In [92]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

In [93]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3994088619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [94]:
kw2013_pre_pro_7.loc[:4091]["date"] = "201401" + kw2013_pre_pro_7.loc[:4091]["date"]
kw2013_pre_pro_7.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_7.loc[4093:7788]["date"]
kw2013_pre_pro_7.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_7.loc[7790:11881]["date"]
kw2013_pre_pro_7.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_7.loc[11883:16322]["date"]
kw2013_pre_pro_7.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_7.loc[16324:20911]["date"]
kw2013_pre_pro_7.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_7.loc[20913:25352]["date"]
kw2013_pre_pro_7.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_7.loc[25354:29445]["date"]
kw2013_pre_pro_7.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_7.loc[29447:34034]["date"]
kw2013_pre_pro_7.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_7.loc[34036:38475]["date"]
kw2013_pre_pro_7.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_7.loc[38477:43064]["date"]
kw2013_pre_pro_7.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_7.loc[43066:47505]["date"]
kw2013_pre_pro_7.loc[47507:]["date"] = "201412" + kw2013_pre_pro_7.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4091]["date"] = "201401" + kw2013_pre_pro_7.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_7.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_7.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_7.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_7.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_7.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_7.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_7.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_7.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_7.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_7.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2258728911.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[47507:]["date"] = "201412" + kw2013_pre_pro_7.loc[47507:]["date"]

In [95]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [96]:
kw2013_pre_pro_7["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [97]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [98]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [99]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [100]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20140101          1.25
1    20140102         12.50
2    20140103         12.50
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227         10.00
361  20141228         27.50
362  20141229          8.75
363  20141230         26.25
364  20141231         46.25

[365 rows x 2 columns]

In [101]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          1.25
1     20140102         12.50
2     20140103         12.50
3     20140104          0.00
4     20140105          0.00
...        ...           ...
2550  20141227         10.00
2551  20141228         27.50
2552  20141229          8.75
2553  20141230         26.25
2554  20141231         46.25

[2555 rows x 2 columns]

In [102]:
kw2013_pre_pro_8

      format..day    hour  forecast  value..location.58_83.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    10.0
52092          31  2300.0      58.0                                    10.0
52093          31  2300.0      61.0                                    20.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [103]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [104]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [105]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3004873487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [106]:
kw2013_pre_pro_8.loc[:4091]["date"] = "201401" + kw2013_pre_pro_8.loc[:4091]["date"]
kw2013_pre_pro_8.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_8.loc[4093:7788]["date"]
kw2013_pre_pro_8.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_8.loc[7790:11881]["date"]
kw2013_pre_pro_8.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_8.loc[11883:16322]["date"]
kw2013_pre_pro_8.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_8.loc[16324:20911]["date"]
kw2013_pre_pro_8.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_8.loc[20913:25352]["date"]
kw2013_pre_pro_8.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_8.loc[25354:29445]["date"]
kw2013_pre_pro_8.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_8.loc[29447:34034]["date"]
kw2013_pre_pro_8.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_8.loc[34036:38475]["date"]
kw2013_pre_pro_8.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_8.loc[38477:43064]["date"]
kw2013_pre_pro_8.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_8.loc[43066:47505]["date"]
kw2013_pre_pro_8.loc[47507:]["date"] = "201412" + kw2013_pre_pro_8.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4091]["date"] = "201401" + kw2013_pre_pro_8.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_8.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_8.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_8.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_8.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_8.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_8.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_8.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_8.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_8.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_8.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/2899752125.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[47507:]["date"] = "201412" + kw2013_pre_pro_8.loc[47507:]["date"]

In [107]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [108]:
kw2013_pre_pro_8["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [109]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [110]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [111]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [112]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20140101          1.25
1    20140102         12.50
2    20140103         12.50
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227          8.75
361  20141228         27.50
362  20141229          8.75
363  20141230         32.50
364  20141231         63.75

[365 rows x 2 columns]

In [113]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          1.25
1     20140102         12.50
2     20140103         12.50
3     20140104          0.00
4     20140105          0.00
...        ...           ...
2915  20141227          8.75
2916  20141228         27.50
2917  20141229          8.75
2918  20141230         32.50
2919  20141231         63.75

[2920 rows x 2 columns]

In [114]:
kw2013_pre_pro_9

      format..day    hour  forecast  value..location.56_80.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    10.0
52092          31  2300.0      58.0                                    10.0
52093          31  2300.0      61.0                                    17.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [115]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [116]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [117]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/1167784317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [118]:
kw2013_pre_pro_9.loc[:4091]["date"] = "201401" + kw2013_pre_pro_9.loc[:4091]["date"]
kw2013_pre_pro_9.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_9.loc[4093:7788]["date"]
kw2013_pre_pro_9.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_9.loc[7790:11881]["date"]
kw2013_pre_pro_9.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_9.loc[11883:16322]["date"]
kw2013_pre_pro_9.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_9.loc[16324:20911]["date"]
kw2013_pre_pro_9.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_9.loc[20913:25352]["date"]
kw2013_pre_pro_9.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_9.loc[25354:29445]["date"]
kw2013_pre_pro_9.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_9.loc[29447:34034]["date"]
kw2013_pre_pro_9.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_9.loc[34036:38475]["date"]
kw2013_pre_pro_9.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_9.loc[38477:43064]["date"]
kw2013_pre_pro_9.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_9.loc[43066:47505]["date"]
kw2013_pre_pro_9.loc[47507:]["date"] = "201412" + kw2013_pre_pro_9.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4091]["date"] = "201401" + kw2013_pre_pro_9.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_9.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_9.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_9.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_9.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_9.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_9.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_9.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_9.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_9.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_9.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4090598029.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[47507:]["date"] = "201412" + kw2013_pre_pro_9.loc[47507:]["date"]

In [119]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [120]:
kw2013_pre_pro_9["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [121]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [122]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [123]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [124]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20140101         1.250
1    20140102        12.500
2    20140103        12.500
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227        10.750
361  20141228        29.625
362  20141229         9.500
363  20141230        26.625
364  20141231        61.875

[365 rows x 2 columns]

In [125]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         1.250
1     20140102        12.500
2     20140103        12.500
3     20140104         0.000
4     20140105         0.000
...        ...           ...
3280  20141227        10.750
3281  20141228        29.625
3282  20141229         9.500
3283  20141230        26.625
3284  20141231        61.875

[3285 rows x 2 columns]

In [126]:
kw2013_pre_pro_10

      format..day    hour  forecast  value..location.68_80.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    10.0
52092          31  2300.0      58.0                                    10.0
52093          31  2300.0      61.0                                    17.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [127]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

In [128]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

In [129]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/842754490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

In [130]:
kw2013_pre_pro_10.loc[:4091]["date"] = "201401" + kw2013_pre_pro_10.loc[:4091]["date"]
kw2013_pre_pro_10.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_10.loc[4093:7788]["date"]
kw2013_pre_pro_10.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_10.loc[7790:11881]["date"]
kw2013_pre_pro_10.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_10.loc[11883:16322]["date"]
kw2013_pre_pro_10.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_10.loc[16324:20911]["date"]
kw2013_pre_pro_10.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_10.loc[20913:25352]["date"]
kw2013_pre_pro_10.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_10.loc[25354:29445]["date"]
kw2013_pre_pro_10.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_10.loc[29447:34034]["date"]
kw2013_pre_pro_10.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_10.loc[34036:38475]["date"]
kw2013_pre_pro_10.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_10.loc[38477:43064]["date"]
kw2013_pre_pro_10.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_10.loc[43066:47505]["date"]
kw2013_pre_pro_10.loc[47507:]["date"] = "201412" + kw2013_pre_pro_10.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4091]["date"] = "201401" + kw2013_pre_pro_10.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_10.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_10.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_10.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_10.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_10.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_10.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_10.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_10.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_10.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_10.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/3400194520.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[47507:]["date"] = "201412" + kw2013_pre_pro_10.loc[47507:]["date"]

In [131]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [132]:
kw2013_pre_pro_10["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [133]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [134]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17472/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [135]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [136]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20140101         1.250
1    20140102        12.375
2    20140103        12.375
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227         8.750
361  20141228        27.000
362  20141229         9.500
363  20141230        23.750
364  20141231        40.000

[365 rows x 2 columns]

In [137]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101          1.25
1     20140102         12.50
2     20140103         12.50
3     20140104          0.00
4     20140105          0.00
...        ...           ...
3645  20141227          8.75
3646  20141228         27.00
3647  20141229          9.50
3648  20141230         23.75
3649  20141231         40.00

[3650 rows x 2 columns]

In [138]:
kw2013_pre_pro_11

NameError: name 'kw2013_pre_pro_11' is not defined

In [139]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_11' is not defined

In [140]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

NameError: name 'kw2013_pre_pro_11' is not defined

In [144]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [145]:
kw2013_pre_pro_11.loc[:4091]["date"] = "201401" + kw2013_pre_pro_11.loc[:4091]["date"]
kw2013_pre_pro_11.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_11.loc[4093:7788]["date"]
kw2013_pre_pro_11.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_11.loc[7790:11881]["date"]
kw2013_pre_pro_11.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_11.loc[11883:16322]["date"]
kw2013_pre_pro_11.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_11.loc[16324:20911]["date"]
kw2013_pre_pro_11.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_11.loc[20913:25352]["date"]
kw2013_pre_pro_11.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_11.loc[25354:29445]["date"]
kw2013_pre_pro_11.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_11.loc[29447:34034]["date"]
kw2013_pre_pro_11.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_11.loc[34036:38475]["date"]
kw2013_pre_pro_11.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_11.loc[38477:43064]["date"]
kw2013_pre_pro_11.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_11.loc[43066:47505]["date"]
kw2013_pre_pro_11.loc[47507:]["date"] = "201412" + kw2013_pre_pro_11.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4091]["date"] = "201401" + kw2013_pre_pro_11.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_11.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_11.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_11.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_11.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_11.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_11.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_11.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_11.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_11.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_11.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/162253373.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[47507:]["date"] = "201412" + kw2013_pre_pro_11.loc[47507:]["date"]

In [146]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [147]:
kw2013_pre_pro_11["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [148]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [149]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [150]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [151]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20140101          1.25
1    20140102         12.50
2    20140103         13.75
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227         10.00
361  20141228         26.25
362  20141229         11.25
363  20141230         22.50
364  20141231         67.50

[365 rows x 2 columns]

In [152]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         2.625
1     20140102        12.625
2     20140103        13.750
3     20140104         0.000
4     20140105         0.000
...        ...           ...
4010  20141227        10.000
4011  20141228        26.250
4012  20141229        11.250
4013  20141230        22.500
4014  20141231        67.500

[4015 rows x 2 columns]

In [153]:
kw2013_pre_pro_12

      format..day    hour  forecast  value..location.33_64.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    20.0
52092          31  2300.0      58.0                                    20.0
52093          31  2300.0      61.0                                    20.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [154]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [155]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [156]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [157]:
kw2013_pre_pro_12.loc[:4091]["date"] = "201401" + kw2013_pre_pro_12.loc[:4091]["date"]
kw2013_pre_pro_12.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_12.loc[4093:7788]["date"]
kw2013_pre_pro_12.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_12.loc[7790:11881]["date"]
kw2013_pre_pro_12.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_12.loc[11883:16322]["date"]
kw2013_pre_pro_12.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_12.loc[16324:20911]["date"]
kw2013_pre_pro_12.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_12.loc[20913:25352]["date"]
kw2013_pre_pro_12.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_12.loc[25354:29445]["date"]
kw2013_pre_pro_12.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_12.loc[29447:34034]["date"]
kw2013_pre_pro_12.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_12.loc[34036:38475]["date"]
kw2013_pre_pro_12.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_12.loc[38477:43064]["date"]
kw2013_pre_pro_12.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_12.loc[43066:47505]["date"]
kw2013_pre_pro_12.loc[47507:]["date"] = "201412" + kw2013_pre_pro_12.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4091]["date"] = "201401" + kw2013_pre_pro_12.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_12.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_12.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_12.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_12.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_12.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_12.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_12.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_12.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_12.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_12.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1944695863.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[47507:]["date"] = "201412" + kw2013_pre_pro_12.loc[47507:]["date"]

In [158]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [159]:
kw2013_pre_pro_12["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [160]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [161]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [162]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [163]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20140101          2.50
1    20140102         11.25
2    20140103         16.25
3    20140104          0.00
4    20140105          0.00
..        ...           ...
360  20141227         11.25
361  20141228         33.75
362  20141229         11.25
363  20141230         22.50
364  20141231         68.75

[365 rows x 2 columns]

In [164]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         2.625
1     20140102        12.625
2     20140103        13.750
3     20140104         0.000
4     20140105         0.000
...        ...           ...
4375  20141227        11.250
4376  20141228        33.750
4377  20141229        11.250
4378  20141230        22.500
4379  20141231        68.750

[4380 rows x 2 columns]

In [165]:
kw2013_pre_pro_13

      format..day    hour  forecast  value..location.66_62.Start...20140101
0               1   200.0       4.0                                     0.0
1               1   200.0       7.0                                     0.0
2               1   200.0      10.0                                     0.0
3               1   200.0      13.0                                     0.0
4               1   200.0      16.0                                     0.0
...           ...     ...       ...                                     ...
52091          31  2300.0      55.0                                    10.0
52092          31  2300.0      58.0                                    10.0
52093          31  2300.0      61.0                                    10.0
52094          31  2300.0      64.0                                    20.0
52095                 NaN       NaN                                     NaN

[52096 rows x 4 columns]

In [166]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [167]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [168]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [169]:
kw2013_pre_pro_13.loc[:4091]["date"] = "201401" + kw2013_pre_pro_13.loc[:4091]["date"]
kw2013_pre_pro_13.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_13.loc[4093:7788]["date"]
kw2013_pre_pro_13.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_13.loc[7790:11881]["date"]
kw2013_pre_pro_13.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_13.loc[11883:16322]["date"]
kw2013_pre_pro_13.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_13.loc[16324:20911]["date"]
kw2013_pre_pro_13.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_13.loc[20913:25352]["date"]
kw2013_pre_pro_13.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_13.loc[25354:29445]["date"]
kw2013_pre_pro_13.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_13.loc[29447:34034]["date"]
kw2013_pre_pro_13.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_13.loc[34036:38475]["date"]
kw2013_pre_pro_13.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_13.loc[38477:43064]["date"]
kw2013_pre_pro_13.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_13.loc[43066:47505]["date"]
kw2013_pre_pro_13.loc[47507:]["date"] = "201412" + kw2013_pre_pro_13.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4091]["date"] = "201401" + kw2013_pre_pro_13.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_13.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_13.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_13.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_13.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_13.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_13.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_13.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_13.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_13.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_13.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/1839176441.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[47507:]["date"] = "201412" + kw2013_pre_pro_13.loc[47507:]["date"]

In [170]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [171]:
kw2013_pre_pro_13["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [172]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [173]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17428/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [174]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [175]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20140101         2.500
1    20140102        12.500
2    20140103        13.750
3    20140104         0.000
4    20140105         0.000
..        ...           ...
360  20141227        10.000
361  20141228        26.250
362  20141229        11.250
363  20141230        18.500
364  20141231        22.875

[365 rows x 2 columns]

In [176]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         2.625
1     20140102        12.625
2     20140103        13.750
3     20140104         0.000
4     20140105         0.000
...        ...           ...
4740  20141227        10.000
4741  20141228        26.250
4742  20141229        11.250
4743  20141230        18.500
4744  20141231        22.875

[4745 rows x 2 columns]

In [177]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [175]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

In [176]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

In [177]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [178]:
kw2013_pre_pro_14.loc[:4091]["date"] = "201401" + kw2013_pre_pro_14.loc[:4091]["date"]
kw2013_pre_pro_14.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_14.loc[4093:7788]["date"]
kw2013_pre_pro_14.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_14.loc[7790:11881]["date"]
kw2013_pre_pro_14.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_14.loc[11883:16322]["date"]
kw2013_pre_pro_14.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_14.loc[16324:20911]["date"]
kw2013_pre_pro_14.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_14.loc[20913:25352]["date"]
kw2013_pre_pro_14.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_14.loc[25354:29445]["date"]
kw2013_pre_pro_14.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_14.loc[29447:34034]["date"]
kw2013_pre_pro_14.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_14.loc[34036:38475]["date"]
kw2013_pre_pro_14.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_14.loc[38477:43064]["date"]
kw2013_pre_pro_14.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_14.loc[43066:47505]["date"]
kw2013_pre_pro_14.loc[47507:]["date"] = "201412" + kw2013_pre_pro_14.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4091]["date"] = "201401" + kw2013_pre_pro_14.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_14.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_14.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_14.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_14.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_14.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_14.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_14.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_14.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_14.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_14.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2259835343.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[47507:]["date"] = "201412" + kw2013_pre_pro_14.loc[47507:]["date"]

In [179]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [180]:
kw2013_pre_pro_14["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [181]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          10.0
16  20140101   500.0       4.0          10.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [182]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [183]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [184]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20140101          3.75
1    20140102         16.25
2    20140103         13.75
3    20140104         18.75
4    20140105          1.25
..        ...           ...
360  20141227         11.25
361  20141228         21.25
362  20141229          8.75
363  20141230         20.00
364  20141231          7.50

[365 rows x 2 columns]

In [185]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.750
1     20140102        15.000
2     20140103        27.625
3     20140104        54.625
4     20140105         9.000
...        ...           ...
5105  20141227        11.250
5106  20141228        21.250
5107  20141229         8.750
5108  20141230        20.000
5109  20141231         7.500

[5110 rows x 2 columns]

In [186]:
kw2013_pre_pro_15

      format..day    hour  forecast  value..location.144_123.Start...20140101
0               1   200.0       4.0                                      20.0
1               1   200.0       7.0                                      20.0
2               1   200.0      10.0                                      20.0
3               1   200.0      13.0                                      20.0
4               1   200.0      16.0                                      20.0
...           ...     ...       ...                                       ...
52091          31  2300.0      55.0                                      10.0
52092          31  2300.0      58.0                                      10.0
52093          31  2300.0      61.0                                      20.0
52094          31  2300.0      64.0                                      20.0
52095                 NaN       NaN                                       NaN

[52096 rows x 4 columns]

In [187]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [188]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [189]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/1553633085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [190]:
kw2013_pre_pro_15.loc[:4091]["date"] = "201401" + kw2013_pre_pro_15.loc[:4091]["date"]
kw2013_pre_pro_15.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_15.loc[4093:7788]["date"]
kw2013_pre_pro_15.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_15.loc[7790:11881]["date"]
kw2013_pre_pro_15.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_15.loc[11883:16322]["date"]
kw2013_pre_pro_15.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_15.loc[16324:20911]["date"]
kw2013_pre_pro_15.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_15.loc[20913:25352]["date"]
kw2013_pre_pro_15.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_15.loc[25354:29445]["date"]
kw2013_pre_pro_15.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_15.loc[29447:34034]["date"]
kw2013_pre_pro_15.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_15.loc[34036:38475]["date"]
kw2013_pre_pro_15.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_15.loc[38477:43064]["date"]
kw2013_pre_pro_15.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_15.loc[43066:47505]["date"]
kw2013_pre_pro_15.loc[47507:]["date"] = "201412" + kw2013_pre_pro_15.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4091]["date"] = "201401" + kw2013_pre_pro_15.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_15.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_15.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_15.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_15.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_15.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_15.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_15.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_15.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_15.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_15.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/2415722800.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[47507:]["date"] = "201412" + kw2013_pre_pro_15.loc[47507:]["date"]

In [191]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506, 52095], axis = 0)

In [192]:
kw2013_pre_pro_15["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [193]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== 4.0]
kw2013_pre_pro_15_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0          20.0
16  20140101   500.0       4.0          20.0
31  20140101   800.0       4.0          20.0
49  20140101  1100.0       4.0          20.0
66  20140101  1400.0       4.0          10.0

In [194]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_17273/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [195]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [196]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20140101        18.750
1    20140102        16.250
2    20140103        25.000
3    20140104        23.750
4    20140105        35.000
..        ...           ...
360  20141227        15.000
361  20141228        16.250
362  20141229        17.500
363  20141230        13.875
364  20141231        58.000

[365 rows x 2 columns]

In [197]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20140101         3.750
1     20140102        15.000
2     20140103        27.625
3     20140104        54.625
4     20140105         9.000
...        ...           ...
5470  20141227        15.000
5471  20141228        16.250
5472  20141229        17.500
5473  20141230        13.875
5474  20141231        58.000

[5475 rows x 2 columns]

In [92]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20140101   충북      5.312500
1    20140102   충북     15.333333
2    20140103   충북     11.166667
3    20140104   충북     12.750000
4    20140105   충북      0.416667
..        ...  ...           ...
360  20141227   충북     12.416667
361  20141228   충북     25.250000
362  20141229   충북     10.000000
363  20141230   충북     30.812500
364  20141231   충북     12.583333

[365 rows x 3 columns]

In [93]:
pre_pro.to_csv('2014_pre_pro_chungbuk.csv', index=False)

In [95]:
num1 = pd.read_csv('2014_pre_pro_gangwon.csv')
num2 = pd.read_csv('2014_pre_pro_gyeoonggi.csv')
num3 = pd.read_csv('2014_pre_pro_gyeoongnam.csv')
num4 = pd.read_csv('2014_pre_pro_gyeoongbuk.csv')
num5 = pd.read_csv('2014_pre_pro_gwangju.csv')
num6 = pd.read_csv('2014_pre_pro_daegu.csv')
num7 = pd.read_csv('2014_pre_pro_daejun.csv')
num8 = pd.read_csv('2014_pre_pro_busan.csv')
num9 = pd.read_csv('2014_pre_pro_seoul.csv')
num10 = pd.read_csv('2014_pre_pro_sejong.csv')
num11 = pd.read_csv('2014_pre_pro_ulsan.csv')
num12 = pd.read_csv('2014_pre_pro_incheon.csv')
num13 = pd.read_csv('2014_pre_pro_junnam.csv')
num14 = pd.read_csv('2014_pre_pro_junbuk.csv')
num15 = pd.read_csv('2014_pre_pro_jeju.csv')
num16 = pd.read_csv('2014_pre_pro_chungnam.csv')
num17 = pd.read_csv('2014_pre_pro_chungbuk.csv')

In [99]:
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      8.241071
1     20140102   강원     11.785714
2     20140103   강원     22.821429
3     20140104   강원     31.616071
4     20140105   강원      5.598214
...        ...  ...           ...
1090  20141227   경기     13.250000
1091  20141228   경기     24.950000
1092  20141229   경기     14.025000
1093  20141230   경기     18.675000
1094  20141231   경기      2.500000

[1095 rows x 3 columns]

In [100]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20140101   강원      8.241071
1    20140102   강원     11.785714
2    20140103   강원     22.821429
3    20140104   강원     31.616071
4    20140105   강원      5.598214
..        ...  ...           ...
360  20141227   강원     12.964286
361  20141228   강원     22.767857
362  20141229   강원     15.517857
363  20141230   강원     14.982143
364  20141231   강원      2.678571

[365 rows x 3 columns]

In [101]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)

In [102]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)

In [103]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)

In [104]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)

In [105]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)

In [106]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)

In [107]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)

In [108]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)

In [109]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)

In [110]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)

In [111]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)

In [112]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)

In [113]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)

In [114]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)

In [115]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)

In [116]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [117]:
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      8.241071
1     20140102   강원     11.785714
2     20140103   강원     22.821429
3     20140104   강원     31.616071
4     20140105   강원      5.598214
...        ...  ...           ...
6200  20141227   충북     12.416667
6201  20141228   충북     25.250000
6202  20141229   충북     10.000000
6203  20141230   충북     30.812500
6204  20141231   충북     12.583333

[6205 rows x 3 columns]

In [118]:
pre_pro.to_csv('pre_pro_2014.csv', index=False)