In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [24]:
kw2013_pre_pro = glob.glob(os.path.join("2014/인천", "*_강수형태_201401_201412.csv"))

In [25]:
kw2013_pre_pro

['2014/인천/백령면_강수형태_201401_201412.csv',
 '2014/인천/동인천동_강수형태_201401_201412.csv',
 '2014/인천/불은면_강수형태_201401_201412.csv',
 '2014/인천/덕적면_강수형태_201401_201412.csv']

In [6]:
print(len(kw2013_pre_pro))

1

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

      format..day    hour  forecast  value..location.102_85.Start...20140101
0               1   200.0       4.0                                      0.0
1               1   200.0       7.0                                      0.0
2               1   200.0      10.0                                      0.0
3               1   200.0      13.0                                      0.0
4               1   200.0      16.0                                      0.0
...           ...     ...       ...                                      ...
52091          31  2300.0      55.0                                      0.0
52092          31  2300.0      58.0                                      0.0
52093          31  2300.0      61.0                                      0.0
52094          31  2300.0      64.0                                      0.0
52095                 NaN       NaN                                      NaN

[52096 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52096 entries, 0 to 52095
Data columns (total 4 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   format..day                              52096 non-null  object
 1   hour                                     52084 non-null  float64
 2   forecast                                 52084 non-null  float64
 3   value..location.102_85.Start...20140101  52084 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20140201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20140901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20141201')])

                 date  hour  forecast  pre_pro_mean
4092   Start:20140201   NaN       NaN           NaN
7789   Start:20140301   NaN       NaN           NaN
11882  Start:20140401   NaN       NaN           NaN
16323  Start:20140501   NaN       NaN           NaN
20912  Start:20140601   NaN       NaN           NaN
25353  Start:20140701   NaN       NaN           NaN
29446  Start:20140801   NaN       NaN           NaN
34035  Start:20140901   NaN       NaN           NaN
38476  Start:20141001   NaN       NaN           NaN
43065  Start:20141101   NaN       NaN           NaN
47506  Start:20141201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4091]["date"] = "201401" + kw2013_pre_pro_1.loc[:4091]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4093:7788]["date"] = "201402" + kw2013_pre_pro_1.loc[4093:7788]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[7790:11881]["date"] = "201403" + kw2013_pre_pro_1.loc[7790:11881]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[11883:16322]["date"] = "201404" + kw2013_pre_pro_1.loc[11883:16322]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[16324:20911]["date"] = "201405" + kw2013_pre_pro_1.loc[16324:20911]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20913:25352]["date"] = "201406" + kw2013_pre_pro_1.loc[20913:25352]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25354:29445]["date"] = "201407" + kw2013_pre_pro_1.loc[25354:29445]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29447:34034]["date"] = "201408" + kw2013_pre_pro_1.loc[29447:34034]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34036:38475]["date"] = "201409" + kw2013_pre_pro_1.loc[34036:38475]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38477:43064]["date"] = "201410" + kw2013_pre_pro_1.loc[38477:43064]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43066:47505]["date"] = "201411" + kw2013_pre_pro_1.loc[43066:47505]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/3000754765.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47507:]["date"] = "201412" + kw2013_pre_pro_1.loc[47507:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4092, 7789, 11882, 16323, 20912, 25353, 29446, 34035, 38476, 43065, 47506,52095], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20141231    148
20140603    148
20140605    148
20140606    148
20140607    148
           ...
20140327    132
20140328    132
20140329    132
20140330    132
20140702    132
Name: date, Length: 365, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20140101   200.0       4.0           0.0
16  20140101   500.0       4.0           0.0
31  20140101   800.0       4.0           0.0
49  20140101  1100.0       4.0           0.0
66  20140101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22082/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.500
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         0.125
364  20141231         0.000

[365 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20140101         0.000
1    20140102         0.000
2    20140103         0.000
3    20140104         0.500
4    20140105         0.000
..        ...           ...
360  20141227         0.000
361  20141228         0.000
362  20141229         0.000
363  20141230         0.125
364  20141231         0.000

[365 rows x 2 columns]

In [22]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '울산'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20140101   울산         0.000
1    20140102   울산         0.000
2    20140103   울산         0.000
3    20140104   울산         0.500
4    20140105   울산         0.000
..        ...  ...           ...
360  20141227   울산         0.000
361  20141228   울산         0.000
362  20141229   울산         0.000
363  20141230   울산         0.125
364  20141231   울산         0.000

[365 rows x 3 columns]

In [23]:
pre_pro.to_csv('us.csv', index=False)