In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2015/인천", "*_강수형태_201501_201512.csv"))

In [5]:
kw2013_pre_pro

['2015/인천/덕적면_강수형태_201501_201512.csv']

In [6]:
print(len(kw2013_pre_pro))

1

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

       format: day    hour  forecast  value  location:46_119 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                       0.0
4                1   200.0      16.0                                       0.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                       0.0
52526           31  2300.0      55.0                                       0.0
52527           31  2300.0      58.0                                       0.0
52528           31  2300.0      61.0                                       0.0
52529           31  2300.0      64.0                                       0.0

[52530 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:46_119 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20150201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151201')])

                 date  hour  forecast  pre_pro_mean
4588   Start:20150201   NaN       NaN           NaN
8733   Start:20150301   NaN       NaN           NaN
13322  Start:20150401   NaN       NaN           NaN
17763  Start:20150501   NaN       NaN           NaN
20851  Start:20150601   NaN       NaN           NaN
25292  Start:20150701   NaN       NaN           NaN
29881  Start:20150801   NaN       NaN           NaN
34470  Start:20150901   NaN       NaN           NaN
38911  Start:20151001   NaN       NaN           NaN
43500  Start:20151101   NaN       NaN           NaN
47941  Start:20151201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4587]["date"] = "201501" + kw2013_pre_pro_1.loc[:4587]["date"]
kw2013_pre_pro_1.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_1.loc[4589:8732]["date"]
kw2013_pre_pro_1.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_1.loc[8734:13321]["date"]
kw2013_pre_pro_1.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_1.loc[13323:17762]["date"]
kw2013_pre_pro_1.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_1.loc[17764:20850]["date"]
kw2013_pre_pro_1.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_1.loc[20852:25291]["date"]
kw2013_pre_pro_1.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_1.loc[25293:29880]["date"]
kw2013_pre_pro_1.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_1.loc[29882:34469]["date"]
kw2013_pre_pro_1.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_1.loc[34471:38910]["date"]
kw2013_pre_pro_1.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_1.loc[38912:43499]["date"]
kw2013_pre_pro_1.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_1.loc[43501:47940]["date"]
kw2013_pre_pro_1.loc[47942:]["date"] = "201512" + kw2013_pre_pro_1.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4587]["date"] = "201501" + kw2013_pre_pro_1.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_1.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_1.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_1.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_1.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_1.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_1.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_1.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_1.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_1.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_1.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1483893122.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47942:]["date"] = "201512" + kw2013_pre_pro_1.loc[47942:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0           0.0
57  20150101  1100.0       4.0           0.0
74  20150101  1400.0       4.0           0.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_22314/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20150101         0.750
1    20150102         0.000
2    20150103         0.000
3    20150104         0.000
4    20150105         0.375
..        ...           ...
350  20151227         0.000
351  20151228         0.000
352  20151229         0.000
353  20151230         0.750
354  20151231         0.000

[355 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20150101         0.750
1    20150102         0.000
2    20150103         0.000
3    20150104         0.000
4    20150105         0.375
..        ...           ...
350  20151227         0.000
351  20151228         0.000
352  20151229         0.000
353  20151230         0.750
354  20151231         0.000

[355 rows x 2 columns]

In [22]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '인천'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20150101   인천         0.750
1    20150102   인천         0.000
2    20150103   인천         0.000
3    20150104   인천         0.000
4    20150105   인천         0.375
..        ...  ...           ...
350  20151227   인천         0.000
351  20151228   인천         0.000
352  20151229   인천         0.000
353  20151230   인천         0.750
354  20151231   인천         0.000

[355 rows x 3 columns]

In [23]:
pre_pro.to_csv('ic.csv', index=False)