In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2015/충북", "*_강수확률_201501_201512.csv"))

In [5]:
kw2013_pre_pro

['2015/충북/교현.안림동_강수확률_201501_201512.csv',
 '2015/충북/보은읍_강수확률_201501_201512.csv',
 '2015/충북/용두동_강수확률_201501_201512.csv',
 '2015/충북/강내면_강수확률_201501_201512.csv',
 '2015/충북/복대1동_강수확률_201501_201512.csv',
 '2015/충북/추풍령면_강수확률_201501_201512.csv']

In [6]:
print(len(kw2013_pre_pro))

6

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

       format: day    hour  forecast  value  location:77_114 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                      10.0
4                1   200.0      16.0                                      10.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      20.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                      10.0
52528           31  2300.0      61.0                                      10.0
52529           31  2300.0      64.0                                      10.0

[52530 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:77_114 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1458046885.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20150201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20150901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20151201')])

                 date  hour  forecast  pre_pro_mean
4588   Start:20150201   NaN       NaN           NaN
8733   Start:20150301   NaN       NaN           NaN
13322  Start:20150401   NaN       NaN           NaN
17763  Start:20150501   NaN       NaN           NaN
20851  Start:20150601   NaN       NaN           NaN
25292  Start:20150701   NaN       NaN           NaN
29881  Start:20150801   NaN       NaN           NaN
34470  Start:20150901   NaN       NaN           NaN
38911  Start:20151001   NaN       NaN           NaN
43500  Start:20151101   NaN       NaN           NaN
47941  Start:20151201   NaN       NaN           NaN

In [14]:
kw2013_pre_pro_1.loc[:4587]["date"] = "201501" + kw2013_pre_pro_1.loc[:4587]["date"]
kw2013_pre_pro_1.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_1.loc[4589:8732]["date"]
kw2013_pre_pro_1.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_1.loc[8734:13321]["date"]
kw2013_pre_pro_1.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_1.loc[13323:17762]["date"]
kw2013_pre_pro_1.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_1.loc[17764:20850]["date"]
kw2013_pre_pro_1.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_1.loc[20852:25291]["date"]
kw2013_pre_pro_1.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_1.loc[25293:29880]["date"]
kw2013_pre_pro_1.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_1.loc[29882:34469]["date"]
kw2013_pre_pro_1.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_1.loc[34471:38910]["date"]
kw2013_pre_pro_1.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_1.loc[38912:43499]["date"]
kw2013_pre_pro_1.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_1.loc[43501:47940]["date"]
kw2013_pre_pro_1.loc[47942:]["date"] = "201512" + kw2013_pre_pro_1.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[:4587]["date"] = "201501" + kw2013_pre_pro_1.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_1.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_1.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_1.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_1.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_1.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_1.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_1.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_1.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_1.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_1.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1483893122.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1.loc[47942:]["date"] = "201512" + kw2013_pre_pro_1.loc[47942:]["date"]

In [15]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [16]:
kw2013_pre_pro_1["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [17]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== 4.0]
kw2013_pre_pro_1_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0           0.0
57  20150101  1100.0       4.0          10.0
74  20150101  1400.0       4.0          20.0

In [18]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1176009402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [19]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [20]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20150101         11.25
1    20150102          2.50
2    20150103         17.50
3    20150104          7.50
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          3.75
352  20151229         11.25
353  20151230         41.25
354  20151231          2.50

[355 rows x 2 columns]

In [21]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20150101         11.25
1    20150102          2.50
2    20150103         17.50
3    20150104          7.50
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          3.75
352  20151229         11.25
353  20151230         41.25
354  20151231          2.50

[355 rows x 2 columns]

In [22]:
kw2013_pre_pro_2

       format: day    hour  forecast  value  location:73_103 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                      10.0
4                1   200.0      16.0                                      20.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      20.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                      10.0
52528           31  2300.0      61.0                                       0.0
52529           31  2300.0      64.0                                       0.0

[52530 rows x 4 columns]

In [23]:
kw2013_pre_pro_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:73_103 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [24]:
kw2013_pre_pro_2.rename(columns={kw2013_pre_pro_2.columns[0]: 'date', kw2013_pre_pro_2.columns[3]: 'pre_pro_mean'}, inplace=True)

In [25]:
kw2013_pre_pro_2["date"] = kw2013_pre_pro_2["date"].str.replace(" ", "")

In [26]:
for i in range(len(kw2013_pre_pro_2["date"])):
    if len(kw2013_pre_pro_2["date"][i]) == 1:
        kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1467841179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2["date"][i] = "0" + kw2013_pre_pro_2["date"][i]

In [27]:
print(kw2013_pre_pro_2.loc[(kw2013_pre_pro_2['date'] == 'Start:20150201') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150301') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150401') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150501') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150601') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150701') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150801') |
                           (kw2013_pre_pro_2['date'] == 'Start:20150901') |
                           (kw2013_pre_pro_2['date'] == 'Start:20151001') |
                           (kw2013_pre_pro_2['date'] == 'Start:20151101') |
                           (kw2013_pre_pro_2['date'] == 'Start:20151201')])

                 date  hour  forecast  pre_pro_mean
4588   Start:20150201   NaN       NaN           NaN
8733   Start:20150301   NaN       NaN           NaN
13322  Start:20150401   NaN       NaN           NaN
17763  Start:20150501   NaN       NaN           NaN
20851  Start:20150601   NaN       NaN           NaN
25292  Start:20150701   NaN       NaN           NaN
29881  Start:20150801   NaN       NaN           NaN
34470  Start:20150901   NaN       NaN           NaN
38911  Start:20151001   NaN       NaN           NaN
43500  Start:20151101   NaN       NaN           NaN
47941  Start:20151201   NaN       NaN           NaN

In [28]:
kw2013_pre_pro_2.loc[:4587]["date"] = "201501" + kw2013_pre_pro_2.loc[:4587]["date"]
kw2013_pre_pro_2.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_2.loc[4589:8732]["date"]
kw2013_pre_pro_2.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_2.loc[8734:13321]["date"]
kw2013_pre_pro_2.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_2.loc[13323:17762]["date"]
kw2013_pre_pro_2.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_2.loc[17764:20850]["date"]
kw2013_pre_pro_2.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_2.loc[20852:25291]["date"]
kw2013_pre_pro_2.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_2.loc[25293:29880]["date"]
kw2013_pre_pro_2.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_2.loc[29882:34469]["date"]
kw2013_pre_pro_2.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_2.loc[34471:38910]["date"]
kw2013_pre_pro_2.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_2.loc[38912:43499]["date"]
kw2013_pre_pro_2.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_2.loc[43501:47940]["date"]
kw2013_pre_pro_2.loc[47942:]["date"] = "201512" + kw2013_pre_pro_2.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[:4587]["date"] = "201501" + kw2013_pre_pro_2.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_2.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_2.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_2.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_2.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_2.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_2.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_2.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_2.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_2.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_2.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3128893356.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2.loc[47942:]["date"] = "201512" + kw2013_pre_pro_2.loc[47942:]["date"]

In [29]:
kw2013_pre_pro_2 = kw2013_pre_pro_2.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [30]:
kw2013_pre_pro_2["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [31]:
kw2013_pre_pro_2_fore4 = kw2013_pre_pro_2[kw2013_pre_pro_2['forecast']== 4.0]
kw2013_pre_pro_2_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0          10.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          20.0

In [32]:
kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3384769755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_2_fore4['pre_pro_mean'] = kw2013_pre_pro_2_fore4['pre_pro_mean'].astype('float')

In [33]:
kw2013_pre_pro_2_final = pd.DataFrame(kw2013_pre_pro_2_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_2_fore4['date']).mean())

In [34]:
kw2013_pre_pro_2_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_2_final

         date  pre_pro_mean
0    20150101        24.625
1    20150102         2.500
2    20150103        15.000
3    20150104         7.500
4    20150105        38.750
..        ...           ...
350  20151227         0.000
351  20151228         3.750
352  20151229        11.250
353  20151230        41.250
354  20151231         1.250

[355 rows x 2 columns]

In [35]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_2_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20150101         11.25
1    20150102          2.50
2    20150103         17.50
3    20150104          7.50
4    20150105         38.75
..        ...           ...
705  20151227          0.00
706  20151228          3.75
707  20151229         11.25
708  20151230         41.25
709  20151231          1.25

[710 rows x 2 columns]

In [36]:
kw2013_pre_pro_3

       format: day    hour  forecast  value  location:81_118 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                       0.0
4                1   200.0      16.0                                      10.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      20.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                      10.0
52528           31  2300.0      61.0                                      10.0
52529           31  2300.0      64.0                                      10.0

[52530 rows x 4 columns]

In [37]:
kw2013_pre_pro_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:81_118 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [38]:
kw2013_pre_pro_3.rename(columns={kw2013_pre_pro_3.columns[0]: 'date', kw2013_pre_pro_3.columns[3]: 'pre_pro_mean'}, inplace=True)

In [39]:
kw2013_pre_pro_3["date"] = kw2013_pre_pro_3["date"].str.replace(" ", "")

In [40]:
for i in range(len(kw2013_pre_pro_3["date"])):
    if len(kw2013_pre_pro_3["date"][i]) == 1:
        kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1179430012.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3["date"][i] = "0" + kw2013_pre_pro_3["date"][i]

In [41]:
kw2013_pre_pro_3.loc[:4587]["date"] = "201501" + kw2013_pre_pro_3.loc[:4587]["date"]
kw2013_pre_pro_3.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_3.loc[4589:8732]["date"]
kw2013_pre_pro_3.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_3.loc[8734:13321]["date"]
kw2013_pre_pro_3.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_3.loc[13323:17762]["date"]
kw2013_pre_pro_3.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_3.loc[17764:20850]["date"]
kw2013_pre_pro_3.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_3.loc[20852:25291]["date"]
kw2013_pre_pro_3.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_3.loc[25293:29880]["date"]
kw2013_pre_pro_3.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_3.loc[29882:34469]["date"]
kw2013_pre_pro_3.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_3.loc[34471:38910]["date"]
kw2013_pre_pro_3.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_3.loc[38912:43499]["date"]
kw2013_pre_pro_3.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_3.loc[43501:47940]["date"]
kw2013_pre_pro_3.loc[47942:]["date"] = "201512" + kw2013_pre_pro_3.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[:4587]["date"] = "201501" + kw2013_pre_pro_3.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_3.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_3.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_3.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_3.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_3.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_3.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_3.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_3.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_3.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_3.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2820283045.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3.loc[47942:]["date"] = "201512" + kw2013_pre_pro_3.loc[47942:]["date"]

In [42]:
kw2013_pre_pro_3 = kw2013_pre_pro_3.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [43]:
kw2013_pre_pro_3["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [44]:
kw2013_pre_pro_3_fore4 = kw2013_pre_pro_3[kw2013_pre_pro_3['forecast']== 4.0]
kw2013_pre_pro_3_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0           0.0
57  20150101  1100.0       4.0           0.0
74  20150101  1400.0       4.0          10.0

In [45]:
kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1438880415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_3_fore4['pre_pro_mean'] = kw2013_pre_pro_3_fore4['pre_pro_mean'].astype('float')

In [46]:
kw2013_pre_pro_3_final = pd.DataFrame(kw2013_pre_pro_3_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_3_fore4['date']).mean())

In [47]:
kw2013_pre_pro_3_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_3_final

         date  pre_pro_mean
0    20150101          7.50
1    20150102          1.25
2    20150103         18.75
3    20150104          7.50
4    20150105         41.25
..        ...           ...
350  20151227          0.00
351  20151228          2.50
352  20151229         11.25
353  20151230         41.25
354  20151231          2.50

[355 rows x 2 columns]

In [48]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_3_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         17.50
3     20150104          7.50
4     20150105         38.75
...        ...           ...
1060  20151227          0.00
1061  20151228          2.50
1062  20151229         11.25
1063  20151230         41.25
1064  20151231          2.50

[1065 rows x 2 columns]

In [49]:
kw2013_pre_pro_4

       format: day    hour  forecast  value  location:67_106 Start : 20150101
0                1   200.0       4.0                                       4.0
1                1   200.0       7.0                                       4.0
2                1   200.0      10.0                                       4.0
3                1   200.0      13.0                                      14.0
4                1   200.0      16.0                                      20.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      20.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                      10.0
52528           31  2300.0      61.0                                       0.0
52529           31  2300.0      64.0                                       0.0

[52530 rows x 4 columns]

In [50]:
kw2013_pre_pro_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:67_106 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [51]:
kw2013_pre_pro_4.rename(columns={kw2013_pre_pro_4.columns[0]: 'date', kw2013_pre_pro_4.columns[3]: 'pre_pro_mean'}, inplace=True)

In [52]:
kw2013_pre_pro_4["date"] = kw2013_pre_pro_4["date"].str.replace(" ", "")

In [53]:
for i in range(len(kw2013_pre_pro_4["date"])):
    if len(kw2013_pre_pro_4["date"][i]) == 1:
        kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/845263854.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4["date"][i] = "0" + kw2013_pre_pro_4["date"][i]

In [54]:
kw2013_pre_pro_4.loc[:4587]["date"] = "201501" + kw2013_pre_pro_4.loc[:4587]["date"]
kw2013_pre_pro_4.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_4.loc[4589:8732]["date"]
kw2013_pre_pro_4.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_4.loc[8734:13321]["date"]
kw2013_pre_pro_4.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_4.loc[13323:17762]["date"]
kw2013_pre_pro_4.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_4.loc[17764:20850]["date"]
kw2013_pre_pro_4.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_4.loc[20852:25291]["date"]
kw2013_pre_pro_4.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_4.loc[25293:29880]["date"]
kw2013_pre_pro_4.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_4.loc[29882:34469]["date"]
kw2013_pre_pro_4.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_4.loc[34471:38910]["date"]
kw2013_pre_pro_4.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_4.loc[38912:43499]["date"]
kw2013_pre_pro_4.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_4.loc[43501:47940]["date"]
kw2013_pre_pro_4.loc[47942:]["date"] = "201512" + kw2013_pre_pro_4.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[:4587]["date"] = "201501" + kw2013_pre_pro_4.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_4.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_4.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_4.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_4.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_4.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_4.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_4.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_4.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_4.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_4.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2452357175.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4.loc[47942:]["date"] = "201512" + kw2013_pre_pro_4.loc[47942:]["date"]

In [55]:
kw2013_pre_pro_4 = kw2013_pre_pro_4.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [56]:
kw2013_pre_pro_4["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [57]:
kw2013_pre_pro_4_fore4 = kw2013_pre_pro_4[kw2013_pre_pro_4['forecast']== 4.0]
kw2013_pre_pro_4_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           4.0
20  20150101   500.0       4.0           4.0
39  20150101   800.0       4.0          10.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          24.0

In [58]:
kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2818318161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_4_fore4['pre_pro_mean'] = kw2013_pre_pro_4_fore4['pre_pro_mean'].astype('float')

In [59]:
kw2013_pre_pro_4_final = pd.DataFrame(kw2013_pre_pro_4_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_4_fore4['date']).mean())

In [60]:
kw2013_pre_pro_4_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_4_final

         date  pre_pro_mean
0    20150101        28.375
1    20150102         4.875
2    20150103        16.750
3    20150104         8.250
4    20150105        38.750
..        ...           ...
350  20151227         1.000
351  20151228         6.250
352  20151229        11.750
353  20151230        41.250
354  20151231         4.000

[355 rows x 2 columns]

In [61]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_4_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         17.50
3     20150104          7.50
4     20150105         38.75
...        ...           ...
1415  20151227          1.00
1416  20151228          6.25
1417  20151229         11.75
1418  20151230         41.25
1419  20151231          4.00

[1420 rows x 2 columns]

In [62]:
kw2013_pre_pro_5

       format: day    hour  forecast  value  location:68_107 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                      10.0
4                1   200.0      16.0                                      20.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      20.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                      10.0
52528           31  2300.0      61.0                                       0.0
52529           31  2300.0      64.0                                       0.0

[52530 rows x 4 columns]

In [63]:
kw2013_pre_pro_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52530 entries, 0 to 52529
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0    format: day                              52530 non-null  object
 1   hour                                      52519 non-null  float64
 2   forecast                                  52519 non-null  float64
 3   value  location:68_107 Start : 20150101   52519 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.6+ MB

In [64]:
kw2013_pre_pro_5.rename(columns={kw2013_pre_pro_5.columns[0]: 'date', kw2013_pre_pro_5.columns[3]: 'pre_pro_mean'}, inplace=True)

In [65]:
kw2013_pre_pro_5["date"] = kw2013_pre_pro_5["date"].str.replace(" ", "")

In [66]:
for i in range(len(kw2013_pre_pro_5["date"])):
    if len(kw2013_pre_pro_5["date"][i]) == 1:
        kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/2136755679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5["date"][i] = "0" + kw2013_pre_pro_5["date"][i]

In [67]:
kw2013_pre_pro_5.loc[:4587]["date"] = "201501" + kw2013_pre_pro_5.loc[:4587]["date"]
kw2013_pre_pro_5.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_5.loc[4589:8732]["date"]
kw2013_pre_pro_5.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_5.loc[8734:13321]["date"]
kw2013_pre_pro_5.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_5.loc[13323:17762]["date"]
kw2013_pre_pro_5.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_5.loc[17764:20850]["date"]
kw2013_pre_pro_5.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_5.loc[20852:25291]["date"]
kw2013_pre_pro_5.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_5.loc[25293:29880]["date"]
kw2013_pre_pro_5.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_5.loc[29882:34469]["date"]
kw2013_pre_pro_5.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_5.loc[34471:38910]["date"]
kw2013_pre_pro_5.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_5.loc[38912:43499]["date"]
kw2013_pre_pro_5.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_5.loc[43501:47940]["date"]
kw2013_pre_pro_5.loc[47942:]["date"] = "201512" + kw2013_pre_pro_5.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[:4587]["date"] = "201501" + kw2013_pre_pro_5.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_5.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_5.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_5.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_5.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_5.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_5.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_5.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_5.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_5.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_5.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/1536464283.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5.loc[47942:]["date"] = "201512" + kw2013_pre_pro_5.loc[47942:]["date"]

In [68]:
kw2013_pre_pro_5 = kw2013_pre_pro_5.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [69]:
kw2013_pre_pro_5["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [70]:
kw2013_pre_pro_5_fore4 = kw2013_pre_pro_5[kw2013_pre_pro_5['forecast']== 4.0]
kw2013_pre_pro_5_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0          10.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          20.0

In [71]:
kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/234172559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_5_fore4['pre_pro_mean'] = kw2013_pre_pro_5_fore4['pre_pro_mean'].astype('float')

In [72]:
kw2013_pre_pro_5_final = pd.DataFrame(kw2013_pre_pro_5_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_5_fore4['date']).mean())

In [73]:
kw2013_pre_pro_5_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_5_final

         date  pre_pro_mean
0    20150101         23.75
1    20150102          5.00
2    20150103         16.25
3    20150104          8.75
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          3.75
352  20151229         11.25
353  20151230         41.25
354  20151231          1.25

[355 rows x 2 columns]

In [74]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_5_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         17.50
3     20150104          7.50
4     20150105         38.75
...        ...           ...
1770  20151227          0.00
1771  20151228          3.75
1772  20151229         11.25
1773  20151230         41.25
1774  20151231          1.25

[1775 rows x 2 columns]

In [75]:
kw2013_pre_pro_6

       format: day    hour  forecast  value  location:78_98 Start : 20150101
0                1   200.0       4.0                                      0.0
1                1   200.0       7.0                                      0.0
2                1   200.0      10.0                                      0.0
3                1   200.0      13.0                                     10.0
4                1   200.0      16.0                                     20.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     20.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                      0.0
52529           31  2300.0      64.0                                      0.0

[52530 rows x 4 columns]

In [76]:
kw2013_pre_pro_6.rename(columns={kw2013_pre_pro_6.columns[0]: 'date', kw2013_pre_pro_6.columns[3]: 'pre_pro_mean'}, inplace=True)

In [77]:
kw2013_pre_pro_6["date"] = kw2013_pre_pro_6["date"].str.replace(" ", "")

In [78]:
for i in range(len(kw2013_pre_pro_6["date"])):
    if len(kw2013_pre_pro_6["date"][i]) == 1:
        kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/304749827.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6["date"][i] = "0" + kw2013_pre_pro_6["date"][i]

In [79]:
kw2013_pre_pro_6.loc[:4587]["date"] = "201501" + kw2013_pre_pro_6.loc[:4587]["date"]
kw2013_pre_pro_6.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_6.loc[4589:8732]["date"]
kw2013_pre_pro_6.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_6.loc[8734:13321]["date"]
kw2013_pre_pro_6.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_6.loc[13323:17762]["date"]
kw2013_pre_pro_6.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_6.loc[17764:20850]["date"]
kw2013_pre_pro_6.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_6.loc[20852:25291]["date"]
kw2013_pre_pro_6.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_6.loc[25293:29880]["date"]
kw2013_pre_pro_6.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_6.loc[29882:34469]["date"]
kw2013_pre_pro_6.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_6.loc[34471:38910]["date"]
kw2013_pre_pro_6.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_6.loc[38912:43499]["date"]
kw2013_pre_pro_6.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_6.loc[43501:47940]["date"]
kw2013_pre_pro_6.loc[47942:]["date"] = "201512" + kw2013_pre_pro_6.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[:4587]["date"] = "201501" + kw2013_pre_pro_6.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_6.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_6.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_6.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_6.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_6.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_6.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_6.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_6.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_6.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_6.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/3480637627.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6.loc[47942:]["date"] = "201512" + kw2013_pre_pro_6.loc[47942:]["date"]

In [80]:
kw2013_pre_pro_6 = kw2013_pre_pro_6.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [81]:
kw2013_pre_pro_6_fore4 = kw2013_pre_pro_6[kw2013_pre_pro_6['forecast']== 4.0]
kw2013_pre_pro_6_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0          10.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          20.0

In [82]:
kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18311/256559909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_6_fore4['pre_pro_mean'] = kw2013_pre_pro_6_fore4['pre_pro_mean'].astype('float')

In [83]:
kw2013_pre_pro_6_final = pd.DataFrame(kw2013_pre_pro_6_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_6_fore4['date']).mean())

In [84]:
kw2013_pre_pro_6_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_6_final

         date  pre_pro_mean
0    20150101         23.75
1    20150102          2.50
2    20150103         15.00
3    20150104          7.50
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          3.75
352  20151229         11.25
353  20151230         35.00
354  20151231          1.25

[355 rows x 2 columns]

In [85]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_6_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         17.50
3     20150104          7.50
4     20150105         38.75
...        ...           ...
2125  20151227          0.00
2126  20151228          3.75
2127  20151229         11.25
2128  20151230         35.00
2129  20151231          1.25

[2130 rows x 2 columns]

In [86]:
kw2013_pre_pro_7

NameError: name 'kw2013_pre_pro_7' is not defined

In [ ]:
kw2013_pre_pro_7.rename(columns={kw2013_pre_pro_7.columns[0]: 'date', kw2013_pre_pro_7.columns[3]: 'pre_pro_mean'}, inplace=True)

In [87]:
kw2013_pre_pro_7["date"] = kw2013_pre_pro_7["date"].str.replace(" ", "")

NameError: name 'kw2013_pre_pro_7' is not defined

In [89]:
for i in range(len(kw2013_pre_pro_7["date"])):
    if len(kw2013_pre_pro_7["date"][i]) == 1:
        kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/3994088619.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7["date"][i] = "0" + kw2013_pre_pro_7["date"][i]

In [90]:
kw2013_pre_pro_7.loc[:4587]["date"] = "201501" + kw2013_pre_pro_7.loc[:4587]["date"]
kw2013_pre_pro_7.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_7.loc[4589:8732]["date"]
kw2013_pre_pro_7.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_7.loc[8734:13321]["date"]
kw2013_pre_pro_7.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_7.loc[13323:17762]["date"]
kw2013_pre_pro_7.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_7.loc[17764:20850]["date"]
kw2013_pre_pro_7.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_7.loc[20852:25291]["date"]
kw2013_pre_pro_7.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_7.loc[25293:29880]["date"]
kw2013_pre_pro_7.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_7.loc[29882:34469]["date"]
kw2013_pre_pro_7.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_7.loc[34471:38910]["date"]
kw2013_pre_pro_7.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_7.loc[38912:43499]["date"]
kw2013_pre_pro_7.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_7.loc[43501:47940]["date"]
kw2013_pre_pro_7.loc[47942:]["date"] = "201512" + kw2013_pre_pro_7.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[:4587]["date"] = "201501" + kw2013_pre_pro_7.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_7.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_7.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_7.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_7.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_7.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_7.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_7.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_7.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_7.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_7.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/170501873.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7.loc[47942:]["date"] = "201512" + kw2013_pre_pro_7.loc[47942:]["date"]

In [91]:
kw2013_pre_pro_7 = kw2013_pre_pro_7.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [92]:
kw2013_pre_pro_7["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [93]:
kw2013_pre_pro_7_fore4 = kw2013_pre_pro_7[kw2013_pre_pro_7['forecast']== 4.0]
kw2013_pre_pro_7_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          10.0
20  20150101   500.0       4.0          10.0
39  20150101   800.0       4.0          30.0
57  20150101  1100.0       4.0          30.0
74  20150101  1400.0       4.0          30.0

In [94]:
kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2263411607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_7_fore4['pre_pro_mean'] = kw2013_pre_pro_7_fore4['pre_pro_mean'].astype('float')

In [95]:
kw2013_pre_pro_7_final = pd.DataFrame(kw2013_pre_pro_7_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_7_fore4['date']).mean())

In [96]:
kw2013_pre_pro_7_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_7_final

         date  pre_pro_mean
0    20150101        38.750
1    20150102        12.500
2    20150103        17.500
3    20150104         7.625
4    20150105        47.500
..        ...           ...
350  20151227         6.250
351  20151228        13.750
352  20151229        12.500
353  20151230        38.750
354  20151231         2.500

[355 rows x 2 columns]

In [97]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_7_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         41.25
1     20150102         12.50
2     20150103         17.50
3     20150104          6.25
4     20150105         47.50
...        ...           ...
2480  20151227          6.25
2481  20151228         13.75
2482  20151229         12.50
2483  20151230         38.75
2484  20151231          2.50

[2485 rows x 2 columns]

In [98]:
kw2013_pre_pro_8

       format: day    hour  forecast  value  location:68_80 Start : 20150101
0                1   200.0       4.0                                     30.0
1                1   200.0       7.0                                     28.0
2                1   200.0      10.0                                     28.0
3                1   200.0      13.0                                     29.0
4                1   200.0      16.0                                     29.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     19.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                      1.0
52529           31  2300.0      64.0                                      1.0

[52530 rows x 4 columns]

In [99]:
kw2013_pre_pro_8.rename(columns={kw2013_pre_pro_8.columns[0]: 'date', kw2013_pre_pro_8.columns[3]: 'pre_pro_mean'}, inplace=True)

In [100]:
kw2013_pre_pro_8["date"] = kw2013_pre_pro_8["date"].str.replace(" ", "")

In [101]:
for i in range(len(kw2013_pre_pro_8["date"])):
    if len(kw2013_pre_pro_8["date"][i]) == 1:
        kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/3004873487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8["date"][i] = "0" + kw2013_pre_pro_8["date"][i]

In [102]:
kw2013_pre_pro_8.loc[:4587]["date"] = "201501" + kw2013_pre_pro_8.loc[:4587]["date"]
kw2013_pre_pro_8.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_8.loc[4589:8732]["date"]
kw2013_pre_pro_8.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_8.loc[8734:13321]["date"]
kw2013_pre_pro_8.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_8.loc[13323:17762]["date"]
kw2013_pre_pro_8.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_8.loc[17764:20850]["date"]
kw2013_pre_pro_8.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_8.loc[20852:25291]["date"]
kw2013_pre_pro_8.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_8.loc[25293:29880]["date"]
kw2013_pre_pro_8.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_8.loc[29882:34469]["date"]
kw2013_pre_pro_8.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_8.loc[34471:38910]["date"]
kw2013_pre_pro_8.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_8.loc[38912:43499]["date"]
kw2013_pre_pro_8.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_8.loc[43501:47940]["date"]
kw2013_pre_pro_8.loc[47942:]["date"] = "201512" + kw2013_pre_pro_8.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[:4587]["date"] = "201501" + kw2013_pre_pro_8.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_8.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_8.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_8.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_8.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_8.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_8.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_8.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_8.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_8.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_8.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/580386334.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8.loc[47942:]["date"] = "201512" + kw2013_pre_pro_8.loc[47942:]["date"]

In [103]:
kw2013_pre_pro_8 = kw2013_pre_pro_8.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [104]:
kw2013_pre_pro_8["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [105]:
kw2013_pre_pro_8_fore4 = kw2013_pre_pro_8[kw2013_pre_pro_8['forecast']== 4.0]
kw2013_pre_pro_8_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          30.0
20  20150101   500.0       4.0          28.0
39  20150101   800.0       4.0          29.0
57  20150101  1100.0       4.0          29.0
74  20150101  1400.0       4.0          29.0

In [106]:
kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/3039181282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_8_fore4['pre_pro_mean'] = kw2013_pre_pro_8_fore4['pre_pro_mean'].astype('float')

In [107]:
kw2013_pre_pro_8_final = pd.DataFrame(kw2013_pre_pro_8_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_8_fore4['date']).mean())

In [108]:
kw2013_pre_pro_8_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_8_final

         date  pre_pro_mean
0    20150101        39.875
1    20150102        12.625
2    20150103        16.125
3    20150104         7.500
4    20150105        41.875
..        ...           ...
350  20151227         3.500
351  20151228        13.375
352  20151229        12.250
353  20151230        34.500
354  20151231         2.500

[355 rows x 2 columns]

In [109]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_8_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101        41.250
1     20150102        12.500
2     20150103        17.500
3     20150104         6.250
4     20150105        47.500
...        ...           ...
2835  20151227         3.500
2836  20151228        13.375
2837  20151229        12.250
2838  20151230        34.500
2839  20151231         2.500

[2840 rows x 2 columns]

In [110]:
kw2013_pre_pro_9

       format: day    hour  forecast  value  location:56_80 Start : 20150101
0                1   200.0       4.0                                     66.0
1                1   200.0       7.0                                     17.0
2                1   200.0      10.0                                     17.0
3                1   200.0      13.0                                     17.0
4                1   200.0      16.0                                     15.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     20.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                      0.0
52529           31  2300.0      64.0                                      0.0

[52530 rows x 4 columns]

In [111]:
kw2013_pre_pro_9.rename(columns={kw2013_pre_pro_9.columns[0]: 'date', kw2013_pre_pro_9.columns[3]: 'pre_pro_mean'}, inplace=True)

In [112]:
kw2013_pre_pro_9["date"] = kw2013_pre_pro_9["date"].str.replace(" ", "")

In [113]:
for i in range(len(kw2013_pre_pro_9["date"])):
    if len(kw2013_pre_pro_9["date"][i]) == 1:
        kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/1167784317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9["date"][i] = "0" + kw2013_pre_pro_9["date"][i]

In [114]:
kw2013_pre_pro_9.loc[:4587]["date"] = "201501" + kw2013_pre_pro_9.loc[:4587]["date"]
kw2013_pre_pro_9.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_9.loc[4589:8732]["date"]
kw2013_pre_pro_9.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_9.loc[8734:13321]["date"]
kw2013_pre_pro_9.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_9.loc[13323:17762]["date"]
kw2013_pre_pro_9.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_9.loc[17764:20850]["date"]
kw2013_pre_pro_9.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_9.loc[20852:25291]["date"]
kw2013_pre_pro_9.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_9.loc[25293:29880]["date"]
kw2013_pre_pro_9.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_9.loc[29882:34469]["date"]
kw2013_pre_pro_9.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_9.loc[34471:38910]["date"]
kw2013_pre_pro_9.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_9.loc[38912:43499]["date"]
kw2013_pre_pro_9.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_9.loc[43501:47940]["date"]
kw2013_pre_pro_9.loc[47942:]["date"] = "201512" + kw2013_pre_pro_9.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[:4587]["date"] = "201501" + kw2013_pre_pro_9.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_9.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_9.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_9.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_9.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_9.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_9.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_9.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_9.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_9.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_9.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2323866927.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9.loc[47942:]["date"] = "201512" + kw2013_pre_pro_9.loc[47942:]["date"]

In [115]:
kw2013_pre_pro_9 = kw2013_pre_pro_9.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [116]:
kw2013_pre_pro_9["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [117]:
kw2013_pre_pro_9_fore4 = kw2013_pre_pro_9[kw2013_pre_pro_9['forecast']== 4.0]
kw2013_pre_pro_9_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          66.0
20  20150101   500.0       4.0          17.0
39  20150101   800.0       4.0          44.0
57  20150101  1100.0       4.0          38.0
74  20150101  1400.0       4.0          59.0

In [118]:
kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/581260890.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_9_fore4['pre_pro_mean'] = kw2013_pre_pro_9_fore4['pre_pro_mean'].astype('float')

In [119]:
kw2013_pre_pro_9_final = pd.DataFrame(kw2013_pre_pro_9_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_9_fore4['date']).mean())

In [120]:
kw2013_pre_pro_9_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_9_final

         date  pre_pro_mean
0    20150101        53.500
1    20150102        16.125
2    20150103        16.375
3    20150104         7.500
4    20150105        46.625
..        ...           ...
350  20151227         9.500
351  20151228        17.250
352  20151229        12.000
353  20151230        38.500
354  20151231         6.375

[355 rows x 2 columns]

In [121]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_9_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101        41.250
1     20150102        12.500
2     20150103        17.500
3     20150104         6.250
4     20150105        47.500
...        ...           ...
3190  20151227         9.500
3191  20151228        17.250
3192  20151229        12.000
3193  20151230        38.500
3194  20151231         6.375

[3195 rows x 2 columns]

In [122]:
kw2013_pre_pro_10

       format: day    hour  forecast  value  location:58_83 Start : 20150101
0                1   200.0       4.0                                     70.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     20.0
4                1   200.0      16.0                                     20.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     20.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                      0.0
52529           31  2300.0      64.0                                      0.0

[52530 rows x 4 columns]

In [123]:
kw2013_pre_pro_10.rename(columns={kw2013_pre_pro_10.columns[0]: 'date', kw2013_pre_pro_10.columns[3]: 'pre_pro_mean'}, inplace=True)

In [124]:
kw2013_pre_pro_10["date"] = kw2013_pre_pro_10["date"].str.replace(" ", "")

In [125]:
for i in range(len(kw2013_pre_pro_10["date"])):
    if len(kw2013_pre_pro_10["date"][i]) == 1:
        kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/842754490.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10["date"][i] = "0" + kw2013_pre_pro_10["date"][i]

In [126]:
kw2013_pre_pro_10.loc[:4587]["date"] = "201501" + kw2013_pre_pro_10.loc[:4587]["date"]
kw2013_pre_pro_10.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_10.loc[4589:8732]["date"]
kw2013_pre_pro_10.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_10.loc[8734:13321]["date"]
kw2013_pre_pro_10.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_10.loc[13323:17762]["date"]
kw2013_pre_pro_10.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_10.loc[17764:20850]["date"]
kw2013_pre_pro_10.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_10.loc[20852:25291]["date"]
kw2013_pre_pro_10.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_10.loc[25293:29880]["date"]
kw2013_pre_pro_10.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_10.loc[29882:34469]["date"]
kw2013_pre_pro_10.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_10.loc[34471:38910]["date"]
kw2013_pre_pro_10.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_10.loc[38912:43499]["date"]
kw2013_pre_pro_10.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_10.loc[43501:47940]["date"]
kw2013_pre_pro_10.loc[47942:]["date"] = "201512" + kw2013_pre_pro_10.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[:4587]["date"] = "201501" + kw2013_pre_pro_10.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_10.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_10.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_10.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_10.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_10.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_10.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_10.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_10.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_10.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_10.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/2962925493.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10.loc[47942:]["date"] = "201512" + kw2013_pre_pro_10.loc[47942:]["date"]

In [127]:
kw2013_pre_pro_10 = kw2013_pre_pro_10.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [128]:
kw2013_pre_pro_10["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [129]:
kw2013_pre_pro_10_fore4 = kw2013_pre_pro_10[kw2013_pre_pro_10['forecast']== 4.0]
kw2013_pre_pro_10_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          70.0
20  20150101   500.0       4.0          20.0
39  20150101   800.0       4.0          20.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          60.0

In [130]:
kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18291/4059861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_10_fore4['pre_pro_mean'] = kw2013_pre_pro_10_fore4['pre_pro_mean'].astype('float')

In [131]:
kw2013_pre_pro_10_final = pd.DataFrame(kw2013_pre_pro_10_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_10_fore4['date']).mean())

In [132]:
kw2013_pre_pro_10_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_10_final

         date  pre_pro_mean
0    20150101         48.75
1    20150102         12.50
2    20150103         17.50
3    20150104          7.50
4    20150105         47.50
..        ...           ...
350  20151227          7.50
351  20151228         17.50
352  20151229         12.50
353  20151230         38.75
354  20151231          7.50

[355 rows x 2 columns]

In [133]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_10_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         41.25
1     20150102         12.50
2     20150103         17.50
3     20150104          6.25
4     20150105         47.50
...        ...           ...
3545  20151227          7.50
3546  20151228         17.50
3547  20151229         12.50
3548  20151230         38.75
3549  20151231          7.50

[3550 rows x 2 columns]

In [134]:
kw2013_pre_pro_11

NameError: name 'kw2013_pre_pro_11' is not defined

In [137]:
kw2013_pre_pro_11.rename(columns={kw2013_pre_pro_11.columns[0]: 'date', kw2013_pre_pro_11.columns[3]: 'pre_pro_mean'}, inplace=True)

In [138]:
kw2013_pre_pro_11["date"] = kw2013_pre_pro_11["date"].str.replace(" ", "")

In [139]:
for i in range(len(kw2013_pre_pro_11["date"])):
    if len(kw2013_pre_pro_11["date"][i]) == 1:
        kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/539509719.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11["date"][i] = "0" + kw2013_pre_pro_11["date"][i]

In [140]:
kw2013_pre_pro_11.loc[:4587]["date"] = "201501" + kw2013_pre_pro_11.loc[:4587]["date"]
kw2013_pre_pro_11.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_11.loc[4589:8732]["date"]
kw2013_pre_pro_11.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_11.loc[8734:13321]["date"]
kw2013_pre_pro_11.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_11.loc[13323:17762]["date"]
kw2013_pre_pro_11.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_11.loc[17764:20850]["date"]
kw2013_pre_pro_11.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_11.loc[20852:25291]["date"]
kw2013_pre_pro_11.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_11.loc[25293:29880]["date"]
kw2013_pre_pro_11.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_11.loc[29882:34469]["date"]
kw2013_pre_pro_11.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_11.loc[34471:38910]["date"]
kw2013_pre_pro_11.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_11.loc[38912:43499]["date"]
kw2013_pre_pro_11.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_11.loc[43501:47940]["date"]
kw2013_pre_pro_11.loc[47942:]["date"] = "201512" + kw2013_pre_pro_11.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[:4587]["date"] = "201501" + kw2013_pre_pro_11.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_11.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_11.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_11.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_11.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_11.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_11.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_11.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_11.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_11.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_11.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2904383986.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11.loc[47942:]["date"] = "201512" + kw2013_pre_pro_11.loc[47942:]["date"]

In [141]:
kw2013_pre_pro_11 = kw2013_pre_pro_11.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [142]:
kw2013_pre_pro_11["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [143]:
kw2013_pre_pro_11_fore4 = kw2013_pre_pro_11[kw2013_pre_pro_11['forecast']== 4.0]
kw2013_pre_pro_11_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          60.0
20  20150101   500.0       4.0          20.0
39  20150101   800.0       4.0          20.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          20.0

In [144]:
kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1150492226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_11_fore4['pre_pro_mean'] = kw2013_pre_pro_11_fore4['pre_pro_mean'].astype('float')

In [145]:
kw2013_pre_pro_11_final = pd.DataFrame(kw2013_pre_pro_11_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_11_fore4['date']).mean())

In [146]:
kw2013_pre_pro_11_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_11_final

         date  pre_pro_mean
0    20150101         25.00
1    20150102         17.50
2    20150103         16.25
3    20150104          7.50
4    20150105         48.75
..        ...           ...
350  20151227          7.50
351  20151228         10.00
352  20151229          3.75
353  20151230         31.25
354  20151231          6.25

[355 rows x 2 columns]

In [147]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_11_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         25.00
1     20150102         17.50
2     20150103         16.25
3     20150104          7.50
4     20150105         48.75
...        ...           ...
3900  20151227          7.50
3901  20151228         10.00
3902  20151229          3.75
3903  20151230         31.25
3904  20151231          6.25

[3905 rows x 2 columns]

In [148]:
kw2013_pre_pro_12

       format: day    hour  forecast  value  location:54_61 Start : 20150101
0                1   200.0       4.0                                     68.0
1                1   200.0       7.0                                     19.0
2                1   200.0      10.0                                     19.0
3                1   200.0      13.0                                     19.0
4                1   200.0      16.0                                     19.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     20.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                      0.0
52529           31  2300.0      64.0                                      0.0

[52530 rows x 4 columns]

In [149]:
kw2013_pre_pro_12.rename(columns={kw2013_pre_pro_12.columns[0]: 'date', kw2013_pre_pro_12.columns[3]: 'pre_pro_mean'}, inplace=True)

In [150]:
kw2013_pre_pro_12["date"] = kw2013_pre_pro_12["date"].str.replace(" ", "")

In [151]:
for i in range(len(kw2013_pre_pro_12["date"])):
    if len(kw2013_pre_pro_12["date"][i]) == 1:
        kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1366203493.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12["date"][i] = "0" + kw2013_pre_pro_12["date"][i]

In [152]:
kw2013_pre_pro_12.loc[:4587]["date"] = "201501" + kw2013_pre_pro_12.loc[:4587]["date"]
kw2013_pre_pro_12.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_12.loc[4589:8732]["date"]
kw2013_pre_pro_12.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_12.loc[8734:13321]["date"]
kw2013_pre_pro_12.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_12.loc[13323:17762]["date"]
kw2013_pre_pro_12.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_12.loc[17764:20850]["date"]
kw2013_pre_pro_12.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_12.loc[20852:25291]["date"]
kw2013_pre_pro_12.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_12.loc[25293:29880]["date"]
kw2013_pre_pro_12.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_12.loc[29882:34469]["date"]
kw2013_pre_pro_12.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_12.loc[34471:38910]["date"]
kw2013_pre_pro_12.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_12.loc[38912:43499]["date"]
kw2013_pre_pro_12.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_12.loc[43501:47940]["date"]
kw2013_pre_pro_12.loc[47942:]["date"] = "201512" + kw2013_pre_pro_12.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[:4587]["date"] = "201501" + kw2013_pre_pro_12.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_12.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_12.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_12.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_12.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_12.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_12.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_12.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_12.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_12.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_12.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/1391423043.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12.loc[47942:]["date"] = "201512" + kw2013_pre_pro_12.loc[47942:]["date"]

In [153]:
kw2013_pre_pro_12 = kw2013_pre_pro_12.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [154]:
kw2013_pre_pro_12["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [155]:
kw2013_pre_pro_12_fore4 = kw2013_pre_pro_12[kw2013_pre_pro_12['forecast']== 4.0]
kw2013_pre_pro_12_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          68.0
20  20150101   500.0       4.0          19.0
39  20150101   800.0       4.0          19.0
57  20150101  1100.0       4.0          19.0
74  20150101  1400.0       4.0          19.0

In [156]:
kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/2304688448.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_12_fore4['pre_pro_mean'] = kw2013_pre_pro_12_fore4['pre_pro_mean'].astype('float')

In [157]:
kw2013_pre_pro_12_final = pd.DataFrame(kw2013_pre_pro_12_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_12_fore4['date']).mean())

In [158]:
kw2013_pre_pro_12_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_12_final

         date  pre_pro_mean
0    20150101        25.375
1    20150102        17.625
2    20150103        16.250
3    20150104         7.500
4    20150105        48.750
..        ...           ...
350  20151227        10.875
351  20151228        10.000
352  20151229         6.000
353  20151230        31.250
354  20151231        10.125

[355 rows x 2 columns]

In [159]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_12_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101        25.000
1     20150102        17.500
2     20150103        16.250
3     20150104         7.500
4     20150105        48.750
...        ...           ...
4255  20151227        10.875
4256  20151228        10.000
4257  20151229         6.000
4258  20151230        31.250
4259  20151231        10.125

[4260 rows x 2 columns]

In [160]:
kw2013_pre_pro_13

       format: day    hour  forecast  value  location:73_70 Start : 20150101
0                1   200.0       4.0                                     20.0
1                1   200.0       7.0                                     20.0
2                1   200.0      10.0                                     20.0
3                1   200.0      13.0                                     20.0
4                1   200.0      16.0                                     20.0
...            ...     ...       ...                                      ...
52525           31  2300.0      52.0                                     20.0
52526           31  2300.0      55.0                                     10.0
52527           31  2300.0      58.0                                     10.0
52528           31  2300.0      61.0                                     10.0
52529           31  2300.0      64.0                                     10.0

[52530 rows x 4 columns]

In [161]:
kw2013_pre_pro_13.rename(columns={kw2013_pre_pro_13.columns[0]: 'date', kw2013_pre_pro_13.columns[3]: 'pre_pro_mean'}, inplace=True)

In [162]:
kw2013_pre_pro_13["date"] = kw2013_pre_pro_13["date"].str.replace(" ", "")

In [163]:
for i in range(len(kw2013_pre_pro_13["date"])):
    if len(kw2013_pre_pro_13["date"][i]) == 1:
        kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/129078978.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13["date"][i] = "0" + kw2013_pre_pro_13["date"][i]

In [164]:
kw2013_pre_pro_13.loc[:4587]["date"] = "201501" + kw2013_pre_pro_13.loc[:4587]["date"]
kw2013_pre_pro_13.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_13.loc[4589:8732]["date"]
kw2013_pre_pro_13.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_13.loc[8734:13321]["date"]
kw2013_pre_pro_13.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_13.loc[13323:17762]["date"]
kw2013_pre_pro_13.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_13.loc[17764:20850]["date"]
kw2013_pre_pro_13.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_13.loc[20852:25291]["date"]
kw2013_pre_pro_13.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_13.loc[25293:29880]["date"]
kw2013_pre_pro_13.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_13.loc[29882:34469]["date"]
kw2013_pre_pro_13.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_13.loc[34471:38910]["date"]
kw2013_pre_pro_13.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_13.loc[38912:43499]["date"]
kw2013_pre_pro_13.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_13.loc[43501:47940]["date"]
kw2013_pre_pro_13.loc[47942:]["date"] = "201512" + kw2013_pre_pro_13.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[:4587]["date"] = "201501" + kw2013_pre_pro_13.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_13.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_13.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_13.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_13.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_13.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_13.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_13.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_13.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_13.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_13.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/198299735.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13.loc[47942:]["date"] = "201512" + kw2013_pre_pro_13.loc[47942:]["date"]

In [165]:
kw2013_pre_pro_13 = kw2013_pre_pro_13.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [166]:
kw2013_pre_pro_13["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [167]:
kw2013_pre_pro_13_fore4 = kw2013_pre_pro_13[kw2013_pre_pro_13['forecast']== 4.0]
kw2013_pre_pro_13_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0          20.0
20  20150101   500.0       4.0          20.0
39  20150101   800.0       4.0          20.0
57  20150101  1100.0       4.0          20.0
74  20150101  1400.0       4.0          20.0

In [168]:
kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18277/775032964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_13_fore4['pre_pro_mean'] = kw2013_pre_pro_13_fore4['pre_pro_mean'].astype('float')

In [169]:
kw2013_pre_pro_13_final = pd.DataFrame(kw2013_pre_pro_13_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_13_fore4['date']).mean())

In [170]:
kw2013_pre_pro_13_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_13_final

         date  pre_pro_mean
0    20150101         20.00
1    20150102          8.75
2    20150103         16.25
3    20150104          7.50
4    20150105         41.25
..        ...           ...
350  20151227          3.75
351  20151228          7.50
352  20151229          3.75
353  20151230         23.75
354  20151231          2.50

[355 rows x 2 columns]

In [171]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_13_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         25.00
1     20150102         17.50
2     20150103         16.25
3     20150104          7.50
4     20150105         48.75
...        ...           ...
4610  20151227          3.75
4611  20151228          7.50
4612  20151229          3.75
4613  20151230         23.75
4614  20151231          2.50

[4615 rows x 2 columns]

In [172]:
kw2013_pre_pro_14

NameError: name 'kw2013_pre_pro_14' is not defined

In [173]:
kw2013_pre_pro_14.rename(columns={kw2013_pre_pro_14.columns[0]: 'date', kw2013_pre_pro_14.columns[3]: 'pre_pro_mean'}, inplace=True)

NameError: name 'kw2013_pre_pro_14' is not defined

In [172]:
kw2013_pre_pro_14["date"] = kw2013_pre_pro_14["date"].str.replace(" ", "")

In [173]:
for i in range(len(kw2013_pre_pro_14["date"])):
    if len(kw2013_pre_pro_14["date"][i]) == 1:
        kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/713368573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14["date"][i] = "0" + kw2013_pre_pro_14["date"][i]

In [174]:
kw2013_pre_pro_14.loc[:4587]["date"] = "201501" + kw2013_pre_pro_14.loc[:4587]["date"]
kw2013_pre_pro_14.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_14.loc[4589:8732]["date"]
kw2013_pre_pro_14.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_14.loc[8734:13321]["date"]
kw2013_pre_pro_14.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_14.loc[13323:17762]["date"]
kw2013_pre_pro_14.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_14.loc[17764:20850]["date"]
kw2013_pre_pro_14.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_14.loc[20852:25291]["date"]
kw2013_pre_pro_14.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_14.loc[25293:29880]["date"]
kw2013_pre_pro_14.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_14.loc[29882:34469]["date"]
kw2013_pre_pro_14.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_14.loc[34471:38910]["date"]
kw2013_pre_pro_14.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_14.loc[38912:43499]["date"]
kw2013_pre_pro_14.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_14.loc[43501:47940]["date"]
kw2013_pre_pro_14.loc[47942:]["date"] = "201512" + kw2013_pre_pro_14.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[:4587]["date"] = "201501" + kw2013_pre_pro_14.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_14.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_14.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_14.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_14.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_14.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_14.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_14.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_14.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_14.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_14.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4124722525.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14.loc[47942:]["date"] = "201512" + kw2013_pre_pro_14.loc[47942:]["date"]

In [175]:
kw2013_pre_pro_14 = kw2013_pre_pro_14.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [176]:
kw2013_pre_pro_14["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [177]:
kw2013_pre_pro_14_fore4 = kw2013_pre_pro_14[kw2013_pre_pro_14['forecast']== 4.0]
kw2013_pre_pro_14_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0           0.0
57  20150101  1100.0       4.0          10.0
74  20150101  1400.0       4.0          20.0

In [178]:
kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/4057269680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_14_fore4['pre_pro_mean'] = kw2013_pre_pro_14_fore4['pre_pro_mean'].astype('float')

In [179]:
kw2013_pre_pro_14_final = pd.DataFrame(kw2013_pre_pro_14_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_14_fore4['date']).mean())

In [180]:
kw2013_pre_pro_14_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_14_final

         date  pre_pro_mean
0    20150101         11.25
1    20150102          2.50
2    20150103         15.00
3    20150104          7.50
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          0.00
352  20151229         10.00
353  20151230         33.75
354  20151231          1.25

[355 rows x 2 columns]

In [181]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_14_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         15.00
3     20150104          7.50
4     20150105         38.75
...        ...           ...
4965  20151227          0.00
4966  20151228          0.00
4967  20151229         10.00
4968  20151230         33.75
4969  20151231          1.25

[4970 rows x 2 columns]

In [182]:
kw2013_pre_pro_15

       format: day    hour  forecast  value  location:87_112 Start : 20150101
0                1   200.0       4.0                                       0.0
1                1   200.0       7.0                                       0.0
2                1   200.0      10.0                                       0.0
3                1   200.0      13.0                                       0.0
4                1   200.0      16.0                                      10.0
...            ...     ...       ...                                       ...
52525           31  2300.0      52.0                                      10.0
52526           31  2300.0      55.0                                      10.0
52527           31  2300.0      58.0                                       0.0
52528           31  2300.0      61.0                                       0.0
52529           31  2300.0      64.0                                       0.0

[52530 rows x 4 columns]

In [183]:
kw2013_pre_pro_15.rename(columns={kw2013_pre_pro_15.columns[0]: 'date', kw2013_pre_pro_15.columns[3]: 'pre_pro_mean'}, inplace=True)

In [184]:
kw2013_pre_pro_15["date"] = kw2013_pre_pro_15["date"].str.replace(" ", "")

In [185]:
for i in range(len(kw2013_pre_pro_15["date"])):
    if len(kw2013_pre_pro_15["date"][i]) == 1:
        kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/1553633085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15["date"][i] = "0" + kw2013_pre_pro_15["date"][i]

In [186]:
kw2013_pre_pro_15.loc[:4587]["date"] = "201501" + kw2013_pre_pro_15.loc[:4587]["date"]
kw2013_pre_pro_15.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_15.loc[4589:8732]["date"]
kw2013_pre_pro_15.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_15.loc[8734:13321]["date"]
kw2013_pre_pro_15.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_15.loc[13323:17762]["date"]
kw2013_pre_pro_15.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_15.loc[17764:20850]["date"]
kw2013_pre_pro_15.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_15.loc[20852:25291]["date"]
kw2013_pre_pro_15.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_15.loc[25293:29880]["date"]
kw2013_pre_pro_15.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_15.loc[29882:34469]["date"]
kw2013_pre_pro_15.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_15.loc[34471:38910]["date"]
kw2013_pre_pro_15.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_15.loc[38912:43499]["date"]
kw2013_pre_pro_15.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_15.loc[43501:47940]["date"]
kw2013_pre_pro_15.loc[47942:]["date"] = "201512" + kw2013_pre_pro_15.loc[47942:]["date"]

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[:4587]["date"] = "201501" + kw2013_pre_pro_15.loc[:4587]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[4589:8732]["date"] = "201502" + kw2013_pre_pro_15.loc[4589:8732]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[8734:13321]["date"] = "201503" + kw2013_pre_pro_15.loc[8734:13321]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[13323:17762]["date"] = "201504" + kw2013_pre_pro_15.loc[13323:17762]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[17764:20850]["date"] = "201505" + kw2013_pre_pro_15.loc[17764:20850]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[20852:25291]["date"] = "201506" + kw2013_pre_pro_15.loc[20852:25291]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[25293:29880]["date"] = "201507" + kw2013_pre_pro_15.loc[25293:29880]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[29882:34469]["date"] = "201508" + kw2013_pre_pro_15.loc[29882:34469]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[34471:38910]["date"] = "201509" + kw2013_pre_pro_15.loc[34471:38910]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[38912:43499]["date"] = "201510" + kw2013_pre_pro_15.loc[38912:43499]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[43501:47940]["date"] = "201511" + kw2013_pre_pro_15.loc[43501:47940]["date"]
/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/274654532.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15.loc[47942:]["date"] = "201512" + kw2013_pre_pro_15.loc[47942:]["date"]

In [187]:
kw2013_pre_pro_15 = kw2013_pre_pro_15.drop([4588, 8733, 13322, 17763, 20851, 25292, 29881, 34470, 38911, 43500, 47941], axis = 0)

In [188]:
kw2013_pre_pro_15["date"].value_counts()

20150101    148
20151004    148
20150910    148
20150909    148
20150908    148
           ...
20150427    148
20150426    148
20150425    148
20151231    148
20150521    127
Name: date, Length: 355, dtype: int64

In [189]:
kw2013_pre_pro_15_fore4 = kw2013_pre_pro_15[kw2013_pre_pro_15['forecast']== 4.0]
kw2013_pre_pro_15_fore4.head()

        date    hour  forecast  pre_pro_mean
0   20150101   200.0       4.0           0.0
20  20150101   500.0       4.0           0.0
39  20150101   800.0       4.0           0.0
57  20150101  1100.0       4.0           0.0
74  20150101  1400.0       4.0          10.0

In [190]:
kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

/var/folders/1b/6fw3j9nd4_qgymn82k3hygww0000gn/T/ipykernel_18164/1564039965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kw2013_pre_pro_15_fore4['pre_pro_mean'] = kw2013_pre_pro_15_fore4['pre_pro_mean'].astype('float')

In [191]:
kw2013_pre_pro_15_final = pd.DataFrame(kw2013_pre_pro_15_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_15_fore4['date']).mean())

In [192]:
kw2013_pre_pro_15_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_15_final

         date  pre_pro_mean
0    20150101          7.50
1    20150102          1.25
2    20150103         16.25
3    20150104          7.50
4    20150105         38.75
..        ...           ...
350  20151227          0.00
351  20151228          0.00
352  20151229          7.50
353  20151230         30.00
354  20151231          0.00

[355 rows x 2 columns]

In [193]:
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_15_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

          date  pre_pro_mean
0     20150101         11.25
1     20150102          2.50
2     20150103         15.00
3     20150104          7.50
4     20150105         38.75
...        ...           ...
5320  20151227          0.00
5321  20151228          0.00
5322  20151229          7.50
5323  20151230         30.00
5324  20151231          0.00

[5325 rows x 2 columns]

In [88]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '충북'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20150101   충북     19.875000
1    20150102   충북      3.104167
2    20150103   충북     16.541667
3    20150104   충북      7.833333
4    20150105   충북     39.166667
..        ...  ...           ...
350  20151227   충북      0.166667
351  20151228   충북      3.958333
352  20151229   충북     11.333333
353  20151230   충북     40.208333
354  20151231   충북      2.125000

[355 rows x 3 columns]

In [89]:
pre_pro.to_csv('cb.csv', index=False)

In [115]:
num1 = pd.read_csv('gw.csv')
num2 = pd.read_csv('gg.csv')
num3 = pd.read_csv('gn.csv')
num4 = pd.read_csv('gb.csv')
num5 = pd.read_csv('gj.csv')
num6 = pd.read_csv('dg.csv')
num7 = pd.read_csv('dj.csv')
num8 = pd.read_csv('bs.csv')
num9 = pd.read_csv('su.csv')
num10 = pd.read_csv('sj.csv')
num11 = pd.read_csv('us.csv')
num12 = pd.read_csv('ic.csv')
num13 = pd.read_csv('jn.csv')
num14 = pd.read_csv('jb.csv')
num15 = pd.read_csv('jj.csv')
num16 = pd.read_csv('cn.csv')
num17 = pd.read_csv('cb.csv')

In [99]:
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      8.241071
1     20140102   강원     11.785714
2     20140103   강원     22.821429
3     20140104   강원     31.616071
4     20140105   강원      5.598214
...        ...  ...           ...
1090  20141227   경기     13.250000
1091  20141228   경기     24.950000
1092  20141229   경기     14.025000
1093  20141230   경기     18.675000
1094  20141231   경기      2.500000

[1095 rows x 3 columns]

In [116]:
pre_pro_2014 = pd.DataFrame(num1)
pre_pro_2014

         date area  pre_pro_mean
0    20140101   강원      8.241071
1    20140102   강원     11.785714
2    20140103   강원     22.821429
3    20140104   강원     31.616071
4    20140105   강원      5.598214
..        ...  ...           ...
360  20141227   강원     12.964286
361  20141228   강원     22.767857
362  20141229   강원     15.517857
363  20141230   강원     14.982143
364  20141231   강원      2.678571

[365 rows x 3 columns]

In [117]:
pre_pro_2014 = pd.concat([pre_pro_2014, num2], axis = 0, ignore_index=True)

In [118]:
pre_pro_2014 = pd.concat([pre_pro_2014, num3], axis = 0, ignore_index=True)

In [119]:
pre_pro_2014 = pd.concat([pre_pro_2014, num4], axis = 0, ignore_index=True)

In [120]:
pre_pro_2014 = pd.concat([pre_pro_2014, num5], axis = 0, ignore_index=True)

In [121]:
pre_pro_2014 = pd.concat([pre_pro_2014, num6], axis = 0, ignore_index=True)

In [122]:
pre_pro_2014 = pd.concat([pre_pro_2014, num7], axis = 0, ignore_index=True)

In [123]:
pre_pro_2014 = pd.concat([pre_pro_2014, num8], axis = 0, ignore_index=True)

In [124]:
pre_pro_2014 = pd.concat([pre_pro_2014, num9], axis = 0, ignore_index=True)

In [125]:
pre_pro_2014 = pd.concat([pre_pro_2014, num10], axis = 0, ignore_index=True)

In [126]:
pre_pro_2014 = pd.concat([pre_pro_2014, num11], axis = 0, ignore_index=True)

In [127]:
pre_pro_2014 = pd.concat([pre_pro_2014, num12], axis = 0, ignore_index=True)

In [128]:
pre_pro_2014 = pd.concat([pre_pro_2014, num13], axis = 0, ignore_index=True)

In [129]:
pre_pro_2014 = pd.concat([pre_pro_2014, num14], axis = 0, ignore_index=True)

In [130]:
pre_pro_2014 = pd.concat([pre_pro_2014, num15], axis = 0, ignore_index=True)

In [131]:
pre_pro_2014 = pd.concat([pre_pro_2014, num16], axis = 0, ignore_index=True)

In [132]:
pre_pro_2014 = pd.concat([pre_pro_2014, num17], axis = 0, ignore_index=True)

In [133]:
pre_pro_2014

          date area  pre_pro_mean
0     20140101   강원      8.241071
1     20140102   강원     11.785714
2     20140103   강원     22.821429
3     20140104   강원     31.616071
4     20140105   강원      5.598214
...        ...  ...           ...
6200  20141227   충북     12.416667
6201  20141228   충북     25.250000
6202  20141229   충북     10.000000
6203  20141230   충북     30.812500
6204  20141231   충북     12.583333

[6205 rows x 3 columns]

In [135]:
pre_pro_2014['date'].value_counts()

20140101    17
20140909    17
20140907    17
20140906    17
20140905    17
            ..
20140501    17
20140430    17
20140429    17
20140428    17
20141231    17
Name: date, Length: 365, dtype: int64

In [136]:
pre_pro_2014.to_csv('pre_pro_2014.csv', index=False)