In [1]:
import os

try:
    file_list = os.chdir("/Users/cha/Desktop/공모전/날씨 빅데이터 콘테스트/data1/예보데이터")
    print("Directory changed")
except OSError:
    print("Can't change the Current Working Directory")

Directory changed

In [2]:
import glob

In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
kw2013_pre_pro = glob.glob(os.path.join("2016/울산", "*_강수형태_201601_201612.csv"))

In [5]:
kw2013_pre_pro

['2016/울산/병영2동_강수형태_201601_201612.csv']

In [6]:
print(len(kw2013_pre_pro))

1

In [7]:
j=1
for i in kw2013_pre_pro:
    globals()['kw2013_pre_pro_{}'.format(j)] = pd.read_csv(i)
    j += 1

In [8]:
kw2013_pre_pro_1

        format: day  hour forecast value  location:102_85 Start : 20160101
0                 1  0200       +4                                0.000000
1                 1  0200       +7                                0.000000
2                 1  0200      +10                                0.000000
3                 1  0200      +13                                0.000000
4                 1  0200      +16                                0.000000
...             ...   ...      ...                                      ...
108354           31  2300      +52                                0.000000
108355           31  2300      +55                                0.000000
108356           31  2300      +58                                0.000000
108357           31  2300      +61                                0.000000
108358           31  2300      +64                                0.000000

[108359 rows x 4 columns]

In [9]:
kw2013_pre_pro_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108359 entries, 0 to 108358
Data columns (total 4 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0    format: day                              108359 non-null  object
 1   hour                                      108337 non-null  object
 2   forecast                                  108337 non-null  object
 3   value  location:102_85 Start : 20160101   108337 non-null  object
dtypes: object(4)
memory usage: 3.3+ MB

In [10]:
kw2013_pre_pro_1.rename(columns={kw2013_pre_pro_1.columns[0]: 'date', kw2013_pre_pro_1.columns[3]: 'pre_pro_mean'}, inplace=True)

In [11]:
kw2013_pre_pro_1["date"] = kw2013_pre_pro_1["date"].str.replace(" ", "")

In [12]:
for i in range(len(kw2013_pre_pro_1["date"])):
    if len(kw2013_pre_pro_1["date"][i]) == 1:
        kw2013_pre_pro_1["date"][i] = "0" + kw2013_pre_pro_1["date"][i]

In [13]:
print(kw2013_pre_pro_1.loc[(kw2013_pre_pro_1['date'] == 'Start:20160201') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160301') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160401') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160501') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160601') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160701') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160801') |
                           (kw2013_pre_pro_1['date'] == 'Start:20160901') |
                           (kw2013_pre_pro_1['date'] == 'Start:20161001') |
                           (kw2013_pre_pro_1['date'] == 'Start:20161101') |
                           (kw2013_pre_pro_1['date'] == 'Start:20161201')])

                  date hour forecast pre_pro_mean
4588    Start:20160201  NaN      NaN          NaN
8881    Start:20160301  NaN      NaN          NaN
13470   Start:20160401  NaN      NaN          NaN
17911   Start:20160501  NaN      NaN          NaN
22500   Start:20160601  NaN      NaN          NaN
26941   Start:20160701  NaN      NaN          NaN
31530   Start:20160801  NaN      NaN          NaN
36119   Start:20160901  NaN      NaN          NaN
40560   Start:20161001  NaN      NaN          NaN
45149   Start:20161101  NaN      NaN          NaN
49590   Start:20161201  NaN      NaN          NaN
58768   Start:20160201  NaN      NaN          NaN
63061   Start:20160301  NaN      NaN          NaN
67650   Start:20160401  NaN      NaN          NaN
72091   Start:20160501  NaN      NaN          NaN
76680   Start:20160601  NaN      NaN          NaN
81121   Start:20160701  NaN      NaN          NaN
85710   Start:20160801  NaN      NaN          NaN
90299   Start:20160901  NaN      NaN          NaN
94740   Start:20161001  NaN      NaN          NaN
99329   Start:20161101  NaN      NaN          NaN
103770  Start:20161201  NaN      NaN          NaN

In [14]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.loc[:58767]

In [15]:
kw2013_pre_pro_1.loc[:4587]["date"] = "201601" + kw2013_pre_pro_1.loc[:4587]["date"]
kw2013_pre_pro_1.loc[4589:8880]["date"] = "201602" + kw2013_pre_pro_1.loc[4589:8880]["date"]
kw2013_pre_pro_1.loc[8882:13469]["date"] = "201603" + kw2013_pre_pro_1.loc[8882:13469]["date"]
kw2013_pre_pro_1.loc[13471:17910]["date"] = "201604" + kw2013_pre_pro_1.loc[13471:17910]["date"]
kw2013_pre_pro_1.loc[17912:22499]["date"] = "201605" + kw2013_pre_pro_1.loc[17912:22499]["date"]
kw2013_pre_pro_1.loc[22501:26940]["date"] = "201606" + kw2013_pre_pro_1.loc[22501:26940]["date"]
kw2013_pre_pro_1.loc[26942:31529]["date"] = "201607" + kw2013_pre_pro_1.loc[26942:31529]["date"]
kw2013_pre_pro_1.loc[31531:36118]["date"] = "201608" + kw2013_pre_pro_1.loc[31531:36118]["date"]
kw2013_pre_pro_1.loc[36120:40559]["date"] = "201609" + kw2013_pre_pro_1.loc[36120:40559]["date"]
kw2013_pre_pro_1.loc[40561:45148]["date"] = "201610" + kw2013_pre_pro_1.loc[40561:45148]["date"]
kw2013_pre_pro_1.loc[45150:49589]["date"] = "201611" + kw2013_pre_pro_1.loc[45150:49589]["date"]
kw2013_pre_pro_1.loc[49591:58767]["date"] = "201612" + kw2013_pre_pro_1.loc[49591:58767]["date"]

In [16]:
kw2013_pre_pro_1[kw2013_pre_pro_1["date"] == '201612format:day'].index

Int64Index([54179], dtype='int64')

In [17]:
kw2013_pre_pro_1 = kw2013_pre_pro_1.drop([4588, 8881, 13470, 17911, 22500, 26941, 31530, 36119, 40560, 45149, 49590,54179], axis = 0)

In [18]:
kw2013_pre_pro_1["date"].value_counts()

20161231    296
20161216    296
20161201    296
20161202    296
20161203    296
           ...
20160430    148
20160429    148
20160428    148
20160427    148
20160702    148
Name: date, Length: 366, dtype: int64

In [19]:
kw2013_pre_pro_1_fore4 = kw2013_pre_pro_1[kw2013_pre_pro_1['forecast']== '+4']
kw2013_pre_pro_1_fore4.head()

        date  hour forecast pre_pro_mean
0   20160101  0200       +4    0.000000
20  20160101  0500       +4    0.000000
39  20160101  0800       +4    0.000000
57  20160101  1100       +4    0.000000
74  20160101  1400       +4    0.000000

In [20]:
kw2013_pre_pro_1_fore4['pre_pro_mean'] = kw2013_pre_pro_1_fore4['pre_pro_mean'].astype('float')

In [21]:
kw2013_pre_pro_1_final = pd.DataFrame(kw2013_pre_pro_1_fore4['pre_pro_mean'].groupby(kw2013_pre_pro_1_fore4['date']).mean())

In [22]:
kw2013_pre_pro_1_final.reset_index(level=['date'], inplace = True)
kw2013_pre_pro_1_final

         date  pre_pro_mean
0    20160101        0.0000
1    20160102        0.0000
2    20160103        0.0000
3    20160104        0.0000
4    20160105        0.0000
..        ...           ...
361  20161227        0.0000
362  20161228        0.4375
363  20161229        0.3750
364  20161230        0.0000
365  20161231        0.0000

[366 rows x 2 columns]

In [23]:
kw2013_pre_pro_final = pd.DataFrame()
kw2013_pre_pro_final = pd.concat([kw2013_pre_pro_final, kw2013_pre_pro_1_final], axis = 0, ignore_index=True)
kw2013_pre_pro_final

         date  pre_pro_mean
0    20160101        0.0000
1    20160102        0.0000
2    20160103        0.0000
3    20160104        0.0000
4    20160105        0.0000
..        ...           ...
361  20161227        0.0000
362  20161228        0.4375
363  20161229        0.3750
364  20161230        0.0000
365  20161231        0.0000

[366 rows x 2 columns]

In [24]:
pre_pro = pd.DataFrame(kw2013_pre_pro_final['pre_pro_mean'].groupby(kw2013_pre_pro_final['date']).mean())
pre_pro.reset_index(level=['date'], inplace = True)
pre_pro['area'] = '울산'
pre_pro = pre_pro[['date', 'area', 'pre_pro_mean']]
pre_pro

         date area  pre_pro_mean
0    20160101   울산        0.0000
1    20160102   울산        0.0000
2    20160103   울산        0.0000
3    20160104   울산        0.0000
4    20160105   울산        0.0000
..        ...  ...           ...
361  20161227   울산        0.0000
362  20161228   울산        0.4375
363  20161229   울산        0.3750
364  20161230   울산        0.0000
365  20161231   울산        0.0000

[366 rows x 3 columns]

In [25]:
pre_pro.to_csv('us.csv', index=False)